// --------------------------------------------------
// Import core stuff
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";



// --------------------------------------------------
// Import other stuff
// --------------------------------------------------

@import "../../node_modules/leaflet/dist/leaflet.css";
@import "../../node_modules/leaflet.markercluster/dist/MarkerCluster.css";
@import "../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";



// --------------------------------------------------
// General layout
// --------------------------------------------------

body {
  margin: 0;
  background-color: @colorGrayLighter;
  // Brand typo
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}



// --------------------------------------------------
// Components customisation
// --------------------------------------------------

// Card

.el-card {
  border: 1px solid  @colorGrayLight;
  border-radius: 0;
  box-shadow: 0 1px 0 @colorGrayLight !important;

  &.rounded {
    border-radius: 3px;
  }

  .el-card__header {
    padding: 0 20px;
    height: 48px;
    line-height: 48px;
    font-size: @fontSizeLarge;
    font-weight: 700;
    text-align: center;
    color: @colorWhite;
    border: none;
    background-color: @colorBrandPrimary;
  }

  .cardActions {
    padding: 12px;
    border-top: 1px solid @colorGrayLight;
    background-color: @colorGrayLighter;

    button, .el-button {
      margin: 0;
    }

    .primaryAction .el-button {
      float: right;
    }
  }
}

// Button

.el-button {
  border-radius: 0 !important;
}

// Form

fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  .Legend {
    margin: 0 0 20px;
    font-size: @fontSizeBase;
    font-weight: 700;
    color: @colorTextMuted;
  }
}

.el-form {
  .el-input {
    font-family: Arial, sans-serif;
  }
}
