// --------------------------------------------------
// Import: core stuff
// --------------------------------------------------
@import "variables.less";
@import "mixins.less";

// --------------------------------------------------
// Import: other stuff
// --------------------------------------------------
@import "../../node_modules/leaflet/dist/leaflet.css";
@import "../../node_modules/leaflet.markercluster/dist/MarkerCluster.css";
@import "../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";

// --------------------------------------------------
// General layout
// --------------------------------------------------
body {
  margin: 0 0;
}

.HeaderBtn {
  display: block;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 80px;
  text-decoration: none;
}
