// Used for theming & styling element-ui



/* Colors -------------------------- */
$--color-primary: #008DC9;
$--color-accent: #DC7036;

$--color-text-primary: #474747;
$--color-text-regular: #474747;
$--color-text-secondary: #6D6D6D;
$--color-text-placeholder: #B9B9B9;

/* Background -------------------------- */
$--background-color-base: #F2F2F2;

/* Border -------------------------- */
$--border-color-base: #9B9B9B;
$--border-color-hover: #B9B9B9;
$--border-radius-base: 0;
$--border-radius-small: 0;

/* Font -------------------------- */

$--font-size-base: 14px;
$--font-size-small: 12px;
$--font-size-large: 18px;
$--font-color-disabled-base: #B9B9B9;
$--font-weight-primary: 700;
$--font-line-height-primary: 24px;

/* Button -------------------------- */

$--button-medium-font-size: 16px;
$--button-medium-padding-vertical: 12px;
$--button-padding-horizontal: 18px;

$--button-primary-border: $--color-accent;
$--button-primary-fill: $--color-accent;

$--button-default-color: #FFFFFF;
$--button-default-fill: $--color-primary;
$--button-default-border: $--color-primary;



// Keep this as last
$--font-path: '../../node_modules/element-ui/lib/theme-chalk/fonts';
@import "../../node_modules/element-ui/packages/theme-chalk/src/index";
