/* Colors ------------------------------- */

@colorBrandPrimary:            #339FDD;
@colorBrandPrimaryDark:        #1C5F89;
@colorBrandAccent:             #DC7036;
@colorBrandGrayDark:           #414C52;
@colorBrandBlueLight:          #E9F1F7;

@colorTextPrimary:             #474747;
@colorTextSecondary:           #6D6D6D;
@colorTextMuted:               #B9B9B9;

@colorGrayLight:               #D6D6D6;
@colorGrayLighter:             #F2F2F2;
@colorWhite:                   #FFFFFF;



/* Scaffolding -------------------------- */

@fontSizeBase:                 14px;
@fontSizeSmall:                12px;
@fontSizeLarge:                18px;
@fontSizeLarger:               20px;
@fontSizeTitle:                24px;
@fontSizeHeading:              32px;

@screenWidthLimit:             1280px;

@cardSizeSmall:                560px;
