@import '../../variables';
@import '../../mixins';

$coverage-height:60px;
$strategies-height:60px;

new-project {
  height: auto !important;
  padding:16px;
  flex: 1 0 auto !important;

  .axis1 {
    background-color: $color-axis1;
  }
  .axis2 {
    background-color: $color-axis2;
  }
  .axis3 {
    background-color: $color-axis3;
  }
  .axis4 {
    background-color: $color-axis4;
  }
  .axis5 {
    background-color: $color-axis5;
  }
  .axis6 {
    background-color: $color-axis6;
  }

  .autocomplete-errors {
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    opacity: 1;
    margin-top: 0;
    padding-top: 5px;
    color: rgb(221,44,0)
  }

  .autocomplete-organisation {
    margin-bottom: 20px;
  }


  .new-edit-project {
    flex: 1 0 auto !important;
  }

  .interoperability-links {
    md-input-container{
      margin: 0;
    }
  }

  .error {

    .md-select-value {
      border-color: rgb(221,44,0);
    }

    div [ng-message] {
      position:relative;
      top: -15px;
      left: 5px;
      font-size: 12px;
      line-height: 14px;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
      opacity: 1;
      color: rgb(221,44,0);
    }
  }



  .disabled {
    opacity:0.5;
    pointer-events: none;
  }

  .red md-icon {
    color: $color-red;
  }

  .wrapper {
    background: $color-white;
    flex: 1 0 auto !important;

    form {
      flex: 1 0 auto !important;
    }
  }

  h4 {
    height: 55px;
    background: #EEEEEE;
    line-height: 55px;
    padding-left:20px;
    border-bottom: 1px solid $color-gray-light;
  }

  .main-form {
    padding-bottom:50px;
    margin-bottom:50px;
    border-bottom: 1px solid $color-gray;
    flex: 1 0 auto !important;

    > md-input-container {
      width: 700px;
    }

    .similar-project {
      position: relative;
      top: -20px;
      min-height: 50px;
      margin-left: 50px;
      color: $text-secondary;

      .similar-label {
        display: block;
        margin-bottom: 5px;
        font-size: $caption-font-size-base;
      }

      .similar-link {
        color: $color-primary;
        text-decoration: none;
      }
    }

    .chipper {

      margin: 18px 0;
      .md-chips .md-chip-input-container md-autocomplete input {
        width: 450px;
      }
    }

    .strategies {
      height:70px;
      margin-bottom: 40px;

      md-input-container {
        width: 600px;
      }

      .separator {
        padding-left: 20px;
        padding-right: 20px;
        height:70px;
        line-height: 70px;
        color: $color-gray;
      }
    }

    .countries md-input-container {
        width: 600px;
    }

    > p {
      width: 60%;
    }

    .other {
      width: 40%;
    }
  }

  .coverage {

    height:$coverage-height;

    > span {
      line-height: $coverage-height + 10px;
      height: $coverage-height;
      margin-right:5px;
      margin-left: 5px;
      color: $color-gray;
    }

    > .md-button {
      margin-top:20px;
    }

    ssmenu {
      height:$coverage-height;
    }

  }

  .strategies {
    height:$strategies-height;

    md-select .md-text {
      padding-right: 0px;
    }

    > span {
      line-height: $strategies-height + 10px;
      height: $strategies-height;
      margin-right:5px;
      margin-left: 5px;
      color: $color-gray;
    }
  }

  .assessment {
    height: 155px;
    border-bottom: 1px solid $color-gray-light;

    &:last-child {
      border-bottom: 0;
    }

    p {
      margin: 0 0 20px;
      font-size:16px;
      padding-right: 10px;
    }

    div [ng-message] {
      position:relative;
      top: 5px;
      left: 0px;
      font-size: 12px;
      line-height: 14px;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
      opacity: 1;
      color: rgb(221,44,0);
    }
  }

  .axis-description {
    height: 100%;
    padding: 25px 0 25px 50px;
    @include clearfix();

    img {
      width: 35px;
      height: 35px;
      float: left;
      margin-top: 5px;
      margin-right: 15px;
      padding:10px;
    }

    h6 {
      margin: 0;
    }

    p {
      float:left;
      width: 285px;
      margin: 5px 0 0;
      font-size:12px;
    }
  }


  .hint {
    font-size: 12px;
    padding-top:5px;
    color: $color-gray;
  }

  .coverage-section {

    margin-bottom: 60px;

    p {
      width:560px;
    }

    .coverage {

      .number {
        width: 80px;
      }
      .separator {
        padding-left:20px;
        padding-right:20px;
      }

      .type {
        width:200px;

        md-input-container {
          width: 100%;
        }
      }

      .other {
        width:200px;
      }

      .district {
        width:200px;

        md-input-container {
          width: 100%;
        }
      }
    }

  }


  .start-date {



  }

  .resources {

    md-input-container {
      margin: 0px 0;
    }

    h6 {
      margin-top: 30px;
    }

    .file-row {
      height: 20px;
      margin-bottom:30px;

      .intro {
        margin-right: 40px;
      }
    }

    .button {
      line-height: 20px;
      color: $color-primary;
      font-weight: 500;
      font-size:14px;
      text-transform: uppercase;
      cursor:pointer;

      md-icon {
        color: $color-primary;
      }

      &.filename {
        text-transform: none;
      }

    }

    .selector {
      margin-right: 35px;
    }

    .filesize {
      line-height: 20px;
      font-size:12px;
      color: $color-gray-light;
    }
  }

  .vision {

    &>div {
      margin-bottom: 20px;
    }
  }

  .checkbox-container {
    flex-wrap: wrap;

    md-checkbox {
      display: flex;
      align-items: center;
      .md-container {
        flex-basis: 10;
      }
      .md-label {
        vertical-align: middle;
      }
    }

  }

  .my-projects {
    border-top: 1px solid $color-gray-light;
    background: $color-gray-lightest;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;

    h5 {
      font-size:20px;
      font-weight: 500;
    }

    md-card {
      margin:0;
      margin-bottom: 30px;
    }
  }

  .custom-error {
    position:relative;
    top: -5px;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    opacity: 1;
    color: rgb(221,44,0);
  }

  .md-primary {
    color: $color-primary!important;
    md-icon {
      color: $color-primary!important;
    }
    .md-label {
      color: $text-primary!important;
    }
    &.md-raised {
      background-color: $color-primary!important;
      color: white!important;
      md-icon {
        color: white!important;
      }
    }
  }

  md-checkbox[checked="checked"]{
    .md-icon {
      background-color: $color-primary!important;
    }
  }
}
