<div layout="column" class="new-edit-project" layout-fill layout-align="start center" >
    <div class="page-title" ng-hide="vm.editMode">
        <h1 class="md-display-1 text-center">Add new project sheet</h1>
        <h6 class="md-subhead text-center">Please complete the following information before beginning the self-assessment process. These questions may be used as a baseline document recording the current features of your project and your goals for the process of scaling up.</h6>
    </div>

    <div class="page-title" ng-show="vm.editMode">
        <h1 class="md-display-1 text-center">Edit Project Info</h1>
    </div>


    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="!vm.dataLoaded">
        <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
    </div>

    <div md-whiteframe="2" class="layout-padding-xl wrapper" layout-fill layout="column" ng-if="vm.dataLoaded">
        <form name="vm.newProjectForm" ng-submit="vm.save($event)" layout="column" layout-fill novalidate>
            <div layout="column" layout-fill class="main-form">
                <h4>1. Project details</h4>
                <div class="project-name" flex="100" layout="row" layout-align="start center">
                    <md-input-container flex="60">
                        <label>Name of the project</label>
                        <input
                                class="input-name"
                                ng-model="vm.project.name"
                                ng-model-options="{debounce: 200}"
                                ng-change="vm.checkName()"
                                ng-disabled="vm.editMode"
                                required name="name"
                                md-maxlength="100" type="text" />
                        <div ng-messages="vm.newProjectForm.name.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="custom" ng-repeat="error in vm.newProjectForm.name.customError">{{error}} </div>
                        </div>
                    </md-input-container>
                    <div flex="30" class="similar-project" ng-show="vm.similarProject.length > 0" >
                        <span class="similar-label">Similar Project Name(s)</span>
                        <div ng-class="{ownProject: similar.isOwn}" ng-repeat="similar in vm.similarProject">
                            <a href="#" ng-click="vm.openSimilarProject(similar, $event)" class="similar-link">{{similar.name}}</a>
                            <span ng-if="!$last">,</span>
                        </div>
                    </div>
                </div>
                <div flex="100" layout="row" layout-align="start center">
                    <md-input-container flex="60">
                        <label>Name of the organization</label>
                        <input ng-model="vm.project.organisation.name"
                               ng-disabled="true" required name="organisation"
                               md-maxlength="100" type="text" ng-change="vm.handleCustomError('organisation')" />
                        <div ng-messages="vm.newProjectForm.organisation.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="custom" ng-repeat="error in vm.newProjectForm.organisation.customError">{{error}} </div>
                        </div>
                    </md-input-container>
                </div>


                <div flex="100" layout="row" layout-align="start center">
                    <md-input-container flex="60">
                        <label>Overview of Digital health implementation</label>
                        <input type="text"
                               ng-required="true" name="implementation_overview" md-maxlength="500"
                               ng-model="vm.project.implementation_overview"
                               ng-change="vm.handleCustomError('implementation_overview')"/>
                        <div ng-messages="vm.newProjectForm.implementation_overview.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>

                <div class="chipper" ng-if="vm.editMode">
                    <label>Team members (editor role)</label>
                    <md-contact-chips
                            placeholder="Editors of this project"
                            secondary-placeholder="add new team member"
                            ng-model="vm.team"
                            md-contacts="vm.getUsers($query)"
                            md-contact-name="name"
                            md-contact-email="organisation__name"
                            md-require-match="true"
                            md-highlight-flags="i"
                            filter-selected="true">
                    </md-contact-chips>
                </div>

                <div class="chipper" ng-if="vm.editMode">
                    <label>Viewers (only view role)</label>
                    <md-contact-chips
                            placeholder="Add viewers"
                            secondary-placeholder="add new viewer"
                            ng-model="vm.viewers"
                            md-contacts="vm.getUsers($query)"
                            md-contact-name="name"
                            md-contact-email="organisation__name"
                            md-require-match="true"
                            md-highlight-flags="i"
                            filter-selected="true">
                    </md-contact-chips>
                </div>

                <div class="strat-cont">
                    <ssmenu
                            class="strategies"
                            options="vm.structure.strategies"
                            on-close-callback="vm.setStrategy"
                            multiple="true"
                            ng-model="vm.project.strategy"
                            placeholder="Select strategies from list"
                            hint="What is your mHealth project strategy to address the health need?">
                    </ssmenu>
                </div>

                <div class="countries" ng-class="{error: vm.checkErrors('country')}">
                    <ssmenu
                            class="countryss"
                            ng-disabled="vm.editMode"
                            ng-required="vm.sentForm"
                            name="country"
                            on-close-callback="vm.countryCloseCallback"
                            option-label="name"
                            options="vm.structure.countries"
                            ng-model="vm.project.countryName"
                            placeholder="Select project’s country from list">
                    </ssmenu>
                    <div ng-messages="vm.newProjectForm.country.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="custom" ng-repeat="error in vm.newProjectForm.country.customError">{{error}} </div>
                    </div>
                </div>

                <div ng-class="{disabled: vm.disableDetails()}">

                    <section class="coverage-section">
                        <p>What is the current coverage of your project? (e.g. numbers of health workers, clinics and/or client beneficiaries reached)</p>

                        <div layout="row" layout-align="start start" class="coverage" ng-repeat="cover in vm.project.coverage" ng-init="vm.repeatBind(cover)">
                            <md-input-container class="number">
                                <input placeholder="# Number" type="number" ng-model="cover.number" />
                            </md-input-container>
                            <span class="separator" >of</span>

                            <ssmenu
                                    class="type"
                                    on-close-callback="cover.typeCallback"
                                    options="vm.structure.coverageTypes"
                                    ng-model="cover.typeChosen"
                                    placeholder="Select type"
                                    ariaLabel="coverageType"
                            ></ssmenu>
                            <span class="separator">or</span>


                            <span class="separator">and</span>
                            <ssmenu
                                    class="district"
                                    on-close-callback="cover.districtCallback"
                                    ng-model="cover.districtChosen"
                                    options="vm.districtList"
                                    placeholder="Select district"
                                    ariaLabel="coverageDistrict"
                            ></ssmenu>
                            <md-button ng-hide="$last" ng-click="vm.rmCoverage(cover)" layout="column" class="md-icon-button red">
                                <md-icon>delete_forever</md-icon>
                            </md-button>
                            <md-button ng-show="$last"  class="md-icon-button" ng-click="vm.addCoverageItem()">
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>

                    </section>

                    <section>

                        <div layout="column" class="start-date">
                            <md-datepicker ng-model="vm.project.started" md-placeholder="Start date"></md-datepicker>
                            <span class="hint">When was this project started? </span>
                        </div>

                        <div layout="column" class="strategies" >
                            <div layout="row" >
                                <ssmenu
                                        on-close-callback="vm.pipelinesCallback"
                                        options="vm.structure.pipelines"
                                        ng-model="vm.pipelines.standard"
                                        placeholder="Select strategies from the list"
                                        hint="Is this project part of an accelerator or innovation pipeline?"
                                ></ssmenu>
                                <span class="separator">or</span>
                                <md-input-container>
                                    <input type="text" placeholder="Specify other" ng-model="vm.project.pipelines.custom"/>
                                </md-input-container>
                            </div>
                        </div>



                        <p>Who are the donors for this specific project? (List all that apply)</p>
                        <div layout="row" class="other" layout-align="start center" ng-repeat="d in vm.project.donors">
                            <md-input-container flex>
                                <label>Donor's name</label>
                                <input type="text" ng-model="d.value" />
                            </md-input-container>
                            <md-button ng-hide="$last" ng-click="vm.rmDonor(d)" layout="column" class="md-icon-button red">
                                <md-icon>delete_forever</md-icon>
                            </md-button>
                            <md-button ng-show="$last" layout="column" ng-click="vm.addDonor()" class="md-icon-button">
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>

                    </section>



                    <section class="resources" ng-if="vm.editMode">
                        <h4>Resources ({{vm.project.files.length - 2}})</h4>

                        <p>What reports and publications do you have for the project?</p>

                        <h5>Add project report(s):</h5>
                        <div layout="row" layout-align="start center" ng-repeat="r in vm.project.reports">
                            <div layout="row" flex="70">
                                <md-icon>link</md-icon>
                                <md-input-container flex>
                                    <label>Add link to a webpage</label>
                                    <input type="url" ng-model="r.value" />
                                </md-input-container>
                            </div>
                            <md-button ng-hide="$last" ng-click="vm.rmReportLink(r)" layout="column" class="md-icon-button red">
                                <md-icon>delete_forever</md-icon>
                            </md-button>
                            <md-button ng-show="$last" layout="column" ng-click="vm.addReportLink()" class="md-icon-button">
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>

                        <div layout="row" layout-align="start center" class="file-row" ng-repeat="report in vm.project.files | filter:{type:'report'} | orderBy:vm.customOrder">
                            <div layout="row" flex="70">
                                <div class="intro">
                                    <md-icon flex >insert_drive_file</md-icon>
                                    Upload file:
                                </div>
                                <div  class="button selector"
                                      ng-hide="report.filename" ng-model="report" name="file" ngf-select="vm.uploadFile($file, 'report')" ngf-max-size="10MB">
                                    Select File
                                </div>
                                <div class=" button selector filename" ng-click="vm.downloadFile(report)" ng-show="report.filename">
                                    <md-icon>attachment</md-icon>
                                    {{report.filename}}
                                </div>
                                <span class="filesize" flex> Maximum file size: 10MB </span>
                            </div>
                            <md-button ng-hide="$last" ng-click="vm.rmReportFile(report)" layout="column" class="md-icon-button red">
                                <md-icon>delete_forever</md-icon>
                            </md-button>
                            <md-button ng-show="$last" layout="column" ng-click="vm.addReportFile()" class="md-icon-button">
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>



                        <h5>Add publication(s) / journal article(s):</h5>

                        <div layout="row" layout-align="start center" ng-repeat="p in vm.project.publications">
                            <div layout="row" flex="70">
                                <md-icon>link</md-icon>
                                <md-input-container flex>
                                    <label>Add link to a webpage</label>
                                    <input type="url" ng-model="p.value" />
                                </md-input-container>
                            </div>
                            <md-button ng-hide="$last" ng-click="vm.rmPublicationLink(p)" layout="column" class="md-icon-button red">
                                <md-icon>delete_forever</md-icon>
                            </md-button>
                            <md-button ng-show="$last" layout="column" ng-click="vm.addPublicationLink()" class="md-icon-button">
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>
                        <div layout="row" layout-align="start center" class="file-row" ng-repeat="publication in vm.project.files | filter:{type:'publication'} | orderBy:vm.customOrder">
                            <div layout="row" flex="70">
                                <div class="intro">
                                    <md-icon flex>insert_drive_file</md-icon>
                                    Upload file:
                                </div>
                                <div class="button selector" ngf-select="vm.uploadFile($file, 'publication')" ng-hide="publication.filename" ng-model="publication" name="file" ngf-max-size="10MB">
                                    Select File
                                </div>

                                <div class=" button selector filename" ng-click="vm.downloadFile(publication)" ng-show="publication.filename">
                                    <md-icon>attachment</md-icon>
                                    {{publication.filename}}
                                </div>
                                <span flex class="filesize"> Maximum file size: 10MB </span>
                            </div>
                            <md-button ng-hide="$last" ng-click="vm.rmPublicationFile(publication)" layout="column" class="md-icon-button red">
                                <md-icon>delete_forever</md-icon>
                            </md-button>
                            <md-button ng-show="$last" layout="column" ng-click="vm.addPublicationFile()" class="md-icon-button">
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>



                        <h5>Other Digital Innovation Project Repositories Links:</h5>
                        <div layout="row" layout-align="start center" ng-repeat="r in vm.project.links">
                            <div layout="row" flex="70">
                                <md-icon>link</md-icon>
                                <md-input-container flex>
                                    <label>Add link to a webpage</label>
                                    <input type="url" ng-model="r.value" placeholder="CHMI, USAID Compendium, GSMA Tracker, HingX" />
                                </md-input-container>
                            </div>
                            <md-button ng-hide="$last" ng-click="vm.rmCHMILink(r)" layout="column" class="md-icon-button red">
                                <md-icon>delete_forever</md-icon>
                            </md-button>
                            <md-button ng-show="$last" layout="column" ng-click="vm.addCHMILink()" class="md-icon-button">
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>


                    </section>

                    <section class="vision">
                        <h4>2. Vision for scale</h4>

                        <div layout="column">
                            <md-input-container>
                                <input type="text" placeholder="Your goals" ng-model="vm.project.goals_to_scale"/>
                                <span class="hint">What are your goals for scaling up (e.g. number of health facilities, districts, target users)?</span>
                            </md-input-container>

                        </div>

                        <div layout="column">
                            <md-input-container>
                                <input type="text" placeholder="Your timeframe" ng-model="vm.project.anticipated_time"/>
                                <span class="hint">What is your anticipated time frame to meet these goals?</span>
                            </md-input-container>

                        </div>
                    </section>

                    <!-- 3. TECHNOLOGY -->
                    <section class="tech">
                        <h4>3. Technology</h4>

                        <!-- Tech platforms -->
                        <section md-layout="row" layout-wrap>

                            <p>What technologies and/or communication channels (e.g. software platform, such as RapidPro, and communication via text message or SMS) are the strategy based on? (Check all that apply)</p>
                            <h5>Technology Platforms:</h5>

                            <div class="checkbox-container" layout="row">
                                <md-checkbox
                                        ng-repeat="t in vm.structure.technology_platforms"
                                        ng-checked="vm.technologyPlatformChecked(t)"
                                        ng-click="vm.technologyPlatformChange(t)"
                                        flex="15"
                                        aria-label="{{ t }}"
                                        class="">
                                    {{ t }}
                                </md-checkbox>
                            </div>
                            <!-- <div layout="row" class="other" layout-align="start center" ng-repeat="c in vm.project.technology_platforms.custom">
                                <md-input-container flex>
                                    <label>Other</label>
                                    <input type="text" ng-model="c.value" />
                                </md-input-container>
                                <md-button ng-hide="$last" ng-click="vm.rmTechnologyPlatform(c)" layout="column" class="md-icon-button red">
                                    <md-icon>delete_forever</md-icon>
                                </md-button>
                                <md-button ng-show="$last" ng-click="vm.addTechnologyPlatform()" layout="column" class="md-icon-button">
                                    <md-icon>add</md-icon>
                                </md-button>
                            </div> -->
                        </section>

                        <!-- Licenses -->
                        <section md-layout="row">

                            <p>Under what license is the project governed?</p>
                            <h5>Licenses:</h5>
                            <div class="checkbox-container checkbox-container-lic" layout="row">
                                <md-checkbox
                                        ng-repeat="l in vm.structure.licenses"
                                        ng-checked="vm.licenseChecked(l)"
                                        ng-click="vm.licenseChange(l)"
                                        flex="30"
                                        aria-label="{{ l }}"
                                        class="">
                                    {{ l }}
                                </md-checkbox>
                            </div>
                            <!-- <div layout="row" class="other" layout-align="start center" ng-repeat="c in vm.project.licenses.custom">
                                <md-input-container flex>
                                    <label>Other</label>
                                    <input type="text" ng-model="c.value"/>
                                </md-input-container>
                                <md-button ng-hide="$last" ng-click="vm.rmLicense(c)" layout="column" class="md-icon-button red">
                                    <md-icon>delete_forever</md-icon>
                                </md-button>
                                <md-button ng-show="$last" layout="column" ng-click="vm.addLicense()" class="md-icon-button">
                                    <md-icon>add</md-icon>
                                </md-button>
                            </div> -->
                        </section>

                        <!--<section md-layout="row">-->
                        <!--<h6 flex="100">Digital tools:</h6>-->
                        <!--<md-checkbox-->
                        <!--ng-repeat="d in vm.structure.digital_tools"-->
                        <!--ng-checked="vm.digitalToolChecked(d)"-->
                        <!--ng-click="vm.digitalToolChange(d)"-->
                        <!--flex="30"-->
                        <!--aria-label="{{ d }}"-->
                        <!--class="">-->
                        <!--{{ d }}-->
                        <!--</md-checkbox>-->
                        <!--<div layout="row" class="other" layout-align="start center" ng-repeat="c in vm.project.digital_tools.custom">-->
                        <!--<md-input-container flex>-->
                        <!--<label>Other</label>-->
                        <!--<input type="text" ng-model="c.value" />-->
                        <!--</md-input-container>-->
                        <!--<md-button ng-hide="$last" ng-click="vm.rmDigitalTool(c)" layout="column" class="md-icon-button red">-->
                        <!--<md-icon>delete_forever</md-icon>-->
                        <!--</md-button>-->
                        <!--<md-button ng-show="$last" layout="column" ng-click="vm.addDigitalTool()" class="md-icon-button">-->
                        <!--<md-icon>add</md-icon>-->
                        <!--</md-button>-->
                        <!--</div>-->
                        <!--</section>-->


                        <!--<section layout="column">-->
                        <!--<p>How are you applying these technology strategies or communication channels? (Check all that apply)</p>-->
                        <!--<md-checkbox-->
                        <!--ng-repeat="a in vm.structure.applications"-->
                        <!--ng-checked="vm.applicationChecked(a)"-->
                        <!--ng-click="vm.applicationChange(a)"-->
                        <!--flex="100"-->
                        <!--aria-label="{{ a }}"-->
                        <!--class="">-->
                        <!--{{ a }}-->
                        <!--</md-checkbox>-->
                        <!--</section>-->

                        <div layout="column">
                            <md-input-container>
                                <input type="url" placeholder="Code documentation or download link" ng-required="true" name="repository" ng-model="vm.project.repository"/>
                                <div ng-messages="vm.newProjectForm.repository.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="url">This should be a valid link</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container>
                                <input type="url" placeholder="Link to the application:" name="mobile_application" ng-required="true" ng-model="vm.project.mobile_application"/>
                                <div ng-messages="vm.newProjectForm.mobile_application.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="url">This should be a valid link</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="column">
                            <md-input-container>
                                <input type="url" placeholder="Link to wiki page:" name="wiki" ng-required="true" ng-model="vm.project.wiki"/>
                                <div ng-messages="vm.newProjectForm.wiki.$error">
                                    <div ng-message="url">This should be a valid link</div>
                                </div>
                            </md-input-container>
                        </div>
                    </section>

                    <section class="additional-info">
                        <h4>4. Additional Info</h4>

                        <div layout="column">
                            <md-input-container>
                                <input type="text" ng-required="true" name="contact_name" placeholder="Contact name" ng-model="vm.project.contact_name"/>
                                <div ng-messages="vm.newProjectForm.contact_name.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                        </div>

                        <div layout="column">
                            <md-input-container>
                                <input
                                        ng-pattern="/.{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+/"
                                        md-minlength="4"
                                        md-maxlength="256"
                                        ng-required="true"
                                        name="contact_email"
                                        placeholder="Contact email"
                                        ng-model="vm.project.contact_email"/>
                                <div ng-messages="vm.newProjectForm.contact_email.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="pattern">This field must be an email</div>
                                </div>
                            </md-input-container>

                        </div>

                        <div layout="column">
                            <md-input-container>
                                <input type="text" placeholder="Implementing Partners" name="implementing_partners" ng-model="vm.project.implementing_partners"/>
                            </md-input-container>
                        </div>

                        <div layout="column">
                            <md-input-container>
                                <input type="text" ng-required="true" placeholder="Implementing Dates" name="implementation_dates" ng-model="vm.project.implementation_dates"/>
                                <div ng-messages="vm.newProjectForm.implementation_dates.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout="column">
                            <md-input-container>
                                <input type="text" ng-required="true" placeholder="Geographic coverage" name="geographic_coverage" ng-model="vm.project.geographic_coverage"/>
                                <div ng-messages="vm.newProjectForm.geographic_coverage.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div md-layout="row">
                            <h5 flex="100">Interventions Areas:</h5>
                            <div class="checkbox-container" layout="row">
                                <md-checkbox
                                        name="intervention_areas"
                                        ng-repeat="d in vm.structure.intervention_areas"
                                        ng-checked="vm.interventionAreaChecked(d)"
                                        ng-click="vm.interventionAreaChanged(d)"
                                        flex="30"
                                        aria-label="{{ d }}">
                                    {{ d }}
                                </md-checkbox>
                            </div>
                            <div class="custom-error" ng-show="vm.project.intervention_areas.length === 0">
                                Select at least one area
                            </div>
                        </div>



                    </section>

                    <section ng-if="vm.editMode">
                        <h4>5. Interoperability</h4>
                        <h5 flex="100">Does your digital health project link to a digital Health Information System *HIS?</h5>


                        <div class="interoperability-links" layout="column"  >
                            <div class="interoperability" layout="row" layout-align="left center" ng-repeat="link in vm.structure.interoperability_links">
                                <div flex="40">
                                    <md-checkbox
                                            class="md-primary"
                                            ng-checked="vm.interoperabilityLinksChecked($index)"
                                            ng-click="vm.focusSpecifyField($index)">
                                        {{link}}
                                    </md-checkbox>
                                </div>

                                <div flex="60">
                                    <md-input-container flex="100" layout-fill>
                                        <label>Specify:</label>
                                        <input type="url" name="link_{{$index}}" id="interoperabilityLink_{{$index}}" ng-model="vm.project.interoperability_links[$index]">
                                        <div ng-messages="vm.newProjectForm['link_' + $index].$error">
                                            <div ng-message="url">This should be a valid link</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>

                        </div>

                        <h5 flex="100">What data standards does your digital health project use?</h5>
                        <div class="interoperability-standards" layout="row" layout-wrap>
                            <div class="interoperability" layout="column" layout-align="center left" flex="33"  ng-repeat="standard in vm.structure.interoperability_standards">
                                <md-checkbox
                                        ng-checked="vm.interoperabilityStandardsChecked(standard)"
                                        ng-click="vm.interoperabilityStandardsChanged(standard)"
                                >
                                    {{standard}}
                                </md-checkbox>
                            </div>
                            <md-input-container>
                                <input type="text" placeholder="Specify other" ng-model="vm.project.interoperability_standards.custom"/>
                            </md-input-container>

                        </div>
                    </section>

                    <section ng-if="!vm.editMode">
                        <h4>5. Pre-assessment</h4>

                        <p>
                            The following are pre-assessment questions on your initial thoughts of how well your mHealth project performs along the following axes (see below for definitions).
                        </p>

                        <div class="axis-assessment" layout="column"  >
                            <div layout="row" layout-align="start center" class="assessment" ng-repeat="a in vm.project.pre_assessment track by $index">
                                <div flex="65">
                                    <p>
                                        {{vm.axisStructure[$index].description}}
                                    </p>
                                    <md-radio-group ng-model="a.value" name="assesment_{{$index}}" layout="row" ng-required="true" >
                                        <md-radio-button ng-repeat="value in [1,2,3,4,5,6,7,8,9,10]" ng-value="value" class="md-primary">{{ value }}</md-radio-button>
                                    </md-radio-group>
                                    <div ng-messages="vm.newProjectForm['assesment_' + $index].$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="custom" ng-repeat="error in vm.newProjectForm['assesment_' + $index].customError">{{error}} </div>
                                    </div>
                                </div>
                                <div flex="35" class="axis-description" layout="row">
                                    <img class="axis{{$index + 1}}" ng-src="{{vm.axisStructure[$index].img}}">
                                    <div layout="column">
                                        {{vm.axisStructure[$index].title}}
                                        <p>{{vm.axisStructure[$index].text}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>

            </div>
            <div layout="row">
                <div flex="50" layout="row" layout-align="start center">
                    <md-button class="md-gray md-raised" ng-if="!vm.editMode" ui-sref="dashboard">Cancel process</md-button>
                    <md-button class="md-gray md-raised" ng-if="vm.editMode" ui-sref="dashboard">Dismiss Changes</md-button>
                </div>
                <div flex="50" layout="row" layout-align="end center">
                    <md-button type="submit" ng-if="!vm.editMode" class="md-primary md-raised">Add new project</md-button>
                    <md-button type="submit" ng-if="vm.editMode" class="md-primary md-raised">Save Project info</md-button>
                </div>
            </div>
        </form>

    </div>
    <section md-whiteframe="2" layout-fill class="my-projects" ng-if="vm.editMode">
        <h5> My projects ({{vm.userProjects.length}})</h5>
        <projectcomp ng-repeat="p in vm.userProjects | orderBy:'id'"
                     current-project="vm.isCurrentProject(p.id)"
                     viewer="vm.isViewer(p)"
                     member="vm.isMember(p)"
                     show-details="true"
                     show-logo="true"
                     ng-model="p">

        </projectcomp>

    </section>

    <disclaimer></disclaimer>
</div>
