<div layout="column" layout-align="start center" >
    <div class="page-title">
        <h1 class="md-display-1 text-center">Add new project sheet</h1>
        <h6 class="md-subhead text-center">Please complete the following information before beginning the self-assessment process. These questions may be used as a baseline document recording the current features of your project and your goals for the process of scaling up.</h6>
    </div>

    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="!vm.dataLoaded">
        <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
    </div>

    <div md-whiteframe="2" class="layout-padding-xl wrapper" layout-fill layout="column" ng-if="vm.dataLoaded">
        <form name="vm.newProjectForm" ng-submit="vm.save($event)"  novalidate>
            <div layout="column" class="main-form">
                <h4>1. Project details</h4>
                <md-input-container >
                    <label>Name of the project</label>
                    <input ng-model="vm.project.name" ng-disabled="vm.editMode" required name="name" md-maxlength="100" type="text" ng-change="vm.handleCustomError('name')" />
                    <div ng-messages="vm.newProjectForm.name.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="custom" ng-repeat="error in vm.newProjectForm.name.customError">{{error}} </div>
                    </div>
                </md-input-container>
                <md-input-container >
                    <label>Name of the organization</label>
                    <input ng-model="vm.project.organisation"
                           ng-disabled="true" required name="organisation"
                           md-maxlength="100" type="text" ng-change="vm.handleCustomError('organisation')" />
                    <div ng-messages="vm.newProjectForm.organisation.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="custom" ng-repeat="error in vm.newProjectForm.organisation.customError">{{error}} </div>
                    </div>
                </md-input-container>

                <ssmenu

                        class="strategies"
                        options="vm.structure.strategies"
                        on-close-callback="vm.setStrategy"
                        multiple="true"
                        ng-model="vm.project.strategy"
                        placeholder="Select strategies from list"
                        hint="What is your mHealth project strategy to address the health need?"
                ></ssmenu>
                <div  class="countries" ng-class="{error: vm.checkErrors('country')}">
                    <ssmenu
                            ng-disabled="vm.editMode"
                            ng-required="vm.sentForm"
                            name="country"
                            on-close-callback="vm.countryCloseCallback"
                            option-label="name"
                            options="vm.structure.countries"
                            ng-model="vm.project.countryName"
                            placeholder="Select project’s country from list"
                    ></ssmenu>
                    <div ng-messages="vm.newProjectForm.country.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="custom" ng-repeat="error in vm.newProjectForm.country.customError">{{error}} </div>
                    </div>
                </div>

                <div ng-class="{disabled: vm.disableDetails()}">

                    <!--<p>What technologies and/or communication channels (e.g. software platform, such as RapidPro, and communication via text message or SMS) are the strategy based on? (Check all that apply)</p>-->

                    <!--<section md-layout="row" layout-wrap>-->
                    <!--<h6 flex="100">Technology Platforms:</h6>-->
                    <!--<md-checkbox-->
                    <!--ng-repeat="t in vm.structure.technology_platforms"-->
                    <!--ng-checked="vm.technologyPlatformChecked(t)"-->
                    <!--ng-click="vm.technologyPlatformChange(t)"-->
                    <!--flex="30"-->
                    <!--aria-label="{{ t }}"-->
                    <!--class="">-->
                    <!--{{ t }}-->
                    <!--</md-checkbox>-->
                    <!--<div layout="row" class="other" layout-align="start center" ng-repeat="c in vm.project.technology_platforms.custom">-->
                    <!--<md-input-container flex>-->
                    <!--<label>Other</label>-->
                    <!--<input type="text" ng-model="c.value" />-->
                    <!--</md-input-container>-->
                    <!--<md-button ng-hide="$last" ng-click="vm.rmTechnologyPlatform(c)" layout="column" class="md-icon-button red">-->
                    <!--<md-icon>delete_forever</md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button ng-show="$last" ng-click="vm.addTechnologyPlatform()" layout="column" class="md-icon-button">-->
                    <!--<md-icon>add</md-icon>-->
                    <!--</md-button>-->
                    <!--</div>-->
                    <!--</section>-->

                    <!--<section md-layout="row">-->
                    <!--<h6 flex="100">License:</h6>-->
                    <!--<md-checkbox-->
                    <!--ng-repeat="l in vm.structure.licenses"-->
                    <!--ng-checked="vm.licenseChecked(l)"-->
                    <!--ng-click="vm.licenseChange(l)"-->
                    <!--flex="30"-->
                    <!--aria-label="{{ l }}"-->
                    <!--class="">-->
                    <!--{{ l }}-->
                    <!--</md-checkbox>-->
                    <!--<div layout="row" class="other" layout-align="start center" ng-repeat="c in vm.project.licenses.custom">-->
                    <!--<md-input-container flex>-->
                    <!--<label>Other</label>-->
                    <!--<input type="text" ng-model="c.value" />-->
                    <!--</md-input-container>-->
                    <!--<md-button ng-hide="$last" ng-click="vm.rmLicense(c)" layout="column" class="md-icon-button red">-->
                    <!--<md-icon>delete_forever</md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button ng-show="$last" layout="column" ng-click="vm.addLicense()" class="md-icon-button">-->
                    <!--<md-icon>add</md-icon>-->
                    <!--</md-button>-->
                    <!--</div>-->
                    <!--</section>-->

                    <!--<section md-layout="row">-->
                    <!--<h6 flex="100">Digital tools:</h6>-->
                    <!--<md-checkbox-->
                    <!--ng-repeat="d in vm.structure.digital_tools"-->
                    <!--ng-checked="vm.digitalToolChecked(d)"-->
                    <!--ng-click="vm.digitalToolChange(d)"-->
                    <!--flex="30"-->
                    <!--aria-label="{{ d }}"-->
                    <!--class="">-->
                    <!--{{ d }}-->
                    <!--</md-checkbox>-->
                    <!--<div layout="row" class="other" layout-align="start center" ng-repeat="c in vm.project.digital_tools.custom">-->
                    <!--<md-input-container flex>-->
                    <!--<label>Other</label>-->
                    <!--<input type="text" ng-model="c.value" />-->
                    <!--</md-input-container>-->
                    <!--<md-button ng-hide="$last" ng-click="vm.rmDigitalTool(c)" layout="column" class="md-icon-button red">-->
                    <!--<md-icon>delete_forever</md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button ng-show="$last" layout="column" ng-click="vm.addDigitalTool()" class="md-icon-button">-->
                    <!--<md-icon>add</md-icon>-->
                    <!--</md-button>-->
                    <!--</div>-->
                    <!--</section>-->


                    <!--<section layout="column">-->
                    <!--<p>How are you applying these technology strategies or communication channels? (Check all that apply)</p>-->
                    <!--<md-checkbox-->
                    <!--ng-repeat="a in vm.structure.applications"-->
                    <!--ng-checked="vm.applicationChecked(a)"-->
                    <!--ng-click="vm.applicationChange(a)"-->
                    <!--flex="100"-->
                    <!--aria-label="{{ a }}"-->
                    <!--class="">-->
                    <!--{{ a }}-->
                    <!--</md-checkbox>-->

                    <!--</section>-->

                    <section class="coverage-section">
                        <p>What is the current coverage of your project? (e.g. numbers of health workers, clinics and/or client beneficiaries reached)</p>

                        <div layout="row" layout-align="start start" class="coverage" ng-repeat="cover in vm.project.coverage" ng-init="vm.repeatBind(cover)">
                            <md-input-container class="number">
                                <input placeholder="# Number" type="number" ng-model="cover.number" />
                            </md-input-container>
                            <span class="separator" >of</span>

                            <ssmenu
                                    class="type"
                                    on-close-callback="cover.typeCallback"
                                    options="vm.structure.coverageTypes"
                                    ng-model="cover.typeChosen"
                                    placeholder="Select type"
                                    ariaLabel="coverageType"
                            ></ssmenu>
                            <span class="separator">or</span>
                            <md-input-container  class="other">
                                <input placeholder="Specify 'Other'" type="text" ng-model="cover.other" />
                            </md-input-container>
                            <span class="separator">and</span>
                            <ssmenu
                                    class="district"
                                    on-close-callback="cover.districtCallback"
                                    ng-model="cover.districtChosen"
                                    options="vm.districtList"
                                    placeholder="Select district"
                                    ariaLabel="coverageDistrict"
                            ></ssmenu>
                            <md-button ng-hide="$last" ng-click="vm.rmCoverage(cover)" layout="column" class="md-icon-button red">
                                <md-icon>delete_forever</md-icon>
                            </md-button>
                            <md-button ng-show="$last"  class="md-icon-button" ng-click="vm.addCoverageItem()">
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>

                    </section>

                    <section>

                        <div layout="column" class="start-date">
                            <md-datepicker ng-model="vm.project.started" md-placeholder="Start date"></md-datepicker>
                            <span class="hint">When was this project started? </span>
                        </div>

                        <div layout="column" class="strategies" >
                            <div layout="row" >
                                <ssmenu
                                        on-close-callback="vm.pipelinesCallback"
                                        options="vm.structure.pipelines"
                                        ng-model="vm.pipelines.standard"
                                        placeholder="Select strategies from the list"
                                        hint="Is this project part of an accelerator or innovation pipeline?"
                                ></ssmenu>
                                <span class="separator">or</span>
                                <md-input-container>
                                    <input type="text" placeholder="Specify other" ng-model="vm.project.pipelines.custom"/>
                                </md-input-container>
                            </div>
                        </div>



                        <p>Who are the donors for this specific project? (List all that apply)</p>
                        <div layout="row" class="other" layout-align="start center" ng-repeat="d in vm.project.donors">
                            <md-input-container flex>
                                <label>Donor's name</label>
                                <input type="text" ng-model="d.value" />
                            </md-input-container>
                            <md-button ng-hide="$last" ng-click="vm.rmDonor(d)" layout="column" class="md-icon-button red">
                                <md-icon>delete_forever</md-icon>
                            </md-button>
                            <md-button ng-show="$last" layout="column" ng-click="vm.addDonor()" class="md-icon-button">
                                <md-icon>add</md-icon>
                            </md-button>
                        </div>

                    </section>

                    <!--<section>-->
                    <!--<p>What reports and publications do you have for the project?</p>-->

                    <!--<h6>Add project report(s):</h6>-->
                    <!--<div layout="row" layout-align="start center" ng-repeat="r in vm.project.reports">-->
                    <!--<md-icon>link</md-icon>-->
                    <!--<md-input-container flex>-->
                    <!--<label>Add link to a webpage</label>-->
                    <!--<input type="text" ng-model="r.value" />-->
                    <!--</md-input-container>-->
                    <!--<md-button ng-hide="$last" ng-click="vm.rmReportLink(r)" layout="column" class="md-icon-button red">-->
                    <!--<md-icon>delete_forever</md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button ng-show="$last" layout="column" ng-click="vm.addReportLink()" class="md-icon-button">-->
                    <!--<md-icon>add</md-icon>-->
                    <!--</md-button>-->
                    <!--</div>-->
                    <!--<div layout="row" layout-align="start center">-->
                    <!--<span>-->
                    <!--<md-icon flex>insert_drive_file</md-icon>-->
                    <!--Upload file:-->
                    <!--</span>-->
                    <!--<div class="button" ngf-select ng-model="vm.file" name="file" ngf-max-size="10MB">Select File</div>-->
                    <!--<span> Maximum file size: 10MB </span>-->

                    <!--<md-button layout="column" class="md-icon-button">-->
                    <!--<md-icon>add</md-icon>-->
                    <!--</md-button>-->
                    <!--</div>-->


                    <!--<h6>Add publication(s) / journal article(s):</h6>-->
                    <!--<div layout="row" layout-align="start center" ng-repeat="p in vm.project.publications">-->
                    <!--<md-icon>link</md-icon>-->
                    <!--<md-input-container flex>-->
                    <!--<label>Add link to a webpage</label>-->
                    <!--<input type="text" ng-model="p.value" />-->
                    <!--</md-input-container>-->
                    <!--<md-button ng-hide="$last" ng-click="vm.rmPublicationLink(p)" layout="column" class="md-icon-button red">-->
                    <!--<md-icon>delete_forever</md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button ng-show="$last" layout="column" ng-click="vm.addPublicationLink()" class="md-icon-button">-->
                    <!--<md-icon>add</md-icon>-->
                    <!--</md-button>-->
                    <!--</div>-->
                    <!--<div layout="row" layout-align="start center">-->
                    <!--<span>-->
                    <!--<md-icon flex>insert_drive_file</md-icon>-->
                    <!--Upload file:-->
                    <!--</span>-->
                    <!--<div class="button" ngf-select ng-model="vm.file" name="file" ngf-max-size="10MB">Select File</div>-->
                    <!--<span> Maximum file size: 10MB </span>-->

                    <!--<md-button layout="column" class="md-icon-button">-->
                    <!--<md-icon>add</md-icon>-->
                    <!--</md-button>-->
                    <!--</div>-->


                    <!--</section>-->

                    <section >
                        <h4>2. Vision for scale</h4>

                        <div layout="column">
                            <md-input-container>
                                <input type="text" placeholder="Your goals" ng-model="vm.project.goals_to_scale"/>
                                <span class="hint">What are your goals for scaling up (e.g. number of health facilities, districts, target users)?</span>
                            </md-input-container>

                        </div>

                        <div layout="column">
                            <md-input-container>
                                <input type="text" placeholder="Your timeframe" ng-model="vm.project.anticipated_time"/>
                                <span class="hint">What is your anticipated time frame to meet these goals?</span>
                            </md-input-container>

                        </div>
                    </section>

                    <section ng-if="!vm.editMode">
                        <h4>3. Pre-assessment</h4>

                        <p>
                            The following are pre-assessment questions on your initial thoughts of how well your mHealth project performs along the following axes (see below for definitions).
                        </p>

                        <div class="axis-assessment" layout="column"  >
                            <div layout="row" layout-align="start center" class="assessment" ng-repeat="a in vm.project.pre_assessment track by $index">
                                <div flex="65" >
                                    <p>
                                        {{vm.axisStructure[$index].description}}
                                    </p>
                                    <md-radio-group ng-model="a.value" layout="row" ng-required="true" >
                                        <md-radio-button ng-repeat="value in [1,2,3,4,5,6,7,8,9,10]" ng-value="value" class="md-primary">{{ value }}</md-radio-button>
                                    </md-radio-group>
                                </div>
                                <div flex="35" class="axis-description">
                                    <img class="axis{{$index + 1}}" ng-src="{{vm.axisStructure[$index].img}}" >
                                    <p>{{vm.axisStructure[$index].text}}</p>
                                </div>
                            </div>

                        </div>

                </div>
                </section>
            </div>
            <div layout="row">
                <div flex="50" layout="row" layout-align="start center">
                    <md-button class="md-gray md-raised" ui-sref="dashboard">Cancel process</md-button>
                </div>
                <div flex="50" layout="row" layout-align="end center">
                    <md-button type="submit" class="md-primary md-raised">Add new project</md-button>
                </div>
            </div>
        </form>

    </div>
    <footer class="disclaimer">
        <b>Disclaimer:</b> All reasonable precautions have been taken by the World Health Organization to verify the information contained in this publication. However, the published material is being distributed without warranty of any kind, either expressed or implied. The responsibility for the interpretation and use of the material lies with the reader. In no event shall the World Health Organization be liable for damages arising from its use.
    </footer>
</div>
