<div class="project-section section-interoperability" md-whiteframe="2">

  <div class="section-title md-title">
    5. Interoperability
    <span class="toggler" ng-click="vm.collapse()"><i class="material-icons">&#xE313;</i></span>
  </div>

  <div class="section-wrapper">
    <h6 class="first">Does your digital health project link to a digital HIS?</h6>

    <div layout="row" ng-repeat="link in vm.structure.interoperability_links">
      <md-checkbox md-no-ink aria-label=""
                   ng-model="vm.project.interoperability_links[$index].selected"
                   class="md-primary" flex>
        {{link}}
      </md-checkbox>
      <md-input-container class="md-icon-float md-block" flex>
        <label>Specify URL</label>
        <md-icon><i class="material-icons">&#xE157;</i></md-icon>
        <input ng-required="vm.project.interoperability_links[$index].selected"
               ng-disabled="!vm.project.interoperability_links[$index].selected"
               name="link.interop1"
               ng-model="vm.project.interoperability_links[$index].link">
      </md-input-container>
    </div>

    <div class="checklist">
      <h6>What data standards does your digital health project use?</h6>
      <ul>
        <li ng-repeat="standard in vm.structure.interoperability_standards">
          <md-checkbox md-no-ink aria-label="{{standard}}"
                       ng-checked="vm.checkboxChecked(standard, 'interoperability_standards')"
                       ng-click="vm.checkboxToggle(standard, 'interoperability_standards')" class="md-primary">
            {{standard}}
          </md-checkbox>
        </li>
        <li>
              <span layout="row">
                <md-checkbox md-no-ink aria-label="other-standard"
                             ng-model="vm.specifyOtherStandard"
                             class="md-primary"
                             flex="nogrow">
                </md-checkbox>
                <md-input-container class="md-block" flex>
                  <label>Specify other</label>
                  <input ng-disabled="!vm.specifyOtherStandard"
                         ng-required="vm.specifyOtherStandard"
                         name="data.c18" ng-model="vm.project.interoperability_standards.custom">
                </md-input-container>
              </span>
        </li>
      </ul>
    </div>

    <h6>Government as investor?</h6>
    <md-checkbox md-no-ink aria-label="" ng-model="investor.government" class="md-primary">
      Yes
    </md-checkbox>
  </div>

</div>
