<div class="project-section section-interoperability read-only" md-whiteframe="2">

  <div class="section-title md-title">
    <translate>4. Interoperability</translate>
    <span class="toggler" ng-click="vm.collapse()"><i class="material-icons">keyboard_arrow_down</i></span>
  </div>

  <div class="section-wrapper">

    <h6>
      <translate>Does your digital health project link to a digital HIS?</translate>
    </h6>

    <div>
      <ul>
        <li
          ng-repeat="link in vm.structure.interoperability_links"
          ng-show="vm.project.interoperability_links[$index].selected">
          {{link.name}}:<br />
          <a ng-href="{{vm.fixUrl(vm.project.interoperability_links[$index].link)}}" target="_blank">
            {{vm.project.interoperability_links[$index].link}}
          </a>
        </li>
      </ul>
    </div>


    <h6>
      <translate>What data standards does your digital health project use?</translate>
    </h6>

    <div>
      <ul>
        <li ng-repeat="standard in vm.project.interoperability_standards">
          {{standard.name}}
        </li>
      </ul>
    </div>

  </div>
</div>
