<div class="project-section section-interoperability read-only" md-whiteframe="2">

  <div class="section-title md-title">
    4. Interoperability
    <span class="toggler" ng-click="vm.collapse()"><i class="material-icons">keyboard_arrow_down</i></span>
  </div>

  <div class="section-wrapper">

    <h6>Does your digital health project link to a digital HIS?</h6>

    <div>
      <ul>
        <li
          ng-repeat="link in vm.structure.interoperability_links"
          ng-show="vm.project.interoperability_links[$index].selected">
          {{link.name}}:<br /> {{vm.project.interoperability_links[$index].link}}
        </li>
      </ul>
    </div>


    <h6>What data standards does your digital health project use?</h6>

    <div>
      <ul>
        <li ng-repeat="standard in vm.structure.interoperability_standards"
            ng-show="vm.checkboxChecked(standard, 'interoperability_standards')">
            {{standard}}
        </li>
      </ul>
    </div>

  </div>
</div>
