<md-toolbar class="md-medium-tall toolbar-project">
    <div class="md-toolbar-tools md-toolbar-tools-bottom" ng-hide="!vm.state.params.appName">
        <ssmenu
                ng-if="!vm.viewMode"
                aria-label="Project Chooser"
                options="vm.projects"
                option-label = "name"
                ng-model="vm.currentProject.name"
                md-container-class="large project-chooser"
                class="large project-selector"
                on-close-callback="vm.navigateToProject"
                icon-function="vm.iconFunction"
        >
            <icon>asd</icon>
        </ssmenu>

        <div ng-if="vm.viewMode" class="large project-name">
            {{vm.currentProject.name}} ({{vm.currentProject.country_name}})
        </div>

        <div flex></div>

        <div class="project-info" layout="row">
            <div class="info-block">
                <h6>UUID</h6>
                <span>{{vm.currentProject.public_id}}</span>
            </div>
            <div class="info-block">
                <h6>Version</h6>
                <span>
                            {{vm.currentProject.last_version || '0'}}.
                            {{vm.currentProject.last_version ? ('(' + (vm.currentProject.last_version_date | date: medium) + ')') : '' }}
                       </span>
            </div>
            <div class="info-block">
                <h6>Organization</h6>
                <span>{{vm.currentProject.organisation.name}}</span>
            </div>
            <div class="info-block">
                <h6>Contact Person</h6>
                <span>{{vm.currentProject.contact_name}}</span>
                <md-button class="contact-button" ng-href="mailto:{{vm.currentProject.contact_email}}"  md-no-ink>
                    <md-icon class="material-icons">
                        mail_outline
                    </md-icon>
                    EMAIL
                </md-button>
            </div>

        </div>
    </div>
    <div class="md-toolbar-tools">
        <div class="project-mainmenu">
            <md-button ui-sref="editProject" ng-disabled="!vm.hasProfile()" ng-if="vm.userProfile.account_type === 'I'" ui-sref-active="active" md-no-ink>
                <md-tooltip md-autohide md-direction="top">
                    EDIT PROJECT DETAILS
                </md-tooltip>
                Edit Project
            </md-button>

            <md-button ui-sref="inventory"  ng-disabled="!vm.hasProfile()" ng-if="vm.userProfile.account_type === 'Y'" ui-sref-active="active" md-no-ink>
                <md-tooltip md-autohide md-direction="top">
                    INVENTORY PROJECT CREATION
                </md-tooltip>
                Inventory
            </md-button>
            <md-button ui-sref="#"  ng-show="vm.userType !== 'G'" ng-disabled="!vm.hasProfile()" ng-if="false" ui-sref-active="active" md-no-ink>
                <md-tooltip md-autohide md-direction="top">
                    TIPS AND RESOURCES
                </md-tooltip>
                Improve Project
            </md-button>
            <md-button ui-sref="maps" ng-show="vm.userType !== 'G'" ng-if="!vm.viewMode" ng-disabled="!vm.hasProfile()" ui-sref-active="active" md-no-ink>
                <md-tooltip md-autohide md-direction="top">
                    GO TO MAPS TOOLKIT
                </md-tooltip>
                <span ng-show="vm.userProfile.account_type === 'I'"> Update Score </span>
                <span ng-hide="vm.userProfile.account_type === 'I'"> Visualize Score </span>
            </md-button>

            <md-button ui-sref="summary" ng-show="vm.userType !== 0" ng-if="!vm.viewMode" ng-disabled="!vm.hasProfile()" ui-sref-active="active" md-no-ink>
                <md-tooltip md-autohide md-direction="top">
                    SHOW SCORE SUMMARY
                </md-tooltip>
                Summary Score
            </md-button>


        </div>
        <div flex></div>
        <div class="project-submenu" layout="row">
            <md-menu md-offset="15" md-position-mode="target-right target">
                <md-button ng-click="vm.openMenu($mdOpenMenu, $event)"  class="share-link" aria-label="Share" md-no-ink>
                    <md-icon class="material-icons">share</md-icon>
                    Share Public Link
                </md-button>
                <md-menu-content class="share-url">
                    <md-menu-item>
                        <span class="share-title">Share Public Link</span>
                    </md-menu-item>
                    <md-menu-item>
                        <input readonly class="share-url-box" ng-model="vm.shareUrl.url" />
                    </md-menu-item>
                    <md-menu-item>
                        <div class="share-button-container" >
                            <md-button ng-hide="vm.shareUrl.copyClicked"
                                       data-clipboard-target='.share-url-box'
                                       class="md-primary md-raised share-copy"
                                       md-prevent-menu-close="md-prevent-menu-close" >
                                Copy URL
                            </md-button>
                            <md-button ng-show="vm.shareUrl.copyClicked"
                                       class="md-raised share-copy share-copied">
                                <md-icon>check</md-icon>
                                Copied
                            </md-button>
                            <md-button class="share-cancel">Close</md-button>
                        </div>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>

</md-toolbar>
