<md-grid-list
  md-cols="11"
  md-gutter="0px"
  md-row-height="51px">

    <md-grid-tile
      md-colspan="9"
      md-rowspan="1" >
        <div class="header" layout="row" layout-align="start center">
            <h2 class="md-title text-uppercase">Common <span class="text-lowercase">m</span>HEALTH &amp; ICT Applications</h2>
        </div>
    </md-grid-tile>

    <md-grid-tile md-colspan="2" md-rowspan="1" class="empty"> </md-grid-tile>

    <md-grid-tile md-colspan="{{tile.colSpan}}" md-rowspan="{{tile.rowSpan}}" ng-repeat="tile in vm.applicationRow" ng-if="!tile.disabled">
        <div class="tile" ng-class="tile.classGenerator(tile)">

            <div ng-if="tile.isHeader">
                <div class="app-number">{{tile.applicationId}}</div>
                <div class="app-button">
                    <md-button md-no-ink class="md-button-override"  ng-click="tile.clickHandler(tile)">
                        <span>{{tile.content}}</span>
                        <md-icon class="material-icons" ng-show="tile.subApplications.length > 0 && vm.editMode"></md-icon>
                    </md-button>
                </div>
            </div>

            <div ng-if="tile.isInput" ng-click="tile.clickHandler(tile)" >

                <div ng-if="vm.editMode && tile.bubbleDrawn && tile.activated" class="bubble-shape">
                    <div class="app-number white-number">{{tile.applicationId}}</div>
                    <md-input-container md-no-float class="" >
                        <input aria-label="tile content" placeholder="Add text here" ng-model="tile.content" ng-keydown="vm.inputHandler(tile, $event)">
                    </md-input-container>
                    <span class="app-delete"><span>&times;</span></span>
                </div>

                <div ng-if="!vm.editMode && tile.content && tile.activated" class="bubble-shape">
                    <div class="app-number white-number">{{tile.applicationId}}</div>
                    <div class="app-text" >{{tile.content}}</div>
                </div>

                <div ng-if="vm.editMode && !tile.bubbleDrawn " layout="row" layout-align="center center">
                    <span class="bubble bubble-allowed" ng-if="tile.activated">
                    </span>
                    <span class="bubble bubble-notallowed" ng-if="!tile.activated"></span>
                </div>
            </div>

            <div ng-if="tile.isSelect && tile.rowEnabled">
                <div ng-if="!vm.editMode">
                    <div ng-repeat="tax in tile.content">
                        <div class="md-list-tax-text md-small">
                            {{tax}}
                        </div>
                    </div>
                </div>
                <div ng-if="vm.editMode" >
                    <md-input-container >
                        <md-select ng-model="tile.content" aria-label="taxonomy-option" multiple="true" placeholder="Select item(s)" md-container-class="small multiple" class="small multiple">
                            <div ng-repeat="constraintClass in vm.selectedConstraints | filter:{active: true}" >
                                <span>{{constraintClass.name}}</span>
                                <md-option ng-repeat="option in constraintClass.taxonomy" value="{{option}}">
                                    {{option}}
                                </md-option>
                            </div>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

        </div>
    </md-grid-tile>

</md-grid-list>
