@import '../../variables';
@import '../../mixins';

applications {

  div {
    width: 100%;
    height: 100%;
    outline: none;
  }

  .application_1 .bubble-shape,
  .application_1 .app-number  {
    background: #26C6DA;
  }
  .application_1 .white-number {
    color: #26C6DA;
  }
  .application_2 .bubble-shape,
  .application_2 .app-number {
    background: #039BE5;
  }
  .application_2 .white-number {
    color: #039BE5;
  }
  .application_3 .bubble-shape,
  .application_3 .app-number {
    background: #9575CD;
  }
  .application_3 .white-number {
    color: #9575CD;
  }
  .application_4 .bubble-shape,
  .application_4 .app-number{
    background: #673AB7;
  }
  .application_4 .white-number {
    color: #673AB7;
  }
  .application_5 .bubble-shape,
  .application_5 .app-number{
    background: #F06292;
  }
  .application_5 .white-number {
    color: #F06292;
  }
  .application_6 .bubble-shape,
  .application_6 .app-number {
    background: #F44336;
  }
  .application_6 .white-number {
    color: #F44336;
  }
  .application_7 .bubble-shape,
  .application_7 .app-number{
    background: #F9A825;
  }
  .application_7 .white-number {
    color: #F9A825;
  }
  .application_8 .bubble-shape,
  .application_8 .app-number {
    background: #F57C00;
  }
  .application_8 .white-number {
    color: #F57C00;
  }
  .application_9 .bubble-shape,
  .application_9 .app-number {
    background: #9E9D24;
  }
  .application_9 .white-number {
    color: #9E9D24;
  }
  .application_10 .bubble-shape,
  .application_10 .app-number {
    background: #43A047;
  }
  .application_10 .white-number {
    color: #43A047;
  }

  .app-number {
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 12px;
    background: #BDBDBD;
    font-size: $caption-font-size-base;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: $color-white;
    border-radius: 30px;
  }

  .white-number {
    position: relative;
    margin: 8px 0 0 9px;
    background: $color-white !important;
  }

  .app-button {
    width: calc( 100% - 42px );
    float: left;
  }

  .app-text {
    overflow: hidden;
    width: 100%;
    height: 36px;
    font-size: $caption-font-size-base;
    line-height: 16px;
    color: $color-white !important;
    transform: translateY(-50%);
  }

  .md-button-override {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 0 5px;
    padding-right: 30px;
    text-transform: none;
    font-size: 12px;
    text-align: left;
    white-space: normal;
    line-height: 16px;
    background-color: transparent !important;

    md-icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);

      &:before {
        content: "arrow_drop_down";
      }
    }
  }

  .tile {
    width: 100%;
    height: 100%;
    border-top: 1px solid $color-gray-lighter;

    &.app-header,
    &.app-tax {
      background-color: #fff !important;
    }

    &.app-open {
      md-icon {
        &:before {
          content: "arrow_drop_up";
        }
      }
    }

    &.app {
      &.activated {
        cursor: pointer;

        &:hover {
          .bubble {
            opacity: .8;
            transform: scale(1.25);
            &::after {
              opacity: 1;
            }
          }
        }
      }

      &.not-activated {
        cursor: not-allowed;
      }
    }

    &.appselected.no-bubble {
      background: $color-green;
      cursor: pointer;

      .bubble {
        &.bubble-allowed {
          opacity: .8;
          background-color: $color-green;
          &::after {
            content: "done";
            opacity: 1;
          }
        }
      }
    }

  }

  md-input-container {
    width: 100%;
    margin: 0;

    input.md-input {
      padding: 0;
      margin: -2px 0 0;
      border: none !important;
      font-size: $caption-font-size-base;
      color: $color-white !important;
      @include input-placeholder-color($color-white);
      transform: translateY(-50%);
    }

    md-select {
      margin: 0 15px;
      padding: 0;
      width: calc(100% - 35px);

      md-select-value {
        span {
          display: block;
          width: calc(100% - 30px);
        }
      }
    }
  }

  .md-list-tax-text {
    display: block;
    width: calc( 100% - 40px );
    margin: 8px 20px 0;
    @include text-truncate();
  }

  .bubble-shape {
    width: calc( 100% + 20px );
    height: calc( 100% - 5px );
    z-index: 20;
    position: absolute;
    top: 2px;
    left: -11px;
    border: 1px solid $color-white;
    border-radius: 35px;

    md-input-container,
    .app-text {
      position: absolute;
      top: 50%;
      left: 45px;
      width: calc( 100% - 60px );
    }
  }

  .bubble {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    opacity: .2;
    transition: $swift-ease-out;

    &.bubble-allowed {
      background-color: $color-green;

      &::after {
        @include md-icon(21px);
        content: "add";
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        color: $color-white;
        opacity: 0;
        transform: translate3d(0,0,0);
        transition: $swift-ease-out;
      }
    }
    &.bubble-notallowed {
      background-color: $color-red;
    }
  }

  .header {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE !important;

    h2 {
      z-index: 10;
      padding-left: 40px;
    }

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #EEEEEE url('./images/asset-bg-apps.svg') no-repeat -10px 4px;
      opacity: .2;
    }
  }

}
