@import '../../variables';
@import '../../mixins';

applications {

  div {
    width: 100%;
    height: 100%;
  }

  .application_1 {
    background: #26C6DA !important;
  }
  .application_2 {
    background: #039BE5 !important;
  }
  .application_3 {
    background: #9575CD !important;
  }
  .application_4 {
    background: #673AB7 !important;
  }
  .application_5 {
    background: #F06292 !important;
  }
  .application_6 {
    background: #F44336 !important;
  }
  .application_7 {
    background: #F9A825 !important;
  }
  .application_8 {
    background: #F57C00 !important;
  }
  .application_9 {
    background: #9E9D24 !important;
  }
  .application_10 {
    background: #43A047 !important;
  }

  .app-number {
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 12px;
    background: #BDBDBD;
    font-size: $caption-font-size-base;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: $color-white;
    border-radius: 30px;
  }

  .white-number {
    margin-top: 7px;
    margin-left: 3px;
    background: white;
  }

  .app-button {
    width: calc( 100% - 42px );
    float: left;
  }

  .app-text {
    width: calc( 100% - 70px );
    padding-top: 5px;
    position: absolute;
    right: 10px;
  }

  &.sub {
    border-bottom:0;
  }

  &.app-open {
    border-bottom: 0;
  }

  &.taxonomy {
    border-bottom:0;
  }

  .md-button-override {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 0 5px;
    padding-right: 30px;
    text-transform: none;
    font-size: 12px;
    text-align: left;
    white-space: normal;
    line-height: 16px;
    background-color: transparent !important;

    md-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }

  .tile {
    width: 100%;
    height: 100%;

    &.empty-tile {
      &.activated {
        cursor: pointer;

        &:hover {
          .bubble {
            opacity: .8;
            transform: scale(1.25);
          }
          md-icon {
            opacity: 1;
          }
        }
      }

      &.not-activated {
        cursor: not-allowed;
      }
    }
  }

  md-input-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: top;
    margin: 0;

    .md-select-value .md-text {
      display: block;
      word-break: break-all;
      word-wrap: break-word;
      width: 99%;
      float: left;
    }
  }

  md-select {
    margin: 0 20px;
  }

  .bubble-shape {
    width: calc( 100% + 20px );
    height: calc( 100% - 4px );
    position: absolute;
    top: 2px;
    left: -10px;
    z-index: 100;
    border-radius: 35px;

    md-input-container {
      width: calc( 100% - 60px );
      right: 5px;
      left: 50px;
    }
  }

  .bubble {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    opacity: .2;
    transition: $swift-ease-out;

    &.bubble-allowed {
      background-color: $color-green;
      md-icon {
        opacity: 0;
        transition: $swift-ease-out;
        color: $color-white;
      }
    }
    &.bubble-notallowed {
      background-color: $color-red;
    }
  }

  .selected {
    background: green;
  }

  .odd {
    background: #FAFAFA;
  }

  .empty {}

  .header {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;

    h2 {
      z-index: 10;
      padding-left: 40px;
    }

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #EEEEEE url('./images/asset-bg-apps.svg') no-repeat -10px 4px;
      opacity: .2;
    }
  }

}
