<div class="md-padding hss-prototype" ng-cloak>
    <h1 class="md-display-3 text-center">My digital strategy to improve RNMNCH outcomes </h1>
    <h6 class="md-subhead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        . Donec eros lacus, posuere sed elit egestas, dapibus egestas nulla. Suspendisse non tellus tellus.</h6>
    <md-button ng-click="vm.startIntro()">Run the Intro</md-button>

    <div md-whiteframe="2" >
        <continuum tiles="7" ></continuum>
        <interventions tiles="7" ></interventions>
        <applications tiles="7"></applications>
        <div layout-padding md-whiteframe="1" flex layout="row">
            <div flex="33" >
                <span class="md-subhead">Project Scale</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    . Donec eros lacus, posuere sed elit egestas, dapibus egestas nulla. Suspendisse non tellus tellus.</p>
            </div>
            <div flex="33" layout="row" layout-wrap>
                <span flex="100" class="md-subhead">Project Partners</span>
                <div flex="20" class="partner-logo-canvas" ng-repeat="n in [1,2,3]"></div>
            </div>
            <div flex="33" layout="row" layout-wrap>
                <span flex="100" class="md-subhead">Project Progress</span>
                <img flex="20" src="images/circle_progress.svg" />
            </div>
        </div>
    </div>
</div>