@import '../../node_modules/intro.js/introjs.css';
@import '../variables';
@import '../mixins';

.hss-module {

  md-grid-list {}

  md-grid-tile {
    figure > div {
      border-right: 1px solid rgba(0,0,0,.1);
      background: $color-white;
      &.odd {
        background: #FAFAFA;
      }
    }
  }

  .hss-module-bottom {
    margin-top: 1px;
    border-top: 1px solid $color-gray-lighter;
    > div {
      padding: 50px;
    }
  }

}
