@import '../../node_modules/angular-material/angular-material.css';
@import '../../node_modules/intro.js/introjs.css';
@import '../variables';
@import '../mixins';

.hss-prototype {


  md-grid-list {
    background: $color-white;
  }

  md-grid-tile {
    border-right: 1px solid rgba(0,0,0,.08);
    border-bottom: 1px solid $color-gray-lighter;
    background: $color-white;
    outline: none;

    &.sub {
      border-bottom: 0;
    }

    &.app-open {
      border-bottom: 0;
    }

    &.header-line {
      background: #EEEEEE;
    }

  }
  .partner-logo-canvas {
    background: lightgray;
    margin: 1px;
    width: 50px;
    height: 50px;
  }

}
