@import "../../variables.scss";
@import "../../mixins.scss";

projectcomp {

  .showPointer {
    cursor: pointer !important;

    .upper {
      cursor: pointer !important;
    }
  }

  md-card {
    overflow: hidden;
    outline: none;

    .project-container {
      height: auto;

      .project-logo {
        width: 115px;
        height: 115px;
        border-right: 1px solid $color-gray-light;
        background: $color-gray-lighter;

        md-icon {
          width: 40px;
          height: 40px;
          color: $color-white;
          font-size: 40px;
        }
      }

      .text-container {
        width: 100%;

        .upper {
          height: 60px;
          cursor: default;

          .basic {
            padding: 10px 12px;

            .name, .org-country {
              display: block;
              padding-right: 25px;

              @include text-truncate();
            }

            .name {
              color: $color-primary;
              font-size: $body-font-size-base;
            }

            .org-country {
              color: $text-primary;
              font-size: $body-font-size-base;
            }
          }

          .donors {
            padding: 8px;
            min-width: 65px;
            border-left: 1px solid $color-gray-lightest;

            .nr {
              display: block;
              text-align: center;
              font-weight: 500;
              font-size: 14px;
              line-height: 24px;
            }


            .static {
              display: block;
              color: $text-secondary;
              text-align: center;
              font-size: 12px;
            }
          }

          .followers {
            padding: 8px;
            min-width: 90px;
            border-left: 1px solid $color-gray-lightest;


            .nr {
              display: block;
              text-align: center;
              font-weight: 500;
              font-size: 14px;

              md-icon {
                font-size: 18px;
                transform: translate(0, 1px);

                &.up {
                  color: $color-green;
                }

                &.down {
                  color: $color-red;
                }

                &.flat {
                  color: $color-red-green;
                }
              }
            }

            .static {
              display: block;
              color: $text-secondary;
              text-align: center;
              font-size: 12px;
            }
          }

        }

        .lower {
          height: 55px;
          border-top: 1px solid $color-gray-lightest;

          .description {
            padding: 10px;
            color: $text-secondary;
            font-size: 12px;
          }

          .more {
            margin: auto;
            padding: 0 15px;

            a {
              color: $color-primary;
              text-decoration: none;
              font-weight: 500;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
