@import "../../variables.scss";
@import "../../mixins.scss";

.my-projects {
  min-width: calc($page-min-width - $navigation-width - 60px) !important;
  margin: 30px 30px 0 30px;
  padding: 10px 40px 40px;
  background: $color-gray-lightest;

  .md-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

project-component {
  display: block;
  margin-bottom: 30px;

  .show-pointer {
    cursor: pointer !important;

    .upper {
      cursor: pointer !important;
    }
  }

  md-card {
    position: relative;
    overflow: hidden;
    outline: none;
    margin: 0;

    .my-eye,
    .my-star {
      position: absolute;
      top: -6px;
      right: -19px;
      background-color: #CD9924;
      // background-color: $color-gray-lightest;
      display: block;
      width: 55px;
      height: 25px;
      box-shadow: inset 0 -1px 9px 1px rgba(0,0,0,.12);
      // box-shadow: inset 0 -1px 0 rgba(0,0,0,.075);
      transform: rotate(40deg);

      md-icon {
        position: absolute;
        top: 4px;
        left: 24px;
        font-size: 13px;
        color: $color-white;
        // color: #CD9924;
        transform: rotate(-40deg);
      }
    }

    .my-eye {
      background-color: #53A0CE;
    }


    .project-container {
      width: 100%;
      height: auto;

      // .project-logo {
      //   width: 140px;
      //   min-width: 140px;
      //   height: 140px;
      //   border-right: 1px solid darken($color-gray-lighter, 10%);
      //   background: $color-gray-lighter;
      //
      //   md-icon {
      //     width: 40px;
      //     height: 40px;
      //     color: $color-white;
      //     font-size: 40px;
      //   }
      // }

      .text-container {
        width: 100%;

        .upper {
          width: 100%;
          height: 80px;
          cursor: default;

          .basic {
            padding: 15px 20px;

            .name, .org-country {
              display: block;
              padding-right: 25px;

              @include text-truncate();
            }

            .name {
              color: $color-primary;
              font-size: 20px;
              font-weight: 500;
              margin: 2px 0 6px;
            }

            .org-country {
              color: $text-secondary;
              font-size: $body-font-size-base;
              text-transform: uppercase;
            }
          }

          .donors {
            max-width: 100px;
            width: 100px;
            padding: 10px 0;
            border-left: 1px solid $color-gray-lighter;

            .nr {
              display: block;
              margin: 4px 0;
              text-align: center;
              font-weight: 500;
              font-size: 20px;
              line-height: 30px;
            }


            .static {
              display: block;
              color: $text-secondary;
              text-align: center;
              font-size: 12px;
            }
          }

          .version {
            max-width: 100px;
            width: 100px;
            padding: 10px 0;
            border-left: 1px solid $color-gray-lighter;

            .nr {
              display: block;
              margin: 4px 0;
              text-align: center;
              font-weight: 500;
              font-size: 20px;
              line-height: 30px;

              md-icon {
                font-size: 18px;
                transform: translate(0, 1px);

                &.up {
                  color: $color-green;
                }

                &.down {
                  color: $color-red;
                }

                &.flat {
                  color: $color-red-green;
                }
              }
            }

            .static {
              display: block;
              color: $text-secondary;
              text-align: center;
              font-size: 12px;
            }
          }

        }

        .lower {
          height: 60px;
          padding: 0 20px;
          border-top: 1px solid $color-gray-lighter;

          .badges {
            display: inline-flex;

            div {
              height: 24px;
              text-transform: uppercase;
              text-align: center;
              font-size: 14px;
              font-weight: 500;
              line-height: 24px;
              border-radius: 3px;
              margin-right: 8px;
              padding: 0 8px;
            }

            .draft {
              color: $color-black;
              background-color: #FBC02D;
            }

            .published {
              color: $color-white;
              background-color: #558B2F;
            }

            .country-approved {
              color: $color-white;
              background-color: #744E42;
            }
          }

          .buttons {
            .md-button {
              margin: 6px 0 6px 16px;
            }

            md-icon {
              font-size: 20px;
              width: 20px;
              min-width: 20px;
              height: 20px;
              min-height: 20px;
            }
          }
        }
      }
    }
  }

  &.compact {
    .project-container {
      .text-container {

        .upper {
          height: 70px;

          .basic {
            .name {
              margin: 0 0 6px;
              font-size: 16px;
            }

            .org-country {
              font-size: 12px;
            }
          }

          .donors {
            .nr {
              margin: 3px 0;
              font-size: 16px;
              line-height: 24px;
            }
          }

          .version {
            .nr {
              margin: 3px 0;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }

        .lower {
          height: 50px;

          .badges {
            div {
              height: 20px;
              font-size: 12px;
              line-height: 20px;
              padding: 0 6px;
            }
          }

          .buttons {
            .md-button {
              height: 26px;
              line-height: 26px;
              font-size: 12px;
              margin: 4px 4px;
              padding: 0 6px;
            }

            md-icon {
              font-size: 16px;
              width: 16px;
              min-width: 16px;
              height: 18px;
              min-height: 18px;
            }
          }
        }
      }
    }
  }
}
