<md-card layout="column" layout-align="center">

    <div class="project-container" layout="row">

        <!-- TODO: Logo, if nothing, use default background -->
        <div class="project-logo" ng-if="vm.showLogo">
            LOGO
        </div>

        <div class="text-container" layout="column">

            <div class="upper" layout="row">
                <div class="basic" flex="flex-grow" layout="column">
                    <span flex class="name bold">{{vm.ngModel.name}}</span>
                    <span flex class="org-country">{{vm.ngModel.organization}} | {{vm.ngModel.orgCountry}}</span>
                </div>
                <div ng-if="vm.showDetails" class="donors">
                    <span class="nr">
                        {{vm.ngModel.donors}}
                    </span>
                    <span class="static">Donors</span>
                </div>
                <div class="followers">
                    <span class="nr">
                        {{vm.ngModel.followersNr}}
                        <md-icon class="md-icons" ng-class="vm.ngModel.followersTrend">trending_{{vm.ngModel.followersTrend}}</md-icon>
                    </span>
                    <span class="static">Followers</span>
                </div>
            </div>

            <div ng-if="vm.showDetails" class="lower" layout="row">
                <div flex class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ipsum dolores illum quae consequatur praesentium reprehenderit recusandae numquam velit pariatur quis, fuga excepturi repellendus obcaecati distinctio inventore iure necessitatibus natus.
                </div>
                <!-- TODO: should be a link -->
                <div class="more" ng-if="!vm.ownProject">
                    <a ng-href="{{vm.ngModel.projectUrl}}">{{vm.ownProject ? 'GO TO DASHBOARD' : 'SHOW MORE'}}</a>
                </div>
            </div>
        </div>
    </div>

</md-card>
