<md-card md-whiteframe="2" layout="column" layout-align="start start" ng-click="vm.cardClick()" ng-class="{'show-pointer' : !vm.showDetails}" >

  <div class="project-container" layout="row">

    <div class="text-container" layout="column">

      <div ng-show="vm.project.isMember" ng-class="{'my-star':vm.project.isMember}"><md-icon>grade</md-icon></div>
      <div ng-show="vm.project.isViewer && !vm.project.isMember" ng-class="{'my-eye': vm.project.isViewer}"><md-icon>visibility</md-icon></div>

      <div class="upper" layout="row">
        <div class="basic" flex layout="column">
          <span flex class="name">{{vm.project.name}}</span>
          <span flex class="org-country">{{vm.project.country_name}} &nbsp;|&nbsp; {{vm.project.organisation_name}} </span>
        </div>
        <div ng-show="vm.showDetails" class="donors" flex="no-grow">
                    <span class="nr">
                        {{vm.project.donors.length}}
                    </span>
          <span class="static">Donors</span>
        </div>
        <div class="version">
                    <span class="nr">
                        {{vm.project.version}}
                    </span>
          <span class="static">Version</span>
        </div>
      </div>

      <div ng-if="vm.showDetails" class="lower" layout="row" layout-align="start center">
        <div flex class="badges">
          <div class="draft" ng-hide="vm.project.isPublished">
            Draft
          </div>
          <div class="published" ng-show="vm.project.isPublished">
            Published
          </div>
          <div class="country-approved" ng-show="vm.project.countryApproval">
            Approved by country
          </div>
        </div>

        <div class="buttons" layout="row">
          <!-- TODO -->
          <!-- I assume we do not need this anymore... -->
          <!-- <md-button class="md-primary md-no-ink" ng-if="!vm.isMember || vm.project.isViewer || true" ng-href="{{vm.project.projectUrl}}">
            Show more
          </md-button> -->

           <md-button class="md-primary md-no-ink" ng-if="vm.project.isViewer" ng-click="vm.viewDraft()">
            <md-icon class="material-icons">
              arrow_forward
            </md-icon>
            View Draft
          </md-button>

          <md-button class="md-primary md-no-ink" ng-if="vm.project.isMember" ng-click="vm.editDraft()">
            <md-icon class="material-icons">
              mode_edit
            </md-icon>
            Edit Draft
          </md-button>

           <md-button class="md-primary md-no-ink" ng-show="vm.project.isPublished"
                      ng-if="vm.project.isMember || vm.project.isViewer" ng-click="vm.viewPublished()">
            <md-icon class="material-icons">
              arrow_forward
            </md-icon>
            View Published
          </md-button>

          <md-button class="md-primary md-no-ink" ng-if="vm.project.isMember || vm.project.isViewer" ng-click="vm.goToDashboard()">
            <md-icon class="material-icons">
              arrow_forward
            </md-icon>
            Dashboard
          </md-button>

        </div>
      </div>
    </div>
  </div>

</md-card>
