@import '../../variables';
@import '../../mixins';

cms-detail-element {
  .md-button {
    float: right;
    margin: 10px 0 0 20px;

    &:first-child {

    }
  }
}

.detail-dialog {

  .md-toolbar-tools {
    padding: 0 20px;

    .md-title {
      font-weight: 500;
      text-transform: uppercase;
    }
    .md-icon-button {}
  }

  .md-dialog-content {
    padding: 0;

    .content {
      padding: 40px;

      .cms-content-wrapper {

        &.experiences {
          .name {}

          .created {}
          
          .avatar {
            img {}
            .no-avatar {}
          }
        }

        .name {}

        .created {}

        .cover {
          img {}
          .no-cover {}
        }

        .body {
          p {}

          ul {
            li {}
          }

          ol {
            li {}
          }

          a {}
        }
      }
    }
  }
}
