@import '../../variables';
@import '../../mixins';

cms-detail-element {
  .md-button {
    float: right;
    margin: 10px 0 0 20px;

    &:first-child {

    }
  }
}

.detail-dialog {

  .md-toolbar-tools {
    .md-title {
      font-weight: 500;
      text-transform: uppercase;
    }
    .md-icon-button {}
  }

  .md-dialog-content {
    .content {}

    .name {}

    .created {}
  }

}
