<md-dialog aria-label="detail-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>DETAIL ELEMENT MODAL</h3>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content" ng-class="vm.content.type">
      <cms-report-button item="vm.content"></cms-report-button>
      <div class="content">

        <div class="created">
          {{vm.prettifyDate(vm.content)}}
        </div>

        <div class="name">
          {{vm.content.name}}
        </div>
        <div class="avatar">
          <img ng-src="{{vm.content.avatar}}" ng-if="vm.content.avatar" />
          <span class="no-avatar" ng-if="!vm.content.avatar"></span>
        </div>
        <div class="cover">
          <img ng-src="{{vm.content.cover}}" ng-if="vm.content.cover" />
          <span class="no-cover" ng-if="!vm.content.cover"></span>
        </div>

        <div class="body">
          {{vm.content.body}}
        </div>

      </div>
      <!-- ZOLI PLEASE CHANGE THE MARKUP AND CLASSES AS MUCH AS YOU WANT -->
      <!-- BUT DON'T REMOVE THE JS LIKE NG-REPEAT AND CUSTOM COMPONENT  -->

      <h3>Comments</h3>

      <cms-comment-widget comment="comment" type="vm.content.type" ng-repeat="comment in vm.content.comments"></cms-comment-widget>

      <div class="add-new-comment">
        <h3>Add new comment</h3>
        <trix-component></trix-component>
      </div>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
  </md-dialog-actions>
</md-dialog>
