<md-dialog aria-label="add-new-content" class="detail-dialog strategy-selector-dialog" ng-class="vm.dialogClass">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3 class="md-title" >
        <translate>Add {{vm.buttonName}} </translate>
        <span ng-show="vm.dialogName">
          <translate>to {{vm.dialogName}}</translate>
        </span>
      </h3>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout="row"  layout-align="start stretch">
    <div class="main-group" ng-repeat="group in vm.elements">
        <div class="header" layout="row" layout-align="start center" layout-wrap  ng-click="vm.toggle(group)">

          <h4 flex="auto" ng-show="group.name">
            {{group.name}}
          </h4>
          <h4 flex="auto" ng-hide="group.name">
            <translate>Select from list:</translate>
          </h4>

          <small ng-hide="group.allOpen" ng-click="vm.toggleAll(group)">
            <translate>Open all</translate>
          </small>
          <small ng-show="group.allOpen" ng-click="vm.toggleAll(group)">
            <translate>Close all</translate>
          </small>
        </div>
        <div class="body">
          <div class="sub-group" ng-class="vm.subGroupClass(subGroup)" ng-repeat="subGroup in group.subGroups" >
            <div class="sub-header" ng-click="vm.toggle(subGroup)">
              <i class="material-icons">chevron_right</i>
              <h6>{{subGroup.name}}</h6>
            </div>
            <div class="sub-body">
              <ul>
                <li ng-repeat="item in subGroup[vm.collectionName]">

                  <md-checkbox
                    ng-checked="vm.itemChecked(item)"
                    ng-click="vm.itemToggle(item)"
                    md-no-ink
                    aria-label="{{item}}"
                    class="md-primary small">
                    {{item.name}}
                  </md-checkbox>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button ng-click="vm.cancel()">
      <translate>Cancel</translate>
    </md-button>
    <span flex></span>
    <md-button  class="md-primary md-raised" ng-click="vm.addSelected()">
      <translate>Add selected</translate>
    </md-button>
  </md-dialog-actions>

</md-dialog>
