<div class="strategy-selector">
  <ul class="selected-strategies">
    <li ng-repeat="item in vm.selection">{{item}}</li>
  </ul>

  <md-button ng-show="vm.selection.length > 0" class="edit-button" md-no-ink ng-click="vm.showStrategySelector($event)">
    <md-icon>create</md-icon> Edit
  </md-button>
  <md-button class="add-button" ng-hide="vm.strategies.length > 0" md-no-ink ng-click="vm.showStrategySelector($event)">
    <md-icon>playlist_add_check</md-icon> Add {{vm.buttonName}}
  </md-button>
</div>