@import '../../variables';
@import '../../mixins';

.strategy-selector-dialog {

  min-width: 720px;
  max-width: 1280px;

  md-dialog-actions {
    padding: 20px;
    background-color: $color-gray-lightest;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.12);

    .md-button {
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .header {
      cursor: pointer;
      outline: none;
    }

  .main-group {

    &.closed {
      .body {
        display: none;
      }
    }
  }

  .sub-group {

    &.closed {
      .body {
        display: none;
      }
    }
  }

}
