<div class="strategy-selector md-block">
  <h6 ng-show="vm.showTitle">{{vm.buttonName}}</h6>
  <ul class="selected-strategies">
    <li ng-repeat="item in vm.selection">
      <i class="material-icons">done</i>
      <span>{{item}}</span>
    </li>
  </ul>

  <md-button ng-show="vm.selection.length > 0" class="edit-button md-primary" md-no-ink ng-click="vm.showModal($event)">
    <md-icon>create</md-icon> Edit list <!-- {{vm.buttonName}} -->
  </md-button>

  <md-button class="add-button md-primary" ng-hide="vm.elements.length === 0 || vm.selection.length > 0" md-no-ink ng-click="vm.showModal($event)">
    <md-icon>playlist_add_check</md-icon> Add {{vm.buttonName}}
  </md-button>

  <md-input-container class="dms-error">
    <input name="{{vm.name}}" ng-model="vm.selection" ng-required="vm.isRequired" aria-label="vm.name" class="hidden-input">
    <div ng-messages="vm.formElement.$error" class="custom-error">
      <div ng-message="required">This is required.</div>
      <div ng-message="custom">
        <div ng-repeat="message in vm.formElement.customError">
          {{message}}
        </div>
      </div>
    </div>
  </md-input-container>

</div>
