<div md-whiteframe="2" layout="row" >

    <div flex="nogrow" ng-class="vm.axisClass" class="picture" layout="column" layout-align="center center">
        <img ng-src="{{vm.axisPicture}}" />
    </div>

    <div flex="noshrink" class="axis" layout="column">
        <div class="md-block label">
            <span>{{vm.axisName}}</span>
        </div>
        <div class="scores" layout="row">
            <div flex="30" layout="row" layout-align="start center">
                <span flex="nogrow" layout-padding class="label">P</span>
                <div flex="grow" class="line" layout="row" >
                    <div flex="nogrow" ng-class="vm.axisCompletitionClass"></div>
                </div>
            </div>
            <div flex="30" layout="row" layout-align="start center">
                <span flex="nogrow" layout-padding class="label" >S</span>
                <div flex="grow" class="line" layout="row" >
                        <div flex="nogrow" ng-class="vm.axisScoreClass"></div>
                </div>
            </div>

        </div>
    </div>

    <div flex="noshrink" class="axis" layout="column" ng-repeat="domain in vm.domains" ng-click="vm.changeDomain(domain)">
        <div class="md-block label">
            <span>{{domain.name}}</span>
        </div>
        <div class="scores" layout="row">
            <div flex="30" layout="row" layout-align="start center">
                <span flex="nogrow" layout-padding class="label">S</span>
                <div flex="grow" class="line" layout="row" >
                    <div flex="nogrow" ng-class="vm.advanceClassGenerator(domain.domain_percentage)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
