@import '../../node_modules/angular-material/angular-material';
@import '../variables';
@import '../mixins';

/* GENERAL
   ============================= */

app {
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  flex: 1 0 auto !important;
}

ui-view {
  background-color: $color-page-background;
  height:auto !important;
  min-height:100%;
  flex: 1 0 auto !important;
}

.main-content {
  min-width: $page-min-width !important;
  background-color: $color-page-background;
  height: auto !important;
  flex: 1 0 auto !important;
}

#intro-wrapper {
  height:auto;
  min-height: 100%;
  flex: 1 0 auto !important;
}

.page-wrapper {
  background-color: $color-white;
}

.layout-padding-xl > * {
  padding: $layout-gutter-width * 2;
}

.main-wrapper {
    position:relative;
}

md-tooltip {
  md-background {
    // background-color: yellow;
    opacity: 0 !important;
  }
}


/* TYPOGRAPY
   ============================= */

.page-title {
  color: $color-primary;

  .md-display-1 {
    margin: 40px 0;
    font-size: 40px;
  }

  .md-subhead {
    margin: -10px auto 40px;
    max-width: 80%;
    color: $color-gray;
  }
}

.md-small {
  font-size: $caption-font-size-base;
}

/* UI ELEMENTS
   ============================= */



.md-button {

  &.wide {
    padding: $button-padding-wide;
  }

  &.md-small {
    .material-icons {
      margin-top: 6px;
      font-size: 16px;
    }
  }

  &.md-fab {
    &.md-tiny {
      padding: 0;
      min-height: 0;
      width: $button-fab-tiny-width;
      height: $button-fab-tiny-height;
      line-height: $button-fab-tiny-line-height;

      .material-icons {
        width: $button-fab-tiny-width;
        height: $button-fab-tiny-height;
        vertical-align: baseline;
        font-size: 18px;
        line-height: $button-fab-tiny-height;
      }
    }
  }
}


// Placeholder color

md-input-container label,
.md-select-placeholder span {
  color: rgba(0,0,0,.54);
}

md-backdrop {
  &.md-dialog-backdrop {
    z-index: 1200;
  }
}

.md-dialog-container {
  z-index: 10000;
}

.md-open-menu-container {
  z-index: 3000;
}

.md-fab-not-raised {
  box-shadow: none !important;
}

// Progress Circular

md-progress-circular .md-spinner-wrapper .md-inner .md-half-circle {
  border-width: 16px !important;
}

// Checkbox - small

$checkbox-size-small: 16px;

md-checkbox.small {
  margin-bottom: 5px;
  font-size: $caption-font-size-base;

  .md-container,
  .md-icon {
    width: $checkbox-size-small;
    height: $checkbox-size-small;
  }
  &.md-checked .md-icon:after {
    top: $checkbox-size-small / 7;
    left: $checkbox-size-small / 3;
    width: $checkbox-size-small / 3;
    height: $checkbox-size-small * 2 / 3;
  }
  .md-label {
    margin-left: 24px;
  }
}

// Md-menu

md-menu-content {
  .menu-group-title {
    display: block;
    padding: 10px 15px;
    color: $color-gray-light;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $caption-font-size-base;
  }
}


.md-subheader-wrapper.ng-scope.md-sticky-clone {
    margin-left: 0px !important;
    width: calc(100% - 32px) !important;
}

// Form global error

p.global-error {
  margin: 0;
  color: $color-red;
  font-size: $body-font-size-base;

  span {
    position: relative;
    display: block;
    margin: 0 0 10px;
    padding-left: 24px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "error_outline";

      @include md-icon(20px);
    }
  }
}

// Autocomplete

.md-not-found {
  a {
    font-weight: 500;
    color: $color-primary !important;

    .material-icons {
      position: relative;
      top: 7px;
    }
  }
}


/* CUSTOM COLORS
   ============================= */

.md-gray {

  // Progress Circular
  .md-left .md-half-circle {
    border-top-color: $color-gray-light !important;
    border-left-color: $color-gray-light !important;
  }
  .md-right .md-half-circle {
    border-top-color: $color-gray-light !important;
    border-right-color: $color-gray-light !important;
  }

  // Button
  &.md-button,
  &.md-button:not([disabled]):hover {
    color: $color-gray-light !important;
  }
}

.md-green {

  // Switch
  &.md-checked .md-bar {
    background-color: rgba($color-green, 0.49) !important;
  }
  &.md-checked .md-thumb {
    background-color: $color-green !important;
  }
  &.md-checked .md-thumb::before {
    background-color: rgba($color-green, 0.26) !important;
  }
  &.md-checked .md-ink-ripple,
  &.md-checked .md-ripple-container {
    color: $color-green !important;
  }
}

.md-black {

  // Checkbox
  &.md-checked {
    .md-icon {
      border-color: $text-primary !important;
      background-color: $text-primary !important;
    }
    .md-ink-ripple {
      color: $text-primary !important;
    }
  }

  // FAB
  &.md-fab,
  &.md-fab:not([disabled]):hover {
    background-color: $text-primary;
  }

  // Button
  &.md-button,
  &.md-button:not([disabled]):hover {
    background-color: $text-primary;
    color: $color-white;
  }
}


/* TOP NAVIGATION BAR
   ============================= */

 .main-loader .md-container {
     height: 4px !important;
 }
 .main-loader .md-bar {
     height: 3px !important;
 }

.main-toolbar {
  z-index: 1000;
  min-height: 48px;

  &.toolbar-global {
    background-color: #1A237E;

    .md-toolbar-tools {
      padding-right: 12px;
    }
  }
  .md-toolbar-tools {
    max-height: 48px;
    height: 48px;
    font-size: $body-font-size-base;

    .md-button {
      margin-left: 12px;
      min-width: 10px !important;

      &.view-selector {
        margin-right: 12px;
      }

      &.landing-link {
        margin-right: 12px;
      }

      .material-icons {
        transform: translateY(-1px);
      }
    }

    .add-new-project {
      margin-right: 18px;
    }
  }

  .app-title {
    display: inline-block;
    margin: 0 24px 0 0 !important;
    padding: 4px 0;
    min-height: 28px;
    height: 28px;

    > span {
      display: inline-block;
      min-width: 165px;
      height: 24px;
      background: red url("./images/dha-logo.svg") left center no-repeat;
      text-indent: -999em;

      @include text-hide();
    }
  }

  searchbar {
    padding-right: 0;
  }
}

.md-medium-tall {

  .md-toolbar-tools {
    background-color: $color-primary;
  }

  .md-toolbar-tools-bottom {
    background-color: $color-white;
    box-shadow: 0 1px 0 #BDBDBD;
  }

  .project-name {
    color: $text-primary;
    font-size: 24px;
  }

  .project-selector {
    md-input-container {
      margin: 0 0 0 12px !important;
      padding: 0 !important;
      max-width: 50vw;

      md-select {
        transform: translateY(-4px);

        .md-select-value {
          padding-left: 0;
          border: none;
          color: $text-primary;
        }

        .md-select-icon {
          margin: 0;
        }
      }
    }
  }

  .project-submenu {
    .md-button {
      margin: 0 12px;
    }
  }

  .project-mainmenu {
    .md-button {
      position: relative;
      overflow: visible;
      margin-right: 10px;
      padding: 0 12px !important;
      line-height: 48px;

      &.active {
        background-color: #fff !important;

        > span {
          color: $color-primary !important;
        }
      }
    }
  }

  .project-info {
    color: $color-gray;
    font-size: $body-font-size-base;

    > span {
      display: inline-block;
      float: left;
      min-height: 36px;
      line-height: 36px;

      &:last-of-type {
        margin-right: 14px;
      }

      &.menu-separator {
        margin: 10px 12px 10px 12px;
        min-height: 16px;
        width: 1px;
        height: 16px;
        background-color: #BDBDBD;
        line-height: 16px;
      }
    }

    .md-button {
      float: right;
      margin: 0 12px 0 5px;

      .material-icons,
      > span {
        color: $color-gray !important;
      }

      &:hover {
        .material-icons,
        > span {
          color: $text-primary !important;
        }
      }
    }

    .contact-button {
      &.md-button {

        span,
        .material-icons {
          line-height: 24px;
          color: $color-gray-light !important;
          font-size: 14px !important;
        }
      }
    }
  }
}

.md-toolbar-tools {
  .md-button {
    margin: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
    min-width: auto;
    border-radius: 0;
    background-color: transparent !important;

    .material-icons,
    > span {
      width: auto;
      color: $color-primary-muted !important;
      transition: $swift-ease-out;
    }

    &:hover {
      .material-icons,
      > span {
        color: $color-white !important;
      }
    }
  }

  .md-menu {
    .has-message {
      color: $color-white !important;
    }
  }
}

/* FOOTER - DISCLAIMER
   ============================= */

footer.disclaimer {
  padding: 36px;
  color: $color-gray-light;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
}
