<md-toolbar class="main-toolbar toolbar-global">
    <div class="md-toolbar-tools">

        <md-button ng-if="!vm.isLogin" ng-disabled="!vm.userProfile && vm.isLogin" ui-sref="landing" aria-label="Digital Health Atlas" class="app-title" md-no-ink>
            <span>Digital Health Atlas</span>
        </md-button>

        <md-button ng-if="vm.isLogin " ng-disabled="!vm.userProfile" ui-sref="landing-logged" aria-label="Digital Health Atlas" class="app-title" md-no-ink>
            <span>Digital Health Atlas</span>
        </md-button>

        <md-button aria-label="Country Level View" class="view-selector" ui-sref="country" ng-disabled="!vm.userProfile" ng-if="vm.isLogin" ng-show="vm.state.current.name !== 'country'" md-no-ink>
            <md-icon class="material-icons">public</md-icon>
            Country View
        </md-button>

        <md-button aria-label="Go to Dashboard" class="view-selector" ng-disabled="!vm.userProfile" ui-sref="dashboard" ng-if="vm.isLogin" ng-show="vm.state.current.name !== 'dashboard'" md-no-ink>
            <md-icon class="material-icons ">apps</md-icon>
            Dashboard
        </md-button>

        <span flex></span>

        <searchbar compact-mode="true" ng-if="vm.showFullNavigation"></searchbar>
        <md-button class="md-icon-button" ng-disabled="!vm.userProfile" ui-sref="info" aria-label="Info" ng-if="vm.isLogin"  md-no-ink>
            <md-icon class="material-icons">help_outline</md-icon>
        </md-button>

        <md-button class="landing-link" ui-sref-active="active" ui-sref="login" aria-label="Login" ng-if="!vm.isLogin" ng-hide="vm.currentPage === 'login'" md-no-ink>
            Login
        </md-button>

        <md-button class="landing-link" ui-sref-active="active" ui-sref="signup" aria-label="Singup" ng-if="!vm.isLogin" ng-hide="vm.currentPage === 'signup'" md-no-ink >
            Sign Up
        </md-button>

        <md-menu md-position-mode="target-right target" ng-if="vm.isLogin">
            <md-button class="md-icon-button" aria-label="User" ng-click="vm.openMenu($mdOpenMenu, $event)" md-no-ink>
                <md-icon md-menu-origin class="material-icons ">person</md-icon>
            </md-button>

            <md-menu-content width="4">
                    <span class="menu-group-title">
                        {{vm.user.username}}
                    </span>
                <md-menu-item>
                    <md-button>
                        <md-icon class="material-icons" md-menu-align-target>verified_user</md-icon>Role: {{vm.user.role}}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ui-sref="editProfile">
                        <md-icon class="material-icons">account_circle</md-icon>Edit my Profile
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="vm.logout()">
                        <md-icon class="material-icons">exit_to_app</md-icon>Logout
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>


        <!--<md-menu md-position-mode="target-right target" ng-if="vm.showFullNavigation " >-->

        <!--<md-button class="md-icon-button" aria-label="Notification"  ng-click="vm.openMenu($mdOpenMenu, $event)" md-no-ink>-->
        <!--<md-icon md-menu-origin class="material-icons has-message">email</md-icon>-->
        <!--<badge counter="vm.notifications.length"></badge>-->
        <!--</md-button>-->
        <!--<md-menu-content width="6">-->
        <!--<md-menu-item ng-repeat="notification in vm.notifications">-->
        <!--<p>-->
        <!--Pabst pop-up jean shorts portland gastropub everyday carry.-->
        <!--</p>-->
        <!--</md-menu-item>-->
        <!--</md-menu-content>-->
        <!--</md-menu>-->

        <md-button class="add-new-project" ui-sref="newProject" ng-disabled="!vm.userProfile" aria-label="Add new project" ng-if="vm.showFullNavigation" md-no-ink>
            <md-icon class="material-icons">add</md-icon>
            New Project
        </md-button>



    </div>
</md-toolbar>
<md-content>
    <md-toolbar class="md-medium-tall toolbar-project" ng-if="vm.showFullNavigation" ng-show="vm.state.current.name !== 'country'">
        <div class="md-toolbar-tools">
            <div class="project-mainmenu">
                <md-button ui-sref="dashboard" ng-disabled="!vm.userProfile" ui-sref-active="active" md-no-ink>
                    Dashboard
                </md-button>
                <md-button ui-sref="hss" ng-disabled="!vm.userProfile" ui-sref-active="active" md-no-ink class="active">
                    <md-tooltip md-autohide>
                        CREATE VISUAL FRAMEWORK
                    </md-tooltip>
                    Visualize Project
                </md-button>
                <md-button ui-sref="editProject" ng-disabled="!vm.userProfile" ui-sref-active="active" md-no-ink>
                    <md-tooltip md-autohide>
                        EDIT PROJECT DETAILS
                    </md-tooltip>
                    Edit Project
                </md-button>
                <md-button ui-sref="#" ng-disabled="!vm.userProfile" ng-if="false" ui-sref-active="active" md-no-ink>
                    <md-tooltip md-autohide>
                        TIPS AND RESOURCES
                    </md-tooltip>
                    Improve Project
                </md-button>
                <md-button ui-sref="maps" ng-disabled="!vm.userProfile" ui-sref-active="active" md-no-ink>
                    <md-tooltip md-autohide>
                        GO TO MAPS TOOLKIT
                    </md-tooltip>
                    Update Score
                </md-button>
                <md-button ui-sref="summary" ng-disabled="!vm.userProfile" ui-sref-active="active" md-no-ink>
                    <md-tooltip md-autohide>
                        SHOW SCORE SUMMARY
                    </md-tooltip>
                    Summary Score
                </md-button>
            </div>
            <div flex></div>
            <div class="project-submenu" layout="row">
                <!--<md-button aria-label="Share" md-no-ink >-->
                <!--<md-icon class="material-icons">share</md-icon>-->
                <!--Share-->
                <!--</md-button>-->

                <!--<md-menu md-position-mode="target-right target">-->
                <!--<md-button md-menu-origin aria-label="More" ng-click="vm.openMenu($mdOpenMenu, $event)" md-no-ink>-->
                <!--<md-icon class="material-icons">more_vert</md-icon>-->
                <!--More-->
                <!--</md-button>-->

                <!--<md-menu-content width="4">-->
                <!--<span class="menu-group-title">-->
                <!--More Actions-->
                <!--</span>-->
                <!--<md-menu-item>-->
                <!--<md-button>-->
                <!--<md-icon class="material-icons">person_add</md-icon>-->
                <!--Assign owners/users-->
                <!--</md-button>-->
                <!--</md-menu-item>-->
                <!--<md-menu-item>-->
                <!--<md-button>-->
                <!--<md-icon class="material-icons">lock_outline</md-icon>-->
                <!--Publicity settings-->
                <!--</md-button>-->
                <!--</md-menu-item>-->
                <!--<md-menu-item>-->
                <!--<md-button>-->
                <!--<md-icon class="material-icons">publish</md-icon>-->
                <!--Export pdf/csv-->
                <!--</md-button>-->
                <!--</md-menu-item>-->
                <!--</md-menu-content>-->
                <!--</md-menu>-->
            </div>
        </div>

        <div class="md-toolbar-tools md-toolbar-tools-bottom">
            <ssmenu
                    aria-label="Project Choser"
                    options="vm.user.projects"
                    option-label = "name"
                    ng-model="vm.currentProject.name"
                    md-container-class="large"
                    class="large project-selector"
                    on-close-callback="vm.updateProject">
            </ssmenu>

            <div flex></div>

            <div class="project-info" layout="row">
                <span>
                    Version:
                    {{vm.currentProject.last_version}}
                    ({{vm.currentProject.last_version_date | date: medium}})
                </span>
                <span class="menu-separator"></span>
                <span>
                    Organization:
                    {{vm.userProfile.organisation.name}}
                </span>
                <!--span class="menu-separator"></span>
                <span>
                    Contact:
                    <md-button ng-href="mailto:{{vm.currentProject.contact.email}}"  md-no-ink>
                        <md-icon class="material-icons">
                            send
                        </md-icon>
                        {{vm.currentProjectMock.contact.name}}
                    </md-button>
                </span-->
            </div>
        </div>
    </md-toolbar>
    <ui-view name="main" id="main-view" layout-fill></ui-view>
</md-content>
