<div class="project-section section-strategy" md-whiteframe="2">
  <div class="section-title md-title">
    2. Strategies
    <span class="toggler" ng-click="vm.collapse()"><i class="material-icons">&#xE313;</i></span>
  </div>

  <div class="section-wrapper">
    <h6 class="first">Add one or more platform and related strategies:</h6>

    <div class="input-group" ng-class="{last: $last}" ng-repeat="platform in vm.project.platforms">
      <div layout="column" >
        <div layout="row">
          <md-input-container class="md-block" flex="50">
            <label>Platform</label>
            <md-select ng-model="platform.name" md-on-close="vm.platformSelected(platform)" name="{{'platforms_'+ $index + '.name' }}" required >
              <md-option ng-value="plat" ng-repeat="plat in platform.available">
                {{plat}}
              </md-option>
            </md-select>
            <div ng-messages="vm.form['platforms_' + $index + '.name'].$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="custom">
                <div ng-repeat="message in vm.form['platforms_' + $index + '.name'].customError">
                  {{message}}
                </div>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <dialog-multi-selector
            ng-show="platform.name"
            selection="platform.strategies"
            button-name="strategies"
            elements="vm.structure.strategies"
            collection-name="strategies"
            dialog-name="platform.name">
          </dialog-multi-selector>
          <div class="add-more-item" flex>
            <div layout="row" layout-align="start end">
              <md-button class="md-primary" aria-label="Add more"
                         ng-show="vm.showAddMore($index, vm.project.platforms)"
                         ng-click="vm.addChild('platforms')">
                <md-icon><i class="material-icons">&#xE145;</i></md-icon> Add more
              </md-button>
              <md-button class="md-warn" aria-label="Remove"
                         ng-show="vm.showRemove($index, vm.project.platforms)"
                         ng-click="vm.removeChild($index, 'platforms')">
                <md-icon><i class="material-icons">&#xE15B;</i></md-icon> Remove
              </md-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-wrapper alt">
    <div layout="row" class="first">
      <md-input-container class="md-block" flex>
        <label>HIS buckets (select from list)</label>
        <md-select ng-model="vm.project.his_bucket" md-select-separator="empty" name="his" required multiple>
          <md-option value="{{his}}" ng-repeat="his in vm.structure.his_bucket">
            {{his}}
          </md-option>
        </md-select>
        <div ng-messages="vm.form.his.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>

    <div layout="row">
      <md-input-container class="md-block" flex>
        <label>HSC challenges (select from list)</label>
        <md-select ng-model="vm.project.hsc_challenges" md-select-separator="empty" name="hsc" required multiple>
          <md-option value="{{hsc}}" ng-repeat="hsc in vm.structure.hsc_challenges">
            {{hsc}}
          </md-option>
        </md-select>
        <div ng-messages="vm.form.hsc.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>

    <div layout="row">
      <label>Essential interventions</label>
      <dialog-multi-selector
        selection="vm.project.interventions"
        button-name="interventions"
        elements="vm.structure.interventions"
        collection-name="interventions">
      </dialog-multi-selector>
    </div>
  </div>
</div>
