@import '../../variables';
@import '../../mixins';

cms-dashboard-widget {
}

.cms-widget-wrapper {
  background-color: $color-gray-lightest;

  .cms-widget-header {
    width: 100%;
    height: 40px;
    color: $color-white;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.2);

    &.groundwork {
      background-color: $color-axis1;
    }
    &.partnership {
      background-color: $color-axis2;
    }
    &.financial-health {
      background-color: $color-axis3;
    }
    &.technology-and-architecture {
      background-color: $color-axis4;
    }
    &.operations {
      background-color: $color-axis5;
    }
    &.monitoring-and-evaluation {
      background-color: $color-axis6;
    }

    .domain-icon {
      max-width: 40px;
      height: 40px;
      margin-left: 6px;
      margin-right: 2px;
      background-repeat: no-repeat;
      background-size: 80% 80%;
      background-position: center center;

      &.parameters-of-scale {
        background-image: url('./images/icon-domain-1.svg');
      }
      &.contextual-environment {
        background-image: url('./images/icon-domain-2.svg');
      }
      &.scientific-basis {
        background-image: url('./images/icon-domain-3.svg');
      }
      &.strategic-engagement {
        background-image: url('./images/icon-domain-4.svg');
      }
      &.partnership-sustainability {
        background-image: url('./images/icon-domain-5.svg');
      }
      &.financial-management {
        background-image: url('./images/icon-domain-6.svg');
      }
      &.financial-model {
        background-image: url('./images/icon-domain-7.svg');
      }
      &.data {
        background-image: url('./images/icon-domain-8.svg');
      }
      &.interoperability {
        background-image: url('./images/icon-domain-9.svg');
      }
      &.adaptability {
        background-image: url('./images/icon-domain-10.svg');
      }
      &.personnel {
        background-image: url('./images/icon-domain-11.svg');
      }
      &.training-and-support {
        background-image: url('./images/icon-domain-12.svg');
      }
      &.outreach-and-sensitization {
        background-image: url('./images/icon-domain-13.svg');
      }
      &.contingency-planning {
        background-image: url('./images/icon-domain-14.svg');
      }
      &.process-monitoring {
        background-image: url('./images/icon-domain-15.svg');
      }
      &.evaluation-research {
        background-image: url('./images/icon-domain-16.svg');
      }
    }

    .domain-score {
      font-size: 14px;
      line-height: 40px;
      font-weight: 500;
      @include text-truncate();
    }

    .domain-selector {
      margin: 7px 30px 0 0;


      md-select {
        float: right;
        max-width: 300px;
        margin: 0;
        height: auto;

        md-select-value {
          padding: 0 !important;
          font-size: 14px;
          color: $color-white !important;
          border-bottom-width: 0 !important;

          .md-select-icon {
            margin: 0 !important;
          }
        }
      }
    }

    .domain-arrows {
      max-width: 95px;
      padding-right: 15px;

      .md-button {
        float: left;
        margin: 0;
        padding: 0;
        max-width: 40px;
        min-width: 40px;
        height: 40px;

        md-icon {
          color: $color-white !important;
        }
      }
    }
  }

  .category-column {}

  .layout-wrap {
    width: 100%;
    padding: 0 5px;
  }

  .empty-card {
    background-color: #fff;
    margin-top: 5px;
    padding: 12px;
    min-height: 50px;
    font-size: 12px;
    color: $text-secondary;
  }

  .category-header {
    margin-bottom: 5px;
    min-height: 50px;
    background-color: $color-white;
    background-repeat: no-repeat;

    h4 {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      max-width: 60%;
      margin-left: 12px;
      @include text-truncate();
    }

    &.lessons-tips {
      background-image: url('./images/illustration-1.svg');
      background-size: 134px 109px;
      background-position: 98% 2px;
    }
    &.resources {
      background-image: url('./images/illustration-2.svg');
      background-size: 194px 95px;
      background-position: 106% -2px;
    }
    &.experiences {
      background-image: url('./images/illustration-3.svg');
      background-size: 147px 82px;
      background-position: 106% -15px;
    }
  }

  .md-button.goto-cms {
    margin: 20px auto 10px;
    padding-left: 12px;
    padding-right: 12px;

    // Multi-lang
    @include button-ml($width: 300px);
    //
  }

  // Resize cms-list-element
  .cms-list-element {
    margin: 5px 0;

    .cover-img,
    .avatar-img {
      padding: 10px;
      min-width: 60px;
      max-width: 60px;

      img {
        width: 60px;
      }

      .no-cover {
        width: 60px;
        height: 60px;

        &::after {
          font-size: 32px;
        }
      }
    }

    .excerpt {
      width: calc(100% - 100px);
      padding: 10px;

      h3.md-title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        padding: 0 10px 0 0;
        word-break: normal;
        hyphens: auto;
        // @include text-truncate();
      }

      h6,
      .metadata {
        display: none;
      }

      .body {
        -webkit-line-clamp: 2;
        font-size: 12px;
        line-height: 16px;
        max-height: 32px;
        min-height: 32px;
        margin: 8px 0 0;
      }
    }

    cms-detail-element {
      margin-bottom: 10px;

      .md-button {
        md-icon {
          color: $color-primary !important;
        }

        &:first-of-type {
          display: none;
        }
      }
    }

    &.experience {

    }
  }
}
