<div md-whiteframe="2" class="cms-widget-wrapper" layout="column"  layout-align="start stretch">

  <div class="cms-widget-header" ng-class="vm.axisColor" layout="row" class="md-block">
    <div class="domain-icon" ng-class="vm.domainIcon"></div>
    <div class="domain-score" > {{vm.domainScore}}% </div>
    <div class="domain-name" > {{vm.currentDomain}}</div>
    <div class="domain-selector">
      <md-select aria-label="domain-selector" ng-model="vm.currentDomain" md-selected-text="'Select a domain'">
        <md-optgroup label="{{axis.name}}" ng-repeat="axis in vm.axes">
            <md-option ng-value="domain" ng-repeat="domain in axis.domains">{{domain}}</md-option>
      </md-select>
    </div>
  </div>

  <div layout="row" layout-margin="10" layout-wrap>
    <div class="category-column" layout="column" flex>
      <div md-whiteframe="2" class="category-header lessons-tips" layout="row"  layout-align="start center">
        <h4>Lessons and Tips</h4>
      </div>
      <cms-list-element ng-repeat="item in vm.lessons" item="item"></cms-list-element>
      <md-button md-no-ink class="md-primary md-small goto-cms">More Lessons &amp; Tips</md-button>
    </div>
    <div class="category-column" layout="column" flex>
      <div md-whiteframe="2" class="category-header resources" layout="row"  layout-align="start center">
        <h4>Resources</h4>
      </div>
      <cms-list-element ng-repeat="item in vm.resources" item="item"></cms-list-element>
      <md-button md-no-ink class="md-primary md-small goto-cms">More Resources</md-button>
    </div>
    <div class="category-column" layout="column" flex>
      <div md-whiteframe="2" class="category-header experiences" layout="row"  layout-align="start center">
        <h4>Experiences</h4>
      </div>
      <cms-list-element ng-repeat="item in vm.experiences" item="item"></cms-list-element>
      <md-button md-no-ink class="md-primary md-small goto-cms">More Experiences</md-button>
    </div>
  </div>

</div>
