@import '../../variables';
@import '../../mixins';

$coverage-height:60px;
$strategies-height:60px;

edit-profile {
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  max-width: $page-min-width;

  .error {

    .md-select-value {
      border-color: rgb(221,44,0);
    }

    div [ng-message] {
      position:relative;
      top: -15px;
      left: 5px;
      font-size: 12px;
      line-height: 14px;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
      opacity: 1;
      color: rgb(221,44,0);
    }
  }

  .wrapper {
    background: $color-white;
    flex: 1 0 auto !important;
    height: auto !important;
    display: block;

    form

    .edit-button {
      padding: 50px 0 30px;

      .md-button {
        margin: 0;
        min-width: 160px;
      }
    }
  }

  .profile-header {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding: 0 40px;
    color: $color-white;
    background-color: #B0BEC5;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.12);
    cursor: pointer;
    transition: $swift-ease-out;

    .last-update {
      float: right;
      font-size: 12px;
    }
  }

  .hint {
    font-size: 12px;
    padding-top:5px;
    color: $color-gray;
  }


  .my-projects {
    width: 100%;
    min-width: calc($page-min-width - 340px) !important;
    margin: 30px auto;
    padding: 10px 40px 40px;
    // display: block;
    // width: 100%;
    // border-top: 1px solid $color-gray-light;
    // background: $color-gray-lightest;
    // padding-left: 50px;
    // padding-right: 50px;
    // padding-bottom: 40px;

    // h5 {
    //   font-size:20px;
    //   font-weight: 500;
    // }
    //
    // md-card {
    //   margin:0;
    //   margin-bottom: 30px;
    // }
  }


}
