@import '../../variables';
@import '../../mixins';

$coverage-height:60px;
$strategies-height:60px;

edit-profile {
  display: block;
  padding: 0 30px;

  .error {

    .md-select-value {
      border-color: rgb(221,44,0);
    }

    div [ng-message] {
      position:relative;
      top: -15px;
      left: 5px;
      font-size: 12px;
      line-height: 14px;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
      opacity: 1;
      color: rgb(221,44,0);
    }
  }

  .wrapper {
    background: $color-white;
    flex: 1 0 auto !important;
    height: auto !important;
    display: block;

    .edit-button {
      padding: 20px 0;
      
      .md-button {
        padding-right:20px;
        padding-left:20px;
      }
    }
  }

  .profile-header {
    height: 55px;
    background: #EEEEEE;
    line-height: 55px;
    padding-left:20px;
    padding-right:20px;
    margin: 20px 0;
    border-bottom: 1px solid $color-gray-light;

    div {
      font-size:14px;
      color: $color-gray-light;
    }
  }

  .hint {
    font-size: 12px;
    padding-top:5px;
    color: $color-gray;
  }


  .my-projects {
    display: block;
    width: 100%;
    border-top: 1px solid $color-gray-light;
    background: $color-gray-lightest;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;

    h5 {
      font-size:20px;
      font-weight: 500;
    }

    md-card {
      margin:0;
      margin-bottom: 30px;
    }
  }


  .autocomplete-errors {
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    opacity: 1;
    margin-top: 0;
    padding-top: 5px;
    color: rgb(221,44,0)
  }

}
