<div class="project-section section-additionalinfo" md-whiteframe="2">

    <div class="section-title md-title">
        4. Additional Info
        <span class="toggler" ng-click="vm.collapse()"><i class="material-icons">&#xE313;</i></span>
    </div>

    <div class="section-wrapper">

        <div layout="row" class="first">
            <md-input-container class="md-block" flex>
                <label>Contact name</label>
                <input required name="contact.name" ng-model="vm.project.contact_name">
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex>
                <label>Contact email</label>
                <md-icon><i class="material-icons">&#xE0BE;</i></md-icon>
                <input required name="contact.email"
                       ng-pattern="/.{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+/"
                       md-minlength="4"
                       md-maxlength="256"
                       ng-model="vm.project.contact_email">
            </md-input-container>
        </div>

        <div class="checklist small-margin">
            <h6>Select health focus area(s):</h6>
            <ul>
                <li ng-repeat="d in vm.structure.health_focus_areas">
                    <md-checkbox md-no-ink aria-label=""
                                 class="md-primary"
                                 ng-checked="vm.checkboxChecked(d, 'health_focus_areas')"
                                 ng-click="vm.checkboxToggle(d, 'health_focus_areas')"
                                 flex="30"
                                 aria-label="{{ d }}">
                        {{ d }}
                    </md-checkbox>
                </li>

            </ul>
        </div>

    </div>

</div>
