@import '../../variables';
@import '../../mixins';

.subpage-wrapper {

  max-width: $page-max-width !important;
  margin: 70px auto 0;

  h2 {
    font-size: rem(6.000);
    margin: 40px 0 30px;

    + .md-button {
      margin: 0 0 10px;
      color: $color-gray-lighter;

      md-icon {
        color: $color-gray-lighter;
      }
    }
  }

  .bg-hero {
    min-height: 320px;
    max-height: 320px;
    background: $color-primary url("./images/bg-welcome-2.jpg") 0 center no-repeat;
    background-size: cover;

    // Crossbrowser fixes
    .browser-microsoft_edge & {
      background-position: 0 0;
    }
  }

  .welcome {
    margin: 0;
    padding: 30px 50px;
    width: auto;
    max-width: 70%;
    background-color: rgba(250,140,0,.87);

    h2 {
      color: $color-white;
      word-wrap: break-word;
    }
  }

  .subpage-content {
    width: 100%;
    margin-bottom: 80px;

    h1 {
      color: $color-primary;
    }

    h4 {
      margin-top: 40px;
    }

    p {
      font-size: 16px;
      line-height: 24px;

      a {
        color: $color-primary;
      }
    }

    li {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  .md-toolbar-tools-bottom {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 80px;
    padding: 16px 50px;
    background-color: rgba(159,176,185,0.9);
    color: $color-white;
    transition: $swift-ease-out;

    &::after {
      position: absolute;
      top: -28px;
      right: 25px;
      content: "";
      display: inline-block;
      width: 110px;
      height: 133px;
      background-image: url("./images/book-maps-toolkit.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      display: inline-block;
      width: 420px;
      height: 80px;
      background-image: url("./images/book-maps-toolkit-bg.svg");
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: 0 14px;
      opacity: 0.2;
    }

    h3 {
      float: left;
      margin: 6px 30px 6px 0;
      padding: 0 30px 0 0;
      height: 36px;
      font-size: 20px;
      line-height: 36px;
      border-right: 1px solid $color-gray-lighter;
    }

    .dl-note {
      position: relative;
      float: left;
      width: 40%;
      height: 48px;

      > p {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        color: $color-gray-lightest;
      }
    }

    .dl-maps-link {
      float: right;
      width: 165px;
      margin: 7px 100px 0 30px;

      md-icon {
        position: relative;
        top: -1px;
        margin-right: 3px;
      }

      // Multi-lang
      > translate {
        max-width: 160px;
        display: inline-flex;
        > span {
          display: block;
          @include text-truncate;
        }
      }
      //
    }
  }

  md-tabs {}

  md-tabs-wrapper {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 60px;
    width: 260px;
    height: 100%;
    border-right: 2px solid #EEEEEE;
    background-color: $color-white;

    md-tabs-canvas {
      overflow: visible;

      md-pagination-wrapper {
        height: auto;

        md-tab-item {
          padding-left: 50px;
          max-width: 260px;
          width: 260px;
          text-align: left;

          &.md-active {
            color: $text-primary;
            border-left: 3px solid $color-primary;
          }
        }

        md-ink-bar {
          display: none;
        }
      }
    }
  }

  md-tabs-content-wrapper {
    z-index: 1;
    padding: 20px 80px 80px 340px;
    overflow: hidden;

    md-tab-content {}
  }
}

/*
terms-of-use {
  position: relative;

  .tou-wrapper{
    position: relative;
    margin-top:30px;
    margin-bottom: 30px;
    width: calc( 100% - 60px );
    height: calc( 100% - 30px );
    background: $color-white;
    overflow-x: hidden;
    overflow-y: scroll;

    .md-title {
      height:55px;
      width:100%;
      border-bottom: 2px solid $color-gray-lightest;
      line-height: 55px;
      padding-left:20px;

      span {
        text-transform: capitalize;
      }
    }

    .side-menu {
      height: calc( 100% - 55px );
      border-right: 2px solid $color-gray-lightest;
      padding-top:20px;


      .menu-entry {
        font-weight: 500;
        color: $color-gray-light;
        font-size:14px;
        padding-left: 20px;
        height:32px;
        line-height: 32px;
        text-transform: uppercase;
        outline:none;
        cursor: pointer;

        &.active {
          color: $color-black;
          border-left: 2px solid $color-primary;
        }
      }
    }

    .content {
      padding-top:50px;
      padding-left:60px;
      padding-right:100px;

      .content-entry {

        .content-title {
          color: $color-primary;
          font-size: 40px;
          margin-bottom:35px;

        }

        .content-body {
          font-size:16px;
          line-height: 24px;
          letter-spacing: -0.23px;
        }

      }

    }

  }


}
*/
