<div class="project-section project-navigation" md-whiteframe="2">
  <div class="section-title md-title">Navigation</div>
  <div class="edit-mode-switch" layout="row" layout-align="start center">
    <div>Switch view:</div>
    <div layout="row" layout-align="stretch">
      <div>
        <button type="button" ng-click="vm.goTo('draft')" class="draft" ng-class="{'active': vm.state.params.editMode === 'draft'}">Draft</button>
      </div>
      <div>
        <button type="button" ng-click="vm.goTo('publish')" class="publish" ng-class="{'active': vm.state.params.editMode === 'publish'}">Published</button>
      </div>
    </div>
  </div>
  <div layout="column" class="stepper">
    <ul>
      <li class="general-overview active">
        <a ng-click="vm.scrollTo('general-overview')">
          <span><i class="material-icons">&#xE5C8;</i></span>General
        </a>
      </li>
      <li class="implementation-overview">
        <a ng-click="vm.scrollTo('implementation-overview')">
          <span><i class="material-icons">&#xE5C8;</i></span>Implementation
        </a>
      </li>
      <li class="technology">
        <a ng-click="vm.scrollTo('technology')">
          <span><i class="material-icons">&#xE5C8;</i></span>Technology
        </a>
      </li>
      <li class="interoperability">
        <a ng-click="vm.scrollTo('interoperability')">
          <span><i class="material-icons">&#xE5C8;</i></span>Interoperability
        </a>
      </li>
      <li class="country-fields" ng-show="vm.showCountryFields">
        <a ng-click="vm.scrollTo('country-fields')">
          <span><i class="material-icons">&#xE5C8;</i></span>Country fields
        </a>
      </li>
    </ul>
  </div>
  <div layout="column" class="edit-buttons" >
    <div class="primary-buttons" ng-if-start="vm.state.params.editMode === 'draft'">
      <md-button type="submit" class="md-primary md-raised">Publish</md-button>
    </div>
    <div class="secondary-buttons">
      <md-button class="md-primary" ng-click="vm.saveDraft()">Save draft</md-button>
    </div>
    <div ng-if-end class="secondary-buttons">
      <md-button class="md-warn">Discard draft</md-button>
    </div>
    <div class="secondary-buttons" ng-if="vm.state.params.editMode === 'publish'">
      <md-button class="md-primary" ui-sref="dashboard">Go to dashboard</md-button>
    </div>
  </div>
</div>
