<div class="project-section" md-whiteframe="2">
    <div class="section-title">Navigation</div>
    <div layout="column" class="edit-button">
        <div flex="50" layout="row" layout-align="start center">
            <md-button class="md-gray md-raised" ng-if="!vm.editMode" ui-sref="dashboard">Cancel process</md-button>
            <md-button class="md-gray md-raised" ng-if="vm.editMode" ui-sref="dashboard">Dismiss Changes</md-button>
        </div>
        <div flex="50" layout="row" layout-align="end center">
            <md-button type="submit" ng-if="!vm.editMode && !vm.inventoryMode" class="md-primary md-raised">Add new project</md-button>
            <md-button type="submit" ng-if="vm.inventoryMode" class="md-primary md-raised">Save and add another</md-button>
            <md-button type="submit" ng-if="vm.editMode" class="md-primary md-raised">Save Project info</md-button>
        </div>
    </div>
</div>