@import '../../variables';
@import '../../mixins';

.project-navigation {

  .edit-mode-switch {
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    font-size: 14px;


    > div:first-child {
      padding-right: 8px;
      white-space: nowrap;
    }

    button {
      width: 100%;
      height: 30px;
      line-height: 30px;
      margin: 0;
      padding: 0 12px;
      border: 0;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: $color-gray-light;
      background-color: $color-gray-lighter;
      outline: none;
      box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.2);
      transition: $swift-ease-out;

      &:hover {
        color: $color-gray;
        background-color: $color-gray-lightest;
      }

      &.draft {
        border-radius: 5px 0 0 5px;

        &.active {
          background-color: $color-draft;
          color: $text-primary;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        }
      }

      &.publish {
        border-radius: 0 5px 5px 0;

        &.active {
          background-color: $color-published;
          color: $color-white;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }

  }

  .stepper {

    ul {
      position: relative;
      list-style: none;
      margin: 20px 0;
      padding: 0;

      @media only screen and (max-height: 700px) {
        margin: 20px 0;
      }

      &::after {
        z-index: 1;
        content: "";
        position: absolute;
        top: 15px;
        left: 44px;
        display: inline-block;
        width: 1px;
        height: calc(100% - 35px);
        background-color: #BDBDBD;
      }
    }

    li {
      z-index: 2;
      position: relative;
      cursor: pointer;

      &.active,
      &:hover,
      &:active {

        a {
          color: $text-primary;
        }

        .step {
          background-color: #CD9923;
          border-width: 2px;
        }

        i {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1) rotate(0deg);
        }
      }
    }

    a {
      position: relative;
      display: block;
      padding: 0 20px 0 70px;
      height: 62px;
      line-height: 62px;
      color: #B0BEC5;
      text-decoration: none;
      transition: $swift-ease-out;

      @media only screen and (max-height: 720px) {
        height: 48px;
        line-height: 48px;
      }
    }

    .step {
      position: absolute;
      top: 15px;
      left: 30px;
      box-sizing: border-box;
      display: inline-block;
      width: 29px;
      height: 29px;
      border: 6px solid $color-white;
      background-color: #B0BEC5;
      border-radius: 29px;
      transition: $swift-ease-out;

      @media only screen and (max-height: 720px) {
        top: 8px;
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.5) rotate(-90deg);
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        color: $color-white;
        opacity: 0;
        transition: $swift-ease-out;
      }
    }
  }

  .edit-buttons {
    padding: 20px 0;
    background-color: $color-gray-lightest;
    text-align: center;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,.12);

    @media only screen and (max-height: 700px) {
      padding: 10px 0;
    }

    .md-button {
      width: 180px;
    }

    .primary-buttons {
      .md-button {
        margin: 15px 0;
      }
    }

    .secondary-buttons {
      .md-button {}
    }
  }

}
