<div class="search-project" ng-init="vm.showSearch = false" ng-class="{'active': vm.showSearch}">
    <md-input-container class="searchinput md-block">
        <md-icon>search</md-icon>
        <input
            type="text"
            ng-model="vm.searchStr"
            ng-focus="vm.showSearch = true"
            aria-label="search input field"
            placeholder="Type and search projects">
    </md-input-container>

    <md-button
        ng-click="vm.showSearch = false; vm.searchStr = ''"
        class="closebtn md-icon-button md-gray">
        <md-icon>close</md-icon>
    </md-button>

    <md-card
        layout="column"
        class="searchcard md-whiteframe-24dp"
        ng-if="vm.showSearch">

        <div class="md-block filters">
          <md-subheader class="md-no-sticky">Set filters:</md-subheader>

          <div>
              <div layout="row" layout-wrap flex>
                  <div ng-repeat="(key, value) in vm.filters" flex="33">
                      <md-checkbox class="md-primary small" ng-model="value">
                          {{key}}
                      </md-checkbox>
                  </div>
              </div>
          </div>
        </div>

        <div class="md-block results">
          <md-subheader
              class="md-no-sticky"
              ng-if="vm.searchStr">Results (3 from {{vm.resultNr}}):</md-subheader>

          <projectcomp
              ng-if="vm.searchStr"
              ng-model="vm.projects[0]"
              has-link=true
              has-logo=false>
          </projectcomp>

          <projectcomp
              ng-if="vm.searchStr"
              ng-model="vm.projects[1]"
              has-link=true
              has-logo=false>
          </projectcomp>

          <projectcomp
              ng-if="vm.searchStr"
              ng-model="vm.projects[2]"
              has-link=true
              has-logo=false>
          </projectcomp>

          <a href="" class="see-all-results md-button md-primary center-block" ng-if="vm.searchStr">See all results...</a>
        </div>
    </md-card>
</div>
