@import '../../variables';
@import '../../mixins';


searchbar {
  position: relative;
  z-index: 200;
  display: block;
  padding: 30px 0;
  padding-right: 100px;
  backface-visibility: hidden;

  .search-project {
    position: relative;
    width: 100%;

    &.active {
      .closebtn {
        display: block;
      }
    }
  }

  .searchinput {
    position: relative;
    z-index: 220;
    padding-left: 0 !important;

    md-icon {
      top: 0 !important;
      left: -5px !important;
      color: $color-white;
      font-size: 36px;
    }

    label {
      bottom: calc(100% - 6px) !important;
      color: $color-white;
      font-size: $headline-font-size-base;
    }

    .md-input[type="text"] {
      padding: 0px 44px 16px !important;
      height: 48px;
      border-color: $color-white;
      font-size: $headline-font-size-base;
    }

    &.md-input-focused,
    &.md-input-has-value {
      label:not(.md-no-float) {
        opacity: 0;
        transform: none;
      }

      .md-input {
        border-color: $color-primary;
        color: $text-primary;
      }

      md-icon {
        color: $color-primary;
      }
    }
  }

	.searchcard {
		position: absolute;
		top: -29px;
    left: -30px;
    z-index: 210;
    padding: 70px 0 0;
    width: calc(100%);

    .md-block {
      padding: 22px;

      &.filter {}
      &.results {
        border-top: 1px solid $color-gray-lighter;
        background-color: #F6F6F6;
      }
    }

    .md-subheader {
      background-color: transparent;
      text-transform: uppercase;

      .md-subheader-inner {
        padding-top: 5px;
        padding-left: 0;
        background-color: transparent;
      }
    }

    md-card {
      display: block;
      margin: 10px 0 0;
    }

    .see-all-results {
      margin: 20px 0 0;
    }
	}

  .closebtn {
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 230;
    display: none;
  }
}
