<md-button ng-if="vm.compactMode" ng-click="vm.toggleSearch()" class="md-icon-button" aria-label="Search" md-no-ink>
    <md-icon class="material-icons">search</md-icon>
</md-button>
<div class="search-project" ng-hide="vm.compactMode && !vm.showSearch" ng-class="{'active': vm.showSearch, 'compact': vm.compactMode}">
    <md-input-container class="searchinput md-block">
        <md-icon>search</md-icon>
        <input
            type="text"
            ng-model="vm.searchStr"
            ng-model-options="{debounce: 500}"
            ng-focus="vm.showSearch = true"
            aria-label="search input field"
            placeholder="Search projects">
    </md-input-container>

    <md-button
        ng-click="vm.close()"
        id="closebtn"
        class="md-icon-button md-gray md-no-ink">
        <md-icon>close</md-icon>
    </md-button>

    <md-card
        layout="column"
        class="searchcard md-whiteframe-24dp"
        ng-if="vm.showSearch">

        <div class="md-block filters">
          <md-subheader class="md-no-sticky">Set filters:</md-subheader>

          <div>
              <div layout="row" layout-wrap flex>
                  <div ng-repeat="filter in vm.filters" flex="33">
                      <md-checkbox class="md-primary small" ng-model="filter.value" ng-change="vm.search(vm.searchStr)">
                          {{filter.displayName}}
                      </md-checkbox>
                  </div>
              </div>
          </div>
        </div>

        <div class="md-block results" ng-show="vm.projects">
          <md-subheader class="md-no-sticky">Results ({{vm.resultNr}} out of {{vm.totalNr}}):</md-subheader>

          <projectcomp
              ng-repeat="project in vm.projects | limitTo: 5"
              viewer="vm.isViewer(project)"
              member="vm.isMember(project)"
              ng-model="project"
              has-link=true
              has-logo=false>
          </projectcomp>

          <!--a href="" class="see-all-results md-button md-primary center-block" ng-if="vm.searchStr">See all results...</a-->
        </div>
    </md-card>
</div>
