@import '../../variables';
@import '../../mixins';

searchbar {
  position: relative;
  z-index: 2000;
  display: block;
  padding: 30px 0;

  .search-project {
    position: relative;

    &.active {
      #closebtn {
        display: block;
      }
    }

    project-component {
      margin: 16px 0 0;
    }
  }

  .searchinput {
    position: relative;
    z-index: 220;
    margin-right: 60px;
    padding-left: 0 !important;

    md-icon {
      top: 19px !important;
      left: 20px !important;
      color: $color-gray-light;
      font-size: 36px;
      transition: $swift-ease-out;
    }

    label {
      left: 60px !important;
      bottom: calc(100% - 22px) !important;
      color: $color-gray-light;
      font-size: $headline-font-size-base;

      // Multi-lang
      width: 80% !important;
      //
    }

    .md-input {
      padding: 19px 54px 16px 54px !important;
      height: 70px;
      border-color: transparent;
      font-size: $headline-font-size-base;
      border-width: 0 0 1px !important;
      background-color: rgba(255,255,255,.78);
      box-shadow: 0 5px 25px 2px rgba(0,0,0,.20);
      border-radius: 3px;
      transition: $swift-ease-out;

      &:hover {
        background-color: rgba(255,255,255,.93);
        box-shadow:
          0 5px 25px 2px rgba(0,0,0,.20),
          0 10px 40px 4px rgba(0,0,0,.12);
      }
    }
  }

  .active {
    md-input-container label:not(.md-no-float):not(.md-container-ignore) {
      opacity: 0;
      transform: none;
      transform: translate3d(10px, 28px, 0) scale(1);
    }

    .md-input[type="text"] {
      border-color: $color-primary;
      color: $color-primary;
      box-shadow: none;
      border-radius: 0;
      transition: none;
    }

    md-icon {
      left: 5px !important;
      color: $color-primary;
    }
  }

  .searchcard {
    z-index: 210;
    position: absolute;
    top: -19px;
    left: -38px;
    width: 100%;
    padding: 85px 0 0;

    .md-block {
      padding: 30px;

      &.results {
        border-top: 1px solid $color-gray-lighter;
        background-color: $color-gray-lightest;
      }
    }

    .md-subheader {
      background-color: transparent;
      text-transform: uppercase;

      .md-subheader-inner {
        padding: 0 0 10px;
        background-color: transparent;
      }
    }

    md-card {
      display: block;
      margin: 10px 0 0;
    }

    .see-all-results {
      margin: 20px 0 0;
    }
  }

  #closebtn {
    position: absolute;
    top: 18px;
    right: 55px;
    z-index: 230;
    display: none;

    md-icon {
      color: $color-gray-light;
    }
  }

  .compact {
    position: absolute;
    top: 15px;
    right: -30px;

    #closebtn {
      top: 38px;
      border-radius: 50px;

      .material-icons {
        color: $color-gray-light !important;
      }
    }

    .md-input {
      width: 456px;
    }

    .searchcard {
      top: 0;
    }

  }
}
