<md-grid-list md-cols="11" md-gutter="0px" md-row-height="4em" class="continuum-component">

    <md-grid-tile md-colspan="2" md-rowspan="1" class="empty-cell">

    </md-grid-tile>

    <md-grid-tile
        ng-repeat="tile in vm.firstRow"
        ng-class="[vm.classGenerator(tile), 'firstrow']"
        md-colspan="{{tile.colSpan}}"
        md-rowspan="{{tile.rowSpan}}">
        <img ng-src="{{tile.icon}}">
    </md-grid-tile>

    <md-grid-tile md-colspan="2" md-rowspan="3">

        <div class="hss-controls">

            <div class="hss-control">

                <p>Edit Mode: {{vm.editMode ? 'On' : 'Off'}}</p>

                <md-switch
                    class="md-primary hss-c-s"
                    ng-model="vm.editMode"
                    aria-label="EditMode"
                    ng-change="vm.editModeChange()">
                </md-switch>

            </div>

            <div class="hss-control hss-control-export"
                ng-if="!vm.editMode"
                ng-click="vm.exportPdf()">

                <p>Export (pdf)<i class="material-icons hss-c-s">file_upload</i></p>

            </div>

            <div class="hss-control">

                <p>Progress: {{vm.mapsProgressPercentage}}%</p>

                <md-progress-circular
                    class="hss-c-s"
                    md-mode="determinate"
                    md-diameter="25"
                    value="{{vm.mapsProgressPercentage}}">
                </md-progress-circular>

            </div>
        </div>
    </md-grid-tile>

    <md-grid-tile
        md-colspan="2"
        md-rowspan="1"
        class=""
        layout="row">

        <img flex="20" src="./images/icon-mother.svg" />

        <span flex="80">Mother</span>
    </md-grid-tile>

    <md-grid-tile ng-repeat="tile in vm.motherRow"
        ng-class="tile.classGenerator(tile)"
        md-colspan="{{tile.colSpan}}" md-rowspan="{{tile.rowSpan}}"
        ng-click="tile.clickHandler(tile)">

        <span>{{tile.content}}</span>

    </md-grid-tile>

    <md-grid-tile md-colspan="2" md-rowspan="1" class="" layout="row">
        <img flex="20" src="./images/icon-child.svg" />
        <span flex="80" >Child</span>
    </md-grid-tile>

    <md-grid-tile ng-repeat="tile in vm.childRow" ng-class="tile.classGenerator(tile)"
                  md-colspan="{{tile.colSpan}}" md-rowspan="{{tile.rowSpan}}"
                  ng-click="tile.clickHandler(tile)">
        <span>{{tile.content}}</span>
    </md-grid-tile>

</md-grid-list>
