@import '../../variables';
@import '../../mixins';

signup {

  .browser-safari & {
    .signup-wrapper {
      height: auto !important;
    }
  }

  md-content {
    min-width: 440px;
    max-width: 440px;
  }

  h4 {
    margin-bottom: 36px;
    color: $color-gray-light;
    text-align: center;
    text-transform: uppercase;
  }

  .layout-row {
    margin: 18px 0 36px;

    .login-back,
    .login-back a {
      color: $color-gray-light;
    }

    .login-back a {
      &:hover {
        color: $color-primary;
        text-decoration: none;
      }
    }

    .md-button {
      margin: 5px 0 0;
    }

    .md-primary {
      float: right;
    }
  }

  .role-form {
    padding: 20px 40px;

    .img-role {
      float: left;
      margin: 0 10px 0 5px;
      width: 24px;
      //transition: $swift-ease-out;
    }

    p.md-small {
      margin: 0 0 30px;
      //transition: $swift-ease-out;
    }

    md-radio-button:not(.md-checked) {
      .md-label,
      + p.md-small {
        color: $text-disabled;
      }
      .img-role {
        opacity: .4;
      }
    }

    md-radio-button.md-checked {
      .md-label,
      + p.md-small {
        color: $text-primary;
      }
      .img-role {
        opacity: 1;
      }
    }
  }

  .main-form {
    margin-top: 18px;
    padding: 20px 40px;
    // background-color: $color-gray-lightest;
    background-color: #FFF9C4;
  }

  .form-success {
    padding: 40px;

    h4 {
      margin-bottom: 12px;
    }

    i.material-icons {
      display: block;
      color: $color-green;
      text-align: center;
      font-size: 48px;
    }
  }

  footer {
    margin-bottom: 50px;
    max-width: 640px;
  }
}
