<div layout="column" layout-align="start center" ng-style="vm.style" >
    <div>
        <h2>Sign up</h2>
    </div>

    <div md-whiteframe>
        <md-content layout="column" layout-padding>
            <form name="signupForm" ng-submit="vm.signup(signupForm)" novalidate>
                <div layout="column" class="role-form">
                    <h3>1. Select your role</h3>
                    <md-radio-group ng-model="vm.register.role" name="role">
                        <md-radio-button value="1" ng-selected="true" >
                          Digital Project Implementer/Owner
                        </md-radio-button>
                        <md-radio-button value="2">
                          Donor
                        </md-radio-button>
                        <md-radio-button value="3">
                          Government
                        </md-radio-button>
                    </md-radio-group>
                    <p >
                        Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor
                        incidunt ut labore et dolore magna aliqua. Curabitur est gravida et libero vitae dictum.
                    </p>
                </div>
                <div layout="column" class="main-form">
                    <h3>2. Fill out the form below</h3>
                     <md-input-container class="md-block">
                         <label>Email address</label>
                         <input ng-model="vm.register.email" required name="email" type="email" ng-change="vm.handleCustomError(signupForm, 'email')" />
                         <div ng-messages="signupForm.email.$error">
                             <div ng-message="required">This is required.</div>
                             <div ng-message="email">This field must be a valid email.</div>
                             <div ng-message="custom" ng-repeat="error in signupForm.email.customError">{{error}} </div>
                         </div>
                     </md-input-container>
                     <md-input-container>
                         <label>Password</label>
                         <input ng-model="vm.register.password1" type="password" name="password1" required ng-minlength="6" ng-change="vm.handleCustomError(signupForm, 'password1')"/>
                         <div ng-messages="signupForm.password1.$error" >
                             <div ng-message="required">This is required.</div>
                             <div ng-message="minlength">This need to be at least 6 chars</div>
                             <div ng-message="custom" ng-repeat="error in signupForm.email.customError">{{error}} </div>
                         </div>
                     </md-input-container>
                     <md-input-container>
                         <label>Password (Again)</label>
                         <input ng-model="vm.register.password2" type="password" name="password2" required  match-password="password1" ng-change="vm.handleCustomError(signupForm, 'password2')" />
                         <div ng-messages="signupForm.password2.$error">
                             <div ng-message="required">This is required.</div>
                             <div ng-message="passwordMatch">Your passwords do not match.</div>
                             <div ng-message="custom" ng-repeat="error in signupForm.email.customError">{{error}} </div>
                         </div>
                     </md-input-container>
                    <div layout="row">
                        <div layout="column" flex>
                            Already signed up?
                            <a ui-sref="login">
                                Login here
                            </a>
                        </div>
                        <div flex layout="row" layout-align="end">
                            <md-button class="md-raised md-primary" type="submit" ng-disabled="signupForm.$invalid">
                                Sign up
                            </md-button>
                        </div>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
</div>
