@import '../../variables';
@import '../../mixins';

signup {

  // Crossbrowser fixes
  .browser-safari &,
  .browser-ie.version-11 & {
    .signup-wrapper {
      height: auto !important;
    }
  }

  md-content {
    min-width: 440px;
    max-width: 440px;
  }

  h4 {
    margin-bottom: 36px;
    color: $color-gray-light;
    text-align: center;
    text-transform: uppercase;
  }

  .layout-row {
    margin: 18px 0 36px;

    .login-back,
    .login-back a {
      color: $color-gray-light;
    }

    .login-back a {
      &:hover {
        color: $color-primary;
        text-decoration: none;
      }
    }

    .md-button {
      margin: 5px 0 0;
    }

    .md-primary {
      float: right;
    }
  }

  .role-form {
    padding: 20px 40px;

    .img-role {
      float: left;
      margin: 0 10px 0 5px;
      width: 24px;
      //transition: $swift-ease-out;
    }

    .md-label {
      line-height: 27px;
    }

    p.md-small {
      margin: 0 0 40px;
      padding-top: 5px;
      line-height: 16px;
      //transition: $swift-ease-out;
    }

    md-radio-button:not(.md-checked) {
      .md-label,
      + p.md-small {
        color: $text-disabled;
      }
      .img-role {
        opacity: .4;
      }
    }

    md-radio-button.md-checked {
      .md-label,
      + p.md-small {
        color: $text-primary;
      }
      .img-role {
        opacity: 1;
      }
    }
  }

  .main-form {
    margin-top: 18px;
    padding: 20px 40px;
    // background-color: $color-gray-lightest;
    background-color: #FFF9C4;
  }

  .form-success {
    padding: 40px;

    h4 {
      margin-bottom: 12px;
    }

    i.material-icons {
      display: block;
      color: $color-green;
      text-align: center;
      font-size: 48px;
    }
  }

  footer {
    margin-bottom: 50px;
    max-width: 640px;
  }

  .landing-page {

    .role-form {
      .img-role {
        position: absolute;
        top: -15px;
        left: -120px;
        margin: 0 10px 0 5px;
        width: 48px;
        transition: $swift-ease-out;
      }

      p {
        margin: 0 20px 50px 100px;
        font-size: 16px;
        line-height: 24px;
        transition: $swift-ease-out;
      }

      md-radio-button {
        margin: 0 0 20px;
        padding: 0 20px 0 100px;
        font-size: $title-font-size-base;

        .md-container {
          margin-left: 100px;
        }
      }

      md-radio-button:not(.md-checked) {
        .md-label,
        + p {
          color: $text-disabled;
        }
        .img-role {
          opacity: .4;
        }
      }

      md-radio-button.md-checked,
      md-radio-button:hover {
        .md-label,
        + p {
          color: $text-primary;
        }
        .img-role {
          opacity: 1;
        }
      }
    }

    .main-form {
      background-color: $color-white;
      padding: 0;
      .form-actions {
        margin-top: 0;
        border-top: none;
      }
    }

    .hidden {
      overflow: hidden;
      display: none;
      height: 0;
      opacity: 0;
      pointer-events: none;
    }

    h2, h5, h4 {
      text-align: left;
    }

  }
}
