<div layout="column" layout-align="start center" ng-style="vm.style">
  <div class="page-title">
    <h1 class="md-display-1 text-center">Sign up</h1>
    <!-- <h6>Subtitle if needed</h6> -->
  </div>

    <div md-whiteframe="2">
        <md-content layout="column">
            <form name="signupForm" ng-submit="vm.signup(signupForm)" novalidate ng-hide="vm.registered">
                <div layout="column" class="role-form">
                    <h4>1. Select your role</h4>
                    <md-radio-group ng-model="vm.register.role">
                        <md-radio-button value="1" ng-selected="true" class="md-primary">
                          <img src="./images/icon-role-implementer.svg" alt="" class="img-role">
                          Implementer
                        </md-radio-button>
                        <p class="md-small">How can I better scale-up my implementation? Are there tips and resources that I should consider to improve my implementation? Sign up to complete the digital version of the MAPS toolkit and track the performance of your implementation. </p>
                        <md-radio-button value="2" class="md-primary">
                          <img src="./images/icon-role-investor.svg" alt="" class="img-role">
                          Financial Investor
                        </md-radio-button>
                        <p class="md-small">What are the different projects within your portfolio? Sign up to access a visual dashboard displaying the performance metrics of projects within your portfolio. </p>
                        <md-radio-button value="3" class="md-primary">
                          <img src="./images/icon-role-government.svg" alt="" class="img-role">
                          Government
                        </md-radio-button>
                        <p class="md-small">Who is implementing digital health interventions in your country? Sign up to access interactive maps and performance metrics on the different implementation in your country. </p>
                    </md-radio-group>
                </div>
                <div layout="column" class="main-form">
                    <h4>2. Fill out the form below</h4>
                     <md-input-container class="md-block">
                         <label>Email address</label>
                         <input ng-model="vm.register.email" required name="email" type="email" ng-change="vm.handleCustomError(signupForm, 'email')" />
                         <div ng-messages="signupForm.email.$error">
                             <div ng-message="required">This is required.</div>
                             <div ng-message="email">This field must be a valid email.</div>
                             <div ng-message="custom" ng-repeat="error in signupForm.email.customError">{{error}} </div>
                         </div>
                     </md-input-container>
                     <md-input-container>
                         <label>Password</label>
                         <input ng-model="vm.register.password1" type="password" name="password1" required ng-minlength="6" ng-change="vm.handleCustomError(signupForm, 'password1')"/>
                         <div ng-messages="signupForm.password1.$error" >
                             <div ng-message="required">This is required.</div>
                             <div ng-message="minlength">This need to be at least 6 chars</div>
                             <div ng-message="custom" ng-repeat="error in signupForm.email.customError">{{error}} </div>
                         </div>
                     </md-input-container>
                     <md-input-container>
                         <label>Password (Again)</label>
                         <input ng-model="vm.register.password2" type="password" name="password2" required  match-password="password1" ng-change="vm.handleCustomError(signupForm, 'password2')" />
                         <div ng-messages="signupForm.password2.$error">
                             <div ng-message="required">This is required.</div>
                             <div ng-message="passwordMatch">Your passwords do not match.</div>
                             <div ng-message="custom" ng-repeat="error in signupForm.email.customError">{{error}} </div>
                         </div>
                     </md-input-container>
                     <div layout="row" layout-align="start">
                         <div flex="auto" class="login-back">
                             <small>Already signed up?
                                 <a ui-sref="login">
                                     Login here
                                 </a>
                             </small>
                        </div>
                        <div flex="grow" layout="column" layout-align="center end">
                            <md-button ng-hide="vm.inProgress" class="md-raised md-primary" type="submit" ng-disabled="signupForm.$invalid">
                                Sign up
                            </md-button>

                             <md-progress-circular ng-show="vm.inProgress" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </div>
            </form>
            <div ng-show="vm.registered">
                <h4>Congratulations</h4>
                <p class="text-center">
                    Your registration is successful, you will receive an email with the instructions to activate your account
                    [Proper text needed]
                </p>
            </div>

        </md-content>
    </div>
    <footer class="disclaimer">
      <b>Disclaimer:</b> All reasonable precautions have been taken by the World Health Organization to verify the information contained in this publication. However, the published material is being distributed without warranty of any kind, either expressed or implied. The responsibility for the interpretation and use of the material lies with the reader. In no event shall the World Health Organization be liable for damages arising from its use.
    </footer>
</div>
