<div class="landing-wrapper" layout=column>
    <div class="bg-hero" ng-style="vm.countryCover" layout=row layout-align="start end">
        <div class="welcome">
            <div class="welcome-text">
                <h2 class="md-display-3">Welcome!</h2>
                <h5 class="md-headline">{{vm.countryData.cover_text}}</h5>
            </div>

            <searchbar></searchbar>
        </div>
    </div>

    <div layout="row" class="content-wrapper">

        <div class="what-is-aside" flex=40>
            <h5 class="md-headline">What Digital Health Atlas is?</h5>
            <div class="md-block dha-feature" layout="row" layout-align="start start">
                <div class="img-wrapper" flex=auto>
                    <img src="./images/screenshot-1.png" alt="">
                </div>
                <div flex=grow>
                  <p>Digital Health Atlas offers technologists, implementers, financial investors, and governments a platform of tools and guidance to improve the use of digital innovations for health. Leverages the WHO mHealth Assessment and Planning for Scale (MAPS) Toolkit.</p>
                </div>
            </div>
            <div class="md-block dha-feature" layout="row" layout-align="start start">
                <div class="img-wrapper" flex=auto>
                    <img src="./images/screenshot-2.png" alt="">
                </div>
                <div flex=grow>
                    <p>Using metrics from the WHO mHealth Assessment and Planning for Scale (MAPS) Toolkit, the DHA allows implementers to assess the maturity of digital health projects, gain personalized guidance, and benefit from implementation experiences and other resources. </p>
                </div>
            </div>
            <div class="md-block dha-feature" layout="row" layout-align="start start">
                <div class="img-wrapper" flex=auto>
                    <img src="./images/screenshot-3.png" alt="">
                </div>
                <div flex=grow>
                    <p>This interactive website also helps to curate the range of digital health implementations around the world. This will enable a global community of implementers, governments, and financial investors to map, monitor, and foster the growth of digital health innovations investments. </p>
                </div>
            </div>
        </div>


        <md-card ng-if="!vm.isLogin" class="content-main logged-out md-card" ng-hide="vm.registered" flex=60>
            <signup landing-page="true"></signup>
        </md-card>

        <md-card ng-if="vm.isLogin" class="content-main logged-in md-card" flex=60>
            <h2 class="md-display-3">My Projects</h2>

            <md-card md-whiteframe="2" class="my-project" ng-repeat="project in vm.projectList">
              <div layout="row" layout-align="start stretch">
                <div flex="85">
                  <hgroup>
                    <h3 class="project-title md-headline">{{project.name}}</h3>
                    <h6 class="country-title md-subhead">{{project.countryName}}</h6>
                  </hgroup>
                  <div class="project-links md-block">
                    <md-button aria-label="Dashboard" ui-sref="dashboard({appName: project.id})" class="md-primary md-small" md-no-ink>
                        <md-icon class="material-icons">apps</md-icon>
                        Dashboard
                    </md-button>
                      <md-button aria-label="Update Scores" ui-sref="maps({appName: project.id})" class="md-primary md-small" md-no-ink>
                          <md-icon class="material-icons">playlist_add_check</md-icon>
                          Update
                      </md-button>
                      <md-button aria-label="Summary Score" ui-sref="summary({appName: project.id})" class="md-primary md-small" md-no-ink>
                          <md-icon class="material-icons">insert_chart</md-icon>
                          Summary
                      </md-button>
                    </div>
                  </div>
                  <div class="project-stats-2" flex="15">
                    <donors number="project.donors.length"></donors>
                  </div>
                </div>

        </md-card>
    </div>
</div>

<country-partners ng-if="vm.showFooter" footer-title="vm.countryData.footer_title" footer-text="vm.countryData.footer_text" partners="vm.countryData.partner_logos"></country-partners>
<disclaimer></disclaimer>
