@import '../variables';
@import '../mixins';

.landing-wrapper {

  h2 {
    font-size: rem(6.000);
  }

  .bg-hero {
    min-height: 800px;
    background: $color-primary url("./images/bg-welcome-3.jpg") 0 -10px;
    background-size: cover;

    // TODO
    &.logged-in {
      background-image: url("./images/bg-welcome-2.jpg");
    }
  }

  .welcome {
    margin: 0 30px;
    padding: 30px 50px 80px;
    width: calc( 45% - 100px );
    background-color: rgba(219,126,3,.87);

    .welcome-text,
    .search-project {
      padding-right: 50px;
    }

    h2, h5 {
      color: $color-white;
      word-wrap: break-word;
    }
  }

  .content-wrapper {
    position: relative;
    margin: 0 30px;
    background-color: $color-primary;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 10px;
      background: url("./images/maps-zebra.png") 0 0 no-repeat;
      background-size: cover;
      content: "";
    }

    .what-is-aside {
      margin-top: -50px;
      margin-bottom: 100px;
      padding: 50px;
      min-height: 500px;
      background: url("./images/bg-whatis.jpg") 0 0 no-repeat;
      background-size: 100% auto;

      @include clearfix();

      h2, h5 {
        color: $color-white;
      }

      .dha-feature {
        float: left;
        margin: 25px 0;

        .img-wrapper {
          position: relative;

          &::before {
            position: absolute;
            top: -2px;
            left: -2px;
            z-index: 1;
            display: inline-block;
            width: 70px;
            height: 70px;
            background-color: $color-axis4;
            content: "";
          }

          img {
            position: relative;
            z-index: 2;
            display: inline-block;
            margin: 5px;
            width: 102px;
            height: auto;
          }
        }
        p {
          margin: 0 0 25px 30px;
          color: $color-white;

          .browser-safari & {
            margin-left: 50px;
          }
        }
      }
    }

    .content-main {
      position: relative;
      z-index: 100;
      margin-top: -225px;
      margin-right: 0;
      margin-bottom: 100px;
      margin-left: 0;
      padding: 40px 120px;
      background-color: $color-white;

      .browser-firefox & {
        bottom: 220px;
        margin-top: 0;
        margin-bottom: 0;
      }

      &.logged-in {
        padding-bottom: 80px;
        background-color: $color-gray-lightest;
      }

      h2 {
        margin-bottom: 0;
        color: $color-primary;
      }

      h4 {
        margin-bottom: 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid $color-gray-lighter;
        color: $color-gray-light;
        text-transform: uppercase;
        font-size: $title-font-size-base;
      }


      .form-actions {
        margin-top: 20px;
        margin-bottom: 50px;
        padding-top: 30px;
        border-top: 1px solid $color-gray-lighter;

        .md-button {
          margin: 0;
          min-width: 150px;
        }
      }



      .my-project {
        margin: 50px 0 0;
        padding: 20px 0 0;
        // border-bottom: 1px solid $color-gray-lighter;

        &:last-of-type {
          border: 0;
        }

        .project-title {
          margin: 8px 8px 15px;
          padding: 0 20px;
        }

        .project-links {
          padding: 0 20px;
          border-bottom: 1px solid $color-gray-lighter;

          .md-button {
            margin: 0 20px 15px 0;
          }
        }

        .project-stats {
          @include clearfix();
        }

        viewers,
        followers {
          md-card {
            opacity: 0.5;
          }
        }


        viewers,
        followers,
        donors {

          .dash-stat-card {
            margin: 0;
            padding: 5px 15px 20px;
            height: auto;
            border-left: 1px solid $color-gray-lighter;
            border-radius: 0;
            box-shadow: none;
          }
        }

        .project-links {
          md-button {
            margin: 0 20px 0 0;
          }
        }
      }
    }
  }

  // TODO
  .trending {
    margin: 0 30px;
  }
}
