@import '../variables';
@import '../mixins';

.landing-wrapper {
  min-width: $page-min-width !important;
  max-width: $page-max-width !important;
  margin: 70px auto 0;

  h2 {
    font-size: rem(6.000);
  }

  .bg-hero {
    height: 600px;
    background: $color-primary url("./images/bg-welcome-map.jpg") 0 0 no-repeat;
    background-size: cover;

    &.logged-in {
      background-image: url("./images/bg-welcome-map.jpg");
    }

    searchbar {
      z-index: 900 !important;
      width: 37%;
      margin: 0 0 0 50px;
    }

    // Crossbrowser fixes
    .browser-microsoft_edge & {
      background-position: 0 0;
    }
  }

  .content-wrapper {
    position: relative;
    margin: 0;
    padding: 0;

    .content-aside {
      min-height: 500px;
      background-color: $color-primary;

      > div {
        padding: 30px 70px;
      }

      .welcome {
        padding-top: 40px;

        h2, h5 {
          color: $color-white;
          word-wrap: break-word;
        }
      }

      .what-is {
        padding-bottom: 80px;
        background-image: linear-gradient(180deg, darken($color-primary, 10%), $color-primary);
        @include clearfix();

        h2, h5 {
          color: $color-white;
        }

        .dha-feature {
          float: left;
          width: 100%;
          margin: 20px 0;

          .img-wrapper {
            position: relative;

            &::before {
              position: absolute;
              top: -2px;
              left: -2px;
              z-index: 1;
              display: inline-block;
              width: 70px;
              height: 70px;
              background-color: $color-axis4;
              content: "";
            }

            img {
              position: relative;
              z-index: 2;
              display: inline-block;
              margin: 5px;
              width: 102px;
              height: auto;
              box-shadow: 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
            }
          }

          p {
            margin: 0 20px 20px 30px;
            font-size: 14px;
            line-height: 20px;
            color: $color-white;

            // Crossbrowser fixes
            .browser-safari & {
              margin-left: 50px;
            }
          }
        }
      }
    }

    .content-main {
      overflow: hidden;
      position: relative;
      z-index: 100;
      margin: 0;
      padding: 40px 100px 40px;
      background-color: $color-white;
      border-radius: 0 !important;
      box-shadow: 0px 9px 48px 8px rgba(0, 0, 0, 0.12);

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 13px;
        background: url("./images/maps-zebra.png") 0 0 no-repeat;
        background-size: 100% 100%;
        content: "";
      }

      &.logged-out {
        h2 {
          margin-bottom: 0;
        }
      }

      &.logged-in {
        padding: 40px 100px 100px;
        background-color: $color-gray-lightest;

        h2 {
          margin-bottom: 60px;
        }
      }

      h2 {
        color: $color-primary;
      }

      h4 {
        margin-bottom: 50px;
        padding-bottom: 30px;
        border-bottom: 1px solid $color-gray-lighter;
        color: $color-gray-light;
        text-transform: uppercase;
        font-size: $title-font-size-base;
      }

      .no-projects {
        h5 {
          margin-top: 0;
        }

        .md-button {
          margin: 0;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      project-component {}

      form {
        display: block;
        float: left;
        width: 100%;
      }

      .role-form {
        padding: 0 0 40px;
      }

      .form-actions {
        margin-top: 40px;

        .md-button {
          margin: 0;
          min-width: 180px;
        }
      }
    }
  }

  // .trending {
  //   margin: 0 30px;
  // }
}
