@import '../../variables';
@import '../../mixins';

.section-projectdetails {

  @media only screen and (max-width: 1280px) {
    .add-more-item .md-button {
      padding: 0 !important;
      min-width: 50px;

      span {
        display: none;
      }
    }
  }

  .chipper {
    margin-bottom: 40px;
  }


  .md-block.district {
    max-width: calc(50% + 30px);
  }

  .similar-project {
    margin-left: 40px !important;

    .similar-label {
      display: block;
      font-size: 12px;
      font-weight: 500;
      transform: translateY(-19px);
    }

    .ownProject {
      position: relative;
      top: -6px;
      display: inline-block;
      margin-right: 6px;
    }

    .similar-link {
      color: $color-primary;
      text-decoration: none;
    }
  }

  .section-wrapper {
    .custom-error {
      margin-left: 40px !important;
    }
  }

  .suggestion {
    margin-top: 5px !important;
    margin-left: 2px;
    margin-bottom: 20px;
    color: $text-disabled;
    font-size: 12px;
  }

  &.read-only {

    .section-wrapper {
      > div {
        margin-bottom: 40px;
      }

      .layout-row {
        > div {
          width: 25%;
          padding-right: 60px;
        }
      }
    }

    h6 {
      display: block;
      margin: 0 0 10px;
      padding: 0;
    }

    p {
      margin: 0;
    }

  }
}
