@import "../variables.scss";
@import "../mixins.scss";

#dashboard-container {
  margin: 0 auto 0 auto;
  padding: 30px 30px 0 30px;
  max-width: $page-max-width;
  min-height: calc(100vh - 144px);
  justify-content: space-between;

  md-card {
    margin: 0;
    height: calc(100vh - 204px);
  }

  .rel {
    position: relative;

    .littleheader {
      position: absolute;
      left: 20px;
      top: 12px;
      font-size: 14px;
      color: $text-primary;
      font-weight: bold;
    }

    .dashboard-filter-container {
      padding-top: 40px;
      min-width: 320px;
      max-width: 320px;

      .filter-wrapper {
        background: $color-map-filter-background;
        position: relative;
        overflow-y: scroll;
        border-top: 1px solid rgba(0,0,0,.12);
        border-left: 1px solid rgba(0,0,0,.08);

        &::-webkit-scrollbar-track {
          background-color: $color-map-filter-background;
          border-radius: 0;
        }

        .filter-project-counter {
          position: absolute;
          top: 20px;
          left: 20px;
          width: 280px;
          height: 60px;
          background: $color-white;


          .project-counter-name {
            position: absolute;

            .description {
              position: absolute;
              width: 155px;
              height: 20px;
              top: 12px;
              left: 15px;
              font-weight: 500;
              font-size: 14px;
              @include text-truncate();
            }

            .country-name {
              position: absolute;
              width: 155px;
              height: 16px;
              top: 32px;
              left: 15px;
              font-size: 12px;
              color: $color-gray;
              @include text-truncate();
            }
          }

          .project-counter-arrow {
            position: absolute;
            left: 185px;
            height: 60px;
            overflow: hidden;

            img {
              position: relative;
              height: 67px;
              width: auto;
              top: -3px;
            }
          }

          .project-counter-number {
            position: absolute;
            right: 15px;
            top: 0;
            width: 60px;
            height: 60px;
            font-size: 36px;
            line-height: 60px;
            text-align: center;
            color: $text-primary;

          }
        }

        .filter-list {
          position: absolute;
          top: 120px;
          left: 20px;
          width: 260px;

          .description {
            font-size: 14px;
            font-weight: 500;
            color: $text-primary;
            margin-bottom: 20px;
          }

          .country-approval-switch {
            margin-bottom: 20px;

            md-switch {
              margin: 0;
            }
            .md-label {
              font-size: 12px;
            }
          }

          .list-headers {

            .header {
              margin-bottom: 10px;
              outline:none;
              cursor: pointer;
              font-weight: 500;
              font-size: 12px;
              color: $text-primary;
              text-transform: capitalize;

              md-icon {
                position: relative;
                top: -1px;
              }
            }

            .list-item {
              margin-left: 27px;
              margin-bottom: 10px;

              &:last-child {
                margin-bottom: 20px;
              }

              md-checkbox {
                margin: 0;
                font-size: 12px;
                color: $text-primary;

                .md-container {
                  top: 0;
                  transform: none;
                }

                .md-label {
                  margin-left: 25px;
                  line-height: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  md-tabs {

    .tab-wrap {
      background-color: $color-gray-lightest;
      min-height: calc(100vh - 245px);

      &.emptyy {
        background: url("./img/wmap.svg") center center no-repeat;
        background-size: 80% auto;
      }

      &.map {
        height: calc(100vh - 245px);
        .relative {
          height: 0px;
        }
        .countrymapcontainer {
          height: calc(100vh - 245px);
        }
      }
    }

    md-tabs-wrapper {

      md-tabs-canvas {
        height: 40px;

        md-pagination-wrapper {
          height: 40px;

          md-tab-item {
            color: $text-disabled;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 12px;

            &.md-active {
              color: $text-primary;
            }
          }

          md-ink-bar {

            background-color: $color-primary;
          }
        }
      }
    }

    md-select-value {
      text-transform: capitalize!important;
    }

    md-tabs-content-wrapper {
      top: 41px;
    }
  }

  #map {
    position: relative;
    min-height: calc(100vh - 245px);
    background-color: $color-gray-lightest;

    md-tabs-content-wrapper {
      top: 0px;
    }

    .countrychart-tooltip {
      top: 20px;
      left: 20px;
    }

    .countrychoser {
      height: 40px;
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

      md-input-container {
        margin: 2px 15px 0 15px;

        span {
          font-size: 14px;
          font-weight: 14px;
          color: $text-primary!important;

          .md-text {
            font-size: 14px;
            font-weight: 14px;
            color: $text-primary!important;
          }
        }

        label {
          &:select, &:focus {
            color: $color-primary;
          }
        }
      }
    }
  }

  #list {

    .projectcont {
      margin: 0 20px;

      .cap {
        text-transform: capitalize!important;
      }
    }

    .headercont {
      justify-content: space-between;
      padding: 20px;
      height: 85px;

      .countrychoser {
        height: 40px;

        md-input-container {
          margin: 2px 15px 0 15px;

          span {
            font-size: 14px;
            color: $text-primary !important;

            .md-text {
              font-size: 14px;
              color: $text-primary !important;
            }
          }

          label {

            &:select, &:focus {
              color: $color-primary;
            }
          }
        }
      }

      .exports {

        .md-button {
          padding-right: 12px;
        }

        .exports-label {
          margin-right: 10px;
          font-size: 12px;
          color: $text-primary;
        }
      }

      .starry {
        min-width: 220px;
        font-size: 12px;
        color: $text-secondary;
        margin-right: 20px;

        > span {
          display: inline-block;
          margin-left: 20px;
        }

        md-icon {
          font-size: 14px;
          height: 14px;
          width: 14px;
          transform: translate(5px, 3px);
        }
      }
    }

    .projectcont {
      padding: 0 0 10px;
      background-color: $color-gray-lightest;
      overflow: hidden;

      .scroll-wrapper {
        max-height: calc(100vh - 400px);
        overflow: scroll;
        display: block;
      }

      .headerrow {
        width: 2000px;
        border-bottom: 1px solid $color-gray-light;
        background-color: white;

        div {
          outline: none;
          cursor: pointer;
          font-size: 12px;
          font-weight: 500;
          color: $text-secondary;
        }

        :first-child {
          cursor: pointer;
        }
      }

      .projectrow {
        width: 2000px;
        border-bottom: 1px solid $color-gray-lighter;
        cursor: default;

        .projectlink {
          .name {
            font-size: 14px;
            line-height: 18px;
            padding-right: 20px;
          }
          .links {
            .md-button {
              margin: 15px 0;
            }
          }
          .country-approved {
            margin-top: 10px;
            font-size: 12px;
            font-weight: 500;
            color: $color-approved;

            i {
              font-size: 14px;
              transform: translate(0, 2px);
            }
          }
        }

        &.member {
          background-color: #FFF9C4 !important;
        }

        &.viewer {
          background-color: #D5E1E8 !important;
        }

        a:not(.md-button) {
          min-height: 30px;
          min-width: 60px;
          line-height: 30px;
          color: $color-primary;
          text-decoration: none;
        }

        div {
          font-size: 12px;
          line-height: 18px;
          color: $text-primary;

          &:first-child {
            font-weight: 500;
          }
        }

        md-icon {
          font-size: 18px;
          height: 18px;
          width: 18px;
          transform: translate(-4px, 0);

          &.member {
            color: #CD9924;
          }

          &.viewer {
            color: #53A0CE;
          }
        }



        &:nth-child(even) {
          background-color: #EEEEEE;
        }

        &.own {
          background-color: #FFF9C4;
        }
      }
    }
  }
}

.md-select-menu-container {
  margin-top: 50px;
}

md-select-menu {
  .md-text {
    text-transform: capitalize!important;
  }
}
