@import '../../variables';
@import '../../mixins';


.md-select-menu-container {
  z-index: 90000 !important;
}

.new-content-dialog {
  md-toolbar {
    background-color: #CD9923;

    .md-toolbar-tools .md-button .material-icons {
      color: #F4EAD2 !important;
    }

    .md-toolbar-tools .md-button .material-icons:hover {
      color: #fff !important;
    }
  }

  md-dialog-content {
    md-input-container {
      min-height: 48px;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        width: 66%;
      }
    }

    .trix-wrapper {
      margin-top: 20px;
    }
  }

  md-dialog-actions {
    padding: 20px;
    background-color: $color-gray-lightest;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.12);

    .md-button {
      margin: 0;
    }
  }

  .file-upload {
    margin: 40px 0 10px;

    .md-button {
      margin: 0 20px 0 0;
      padding-left: 12px;
      padding-right: 12px;

      md-icon {
        position: relative;
        top: -1px;
        color: #fff;
      }
    }

    small {
      color: $text-disabled;
    }

    .selected-file-thumbnail {
      img {
        float: left;
        height: 36px;
        width: auto;
        margin: 0 20px 0 0;
        border-radius: 2px;
        box-shadow: 2px 3px 5px rgba(0,0,0,.14);
      }
    }
  }
}
