<md-toolbar class="main-toolbar toolbar-global toolbar-landing" ng-class="vm.isScrolled">
    <div class="md-toolbar-tools">
        <div class="country-logo" layout-align="" ng-show="vm.pageLoaded">

            <img ng-if="!vm.countryData.logo" src="images/dha-logo-blue.svg" class="no-country" />

            <img ng-if="vm.countryData.logo" ng-src="{{vm.countryData.logo}}" class="" />

        </div>



        <span flex ></span>

        <div class="current-country row" ng-if="vm.countryData.logo">
            <div class="country-flag" >
              <img ng-src="{{vm.countryFlag}}" alt="{{vm.countryData.name}}">
            </div>
            <div class="country-name">{{vm.countryData.name}}</div>
        </div>

        <md-button class="landing-link md-primary"
                   ui-sref-active="active"
                   ui-sref="login"
                   aria-label="Login"
                   ng-show="vm.showLogin()"
                   md-no-ink>
            Login
        </md-button>

        <md-button class="landing-link md-primary"
                   ui-sref-active="active"
                   ui-sref="signup"
                   aria-label="Singup"
                   ng-show="vm.showSignUp()"
                   md-no-ink >
            Sign Up
        </md-button>


        <md-button aria-label="Country Level View"
                   class="view-selector"
                   ui-sref="country"
                   ng-show="vm.showCountryLevelViewButton()"
                   md-no-ink>
            <md-icon class="material-icons">public</md-icon>
            Country View
        </md-button>

        <md-button aria-label="Go to my Dashboard"
                   class="view-selector"
                   ui-sref="dashboard"
                   ng-show="vm.showGoToMyDashboardButton()"
                   md-no-ink>
            <md-icon class="material-icons ">apps</md-icon>
            Dashboard
        </md-button>

        <md-button class="landing-link md-primary add-new-project" ui-sref="newProject"
                   aria-label="Add new project"
                   ng-show="vm.showNewProjectButton()"
                   md-no-ink>
            <md-icon class="material-icons">add</md-icon>
            New Project
        </md-button>
    </div>
    <div class="md-toolbar-tools-bottom">
        <h3>Get MAPS Toolkit now!</h3>
        <div class="dl-note">
          <p>A new toolkit has been launched to help mHealth implementers<br> to successfully and sustainably scale-up their innovations.</p>
        </div>
        <md-button class="dl-maps-link md-raised md-primary"
                   aria-label="Download MAPS Toolkit">
            <md-icon class="material-icons">cloud_download</md-icon>
            Download Pdf
        </md-button>
    </div>
</md-toolbar>
