<div class="project-section section-country-fields" md-whiteframe="2" ng-show="vm.countryFields && vm.countryFields.length > 0">
  <div class="section-title md-title">
    5. Country fields
    <span class="toggler" ng-click="vm.collapse()"><i class="material-icons">keyboard_arrow_down</i></span>
  </div>

  <div class="section-wrapper">
    <div layout="column">

      <div class="generic-container" flex ng-repeat="field in vm.countryFields">

        <!-- TEXT INPUT-->
        <md-input-container
          ng-if="field.type === 1"
          class="md-block string-field">
          <label>{{field.question}}</label>
          <input type="text"
                 ng-required="vm.activateValidation && field.required"
                 ng-blur="vm.updateProjectCountryFields(field)"
                 md-maxlength="1000" name="custom{{$index}}"
                 ng-model="field.answer">
          <div ng-messages="vm.form['custom' + $index].$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>


        <!-- NUMERIC INPUT-->
        <md-input-container
          ng-if="field.type === 2"
          class="md-block number-field">
          <label>{{field.question}}</label>
          <input type="number" ng-required="vm.activateValidation && field.required"
                 ng-blur="vm.updateProjectCountryFields(field)"
                 name="custom{{$index}}"
                 ng-model="field.answer">
          <div ng-messages="vm.form['custom' + $index].$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>


        <!-- RADIO BUTTON-->
        <div
          ng-if="field.type === 3"
          class="yesno-field">
          <label>{{field.question}}</label>
          <md-radio-group
            ng-model="field.answer"
            ng-blur="vm.updateProjectCountryFields(field)"
            name="custom{{$index}}"
            md-no-ink
            ng-required="vm.activateValidation && field.required"
            class="md-primary"
            layout="row">
            <md-radio-button ng-value="true" aria-label="custom{{$index}}-yes">
              Yes
            </md-radio-button>
            <md-radio-button ng-value="false" aria-label="custom{{$index}}-no">
              No
            </md-radio-button>
          </md-radio-group>
          <div class="radio-error-messages">
            <div ng-messages="vm.form['custom' + $index].$error">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
        </div>


        <!--SINGLE SELECTION-->
        <div
          ng-if="field.type === 4"
          class="single-selection-field">
          <label>{{field.question}}</label>
          <md-select ng-model="field.answer"
                     name="custom{{$index}}"
                     aria-label="custom{{$index}}"
                     ng-required="vm.activateValidation && field.required"
                     md-on-close="vm.updateProjectCountryFields(field)">
            <md-option value="{{option}}" ng-repeat="option in field.options" >
              {{option}}
            </md-option>
          </md-select>
          <div class="radio-error-messages">
            <div ng-messages="vm.form['custom' + $index].$error">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
        </div>


        <!--MULTIPLE SELECTION-->
        <div
          ng-if="field.type === 5"
          class="multi-selection-field">
          <label>{{field.question}}</label>
          <md-select ng-model="field.answer"
                     md-select-separator="empty"
                     aria-label="custom{{$index}}"
                     multiple
                     name="custom{{$index}}"
                     ng-required="vm.activateValidation && field.required"
                     md-on-close="vm.updateProjectCountryFields(field)">
            <md-option value="{{option}}" ng-repeat="option in field.options">
              {{option}}
            </md-option>
          </md-select>
          <div class="radio-error-messages">
            <div ng-messages="vm.form['custom' + $index].$error">
              <div ng-message="required">This is required.</div>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>
</div>

</div>
