@import '../../variables';
@import '../../mixins';

my-project-list {
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  max-width: $page-min-width;

  .wrapper {
    width: 100%;
  }

  .no-projects {
    background: $color-white url("./img/squares.svg") center 0px no-repeat;

    .emptychild {
      background: url("./img/icons-all.svg") center 63px no-repeat;
      padding: 220px 220px 60px;

      a.md-button {
        background-color: $color-primary !important;
        margin-bottom: 20px;
        padding-top: 5px;
        padding-left: 25px;
        padding-right: 25px;
        height: 44px;

        span {
          color: $color-white !important;
          font-size: 16px;
        }
      }

      p {
        color: $text-secondary;
        text-align: center;
      }
    }
  }
}
