.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.bold {
  font-weight: 500; }

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */ }

.hidden {
  display: none !important;
  visibility: hidden; }

.text-hide {
  border: 0;
  background-color: transparent;
  color: transparent;
  text-shadow: none;
  font: "0/0" a; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-justify {
  text-align: justify !important; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.clickable {
  cursor: pointer !important; }

.zindex-100 {
  z-index: 100; }

.zindex-90 {
  z-index: 90; }

.zindex-80 {
  z-index: 80; }

.zindex-70 {
  z-index: 70; }

.zindex-60 {
  z-index: 60; }

.zindex-50 {
  z-index: 50; }

.zindex-40 {
  z-index: 40; }

.zindex-30 {
  z-index: 30; }

.zindex-20 {
  z-index: 20; }

.zindex-10 {
  z-index: 10; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.clearfix::after {
  display: table;
  clear: both;
  content: ""; }

/*
// Multi-lang
@include button-ml($width: 180px);
//
*/
/* TOP NAVIGATION BAR
   ============================= */
.main-toolbar.toolbar-landing {
  z-index: 1000;
  position: fixed;
  left: calc(50% - 5px);
  transform: translateX(-50%);
  width: calc(100% - 10px);
  max-width: 1440px !important;
  min-width: 1140px;
  height: auto !important;
  max-height: auto !important;
  background-color: #FFFFFF;
  box-shadow: none; }
  @media only screen and (max-width: 1140px) {
    .main-toolbar.toolbar-landing {
      position: absolute;
      transform: none;
      left: 0;
      width: calc(100% - 20px); } }
  .browser-firefox .main-toolbar.toolbar-landing {
    left: 50%; }
  .main-toolbar.toolbar-landing.page-terms-of-use .md-toolbar-tools-bottom {
    display: none; }
  .main-toolbar.toolbar-landing .md-toolbar-tools {
    position: relative;
    height: auto !important;
    max-height: 120px !important;
    /* 160 */
    padding: 35px 40px !important;
    font-size: 14px;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .main-toolbar.toolbar-landing .md-toolbar-tools .country-logo img {
      float: left;
      width: auto;
      max-width: 380px;
      min-height: 30px;
      max-height: 90px;
      transform-origin: top left !important;
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .main-toolbar.toolbar-landing .md-toolbar-tools .country-logo img.no-country, .main-toolbar.toolbar-landing .md-toolbar-tools .country-logo img.logo-wide {
        height: 30px; }
    .main-toolbar.toolbar-landing .md-toolbar-tools .supported-by {
      position: absolute;
      top: 0;
      right: 14px;
      content: "";
      display: inline-block;
      width: 231px;
      height: 24px;
      background-image: url(public/fonts/supported-by-dha.svg);
      background-size: 231px 24px;
      background-repeat: no-repeat;
      transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .main-toolbar.toolbar-landing .md-toolbar-tools .md-button {
      margin: 0 0 0 30px !important;
      line-height: 48px; }
      .main-toolbar.toolbar-landing .md-toolbar-tools .md-button .material-icons,
      .main-toolbar.toolbar-landing .md-toolbar-tools .md-button span {
        width: auto;
        color: #283593 !important;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .main-toolbar.toolbar-landing .md-toolbar-tools .md-button:hover .material-icons,
      .main-toolbar.toolbar-landing .md-toolbar-tools .md-button:hover span {
        color: #BEC2DE !important; }
      .main-toolbar.toolbar-landing .md-toolbar-tools .md-button translate {
        max-width: 180px;
        display: inline-flex; }
        .main-toolbar.toolbar-landing .md-toolbar-tools .md-button translate span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
    .main-toolbar.toolbar-landing .md-toolbar-tools .current-country {
      display: inline-block;
      height: 36px;
      line-height: 36px;
      margin: 6px 0;
      padding-right: 30px;
      border-right: 1px solid #E0E0E0; }
      .main-toolbar.toolbar-landing .md-toolbar-tools .current-country .country-flag {
        float: left;
        margin-top: 7px;
        background-color: #E0E0E0;
        border: 1px solid #E0E0E0; }
        .main-toolbar.toolbar-landing .md-toolbar-tools .current-country .country-flag img {
          float: left;
          display: inline-block;
          width: auto;
          min-width: 30px;
          height: 20px; }
      .main-toolbar.toolbar-landing .md-toolbar-tools .current-country .country-name {
        float: left;
        margin-left: 10px;
        color: #757575;
        text-transform: uppercase; }
  .main-toolbar.toolbar-landing .md-toolbar-tools-bottom {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 80px;
    padding: 16px 40px;
    background-color: rgba(159, 176, 185, 0.9);
    color: #FFFFFF;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .main-toolbar.toolbar-landing .md-toolbar-tools-bottom::after {
      position: absolute;
      top: -28px;
      right: 22px;
      content: "";
      display: inline-block;
      width: 110px;
      height: 133px;
      background-image: url(822373af099cb67dc9d0574b35409165.png);
      background-size: 100% 100%;
      background-repeat: no-repeat; }
    .main-toolbar.toolbar-landing .md-toolbar-tools-bottom::before {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      display: inline-block;
      width: 420px;
      height: 80px;
      background-image: url(public/fonts/book-maps-toolkit-bg.svg);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: 0 14px;
      opacity: 0.2; }
    .main-toolbar.toolbar-landing .md-toolbar-tools-bottom h3 {
      float: left;
      margin: 6px 30px 6px 0;
      padding: 0 30px 0 0;
      height: 36px;
      font-size: 20px;
      line-height: 36px;
      border-right: 1px solid #E0E0E0;
      max-width: 25%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .main-toolbar.toolbar-landing .md-toolbar-tools-bottom .dl-note {
      position: relative;
      float: left;
      width: 40%;
      height: 48px; }
      @media only screen and (max-width: 1280px) {
        .main-toolbar.toolbar-landing .md-toolbar-tools-bottom .dl-note {
          width: 35%; } }
      .main-toolbar.toolbar-landing .md-toolbar-tools-bottom .dl-note > p {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        color: #F5F5F5;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height: auto;
        max-height: 40px; }
    .main-toolbar.toolbar-landing .md-toolbar-tools-bottom .dl-maps-link {
      float: right;
      margin: 7px 100px 0 30px;
      padding: 0 16px; }
      .main-toolbar.toolbar-landing .md-toolbar-tools-bottom .dl-maps-link md-icon {
        position: relative;
        top: -1px;
        margin-right: 3px; }
      .main-toolbar.toolbar-landing .md-toolbar-tools-bottom .dl-maps-link translate {
        max-width: 160px;
        display: inline-flex; }
        .main-toolbar.toolbar-landing .md-toolbar-tools-bottom .dl-maps-link translate span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
  .main-toolbar.toolbar-landing.scrolled-down {
    min-height: 70px;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14); }
    .main-toolbar.toolbar-landing.scrolled-down .md-toolbar-tools {
      height: auto !important;
      max-height: 120px !important;
      padding: 15px 40px !important; }
      .main-toolbar.toolbar-landing.scrolled-down .md-toolbar-tools .country-logo img {
        max-height: 50px; }
      .main-toolbar.toolbar-landing.scrolled-down .md-toolbar-tools .supported-by {
        top: -24px; }
    .main-toolbar.toolbar-landing.scrolled-down .md-toolbar-tools-bottom {
      pointer-events: none;
      transform: translate3d(0, -10px, 0);
      opacity: 0; }

