@import '../../variables';
@import '../../mixins';

cms-static-info-widget {
}

.cms-static-info-wrapper {
  display: block;
  margin-top: 20px;
  padding: 0 60px;
  background-color: #fff;

  > div {
    padding: 40px 0;

    &:first-child {
      border-right: 1px solid $color-gray-lighter;
    }

    &:last-child {
      padding-left: 20px;
      padding-right: 300px;
      background-repeat: no-repeat;
      background-image: url('./images/illustration.svg');
      background-size: auto 100%;
      background-position: 98% 20px;
    }
  }

  h3.md-title {
    color: $color-primary;
  }

  .md-button {
    margin: 20px 0 0;
    min-width: 140px;
  }

  ul {
    margin: 0;
    list-style: none;

    li {
      position: relative;
      font-size: 14px;
      line-height: 20px;
      margin: 12px 0;
      padding-left: 30px;

      &::before {
        content: "check";
        @include md-icon($font-size: 20px);
        color: #CD9923;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
