@import '../../variables';

linechart {

    margin-bottom: -65px;

    #linechartcontainer {
        min-height: 350px;
    }

    .material-icons {
        font-size: 12px;
    }

    .axis path {
        fill: none;
        stroke: #777;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-family: Roboto, 'Helvetica Neue', sans-serif;
        fill: #9D9D9D;
        font-size: 12px;
    }

    .axis .domain {
        display: none;
    }

    .linechart-labels {
        color: #757575;
        font-size: 12px;
    }

    circle {
        stroke-width: 1px;
        stroke: white;
    }

    circle:hover {
        stroke-width: 3px;
        r: 6px;
        // TODO: Add shadow to overed dot...

            // -webkit-svg-shadow: 0 2px 0 #000000;

            // -webkit-filter: drop-shadow( 0 2px 0 #000 );
            //         filter: drop-shadow( 0 2px 0 #000 );

    }

    div.tooltip {
        position: absolute;
        text-align: center;
        width: auto;
        height: auto;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }

    .labelicon1 {
        color: $color-axis1;
    }
    .labelicon2 {
        color: $color-axis2;
    }
    .labelicon3 {
        color: $color-axis3;
    }
    .labelicon4 {
        color: $color-axis4;
    }
    .labelicon5 {
        color: $color-axis5;
    }
    .labelicon6 {
        color: $color-axis6;
    }

    // Label hoverings change opacity of lines & dots
    .line-axis, .dot-axis {
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }
    .activelabel1 {
        .line-axis, .dot-axis {
            opacity: 0.2;
        }
        .line-axis1, .dot-axis1 {
            opacity: 1;
        }
    }
    .activelabel2 {
        .line-axis, .dot-axis {
            opacity: 0.2;
        }
        .line-axis2, .dot-axis2 {
            opacity: 1;
        }
    }
    .activelabel3 {
        .line-axis, .dot-axis {
            opacity: 0.2;
        }
        .line-axis3, .dot-axis3 {
            opacity: 1;
        }
    }
    .activelabel4 {
        .line-axis, .dot-axis {
            opacity: 0.2;
        }
        .line-axis4, .dot-axis4 {
            opacity: 1;
        }
    }
    .activelabel5 {
        .line-axis, .dot-axis {
            opacity: 0.2;
        }
        .line-axis5, .dot-axis5 {
            opacity: 1;
        }
    }
    .activelabel6 {
        .line-axis, .dot-axis {
            opacity: 0.2;
        }
        .line-axis6, .dot-axis6 {
            opacity: 1;
        }
    }


}
