<div class="linechart-labels" layout="row" ng-if="!vm.showPlaceholder">

    <ul flex ng-class="{'secondary-labelcolors': vm.notpercentage}">

        <li ng-if="vm.showdotted"><span class="smallness">___</span> closed</li>
        <li ng-if="vm.showdotted"><span class="smallness">……</span> in progress</li>

        <li
            ng-repeat="label in vm.chosenLabels track by $index"
            ng-class="'labelhov' + ($index + 1)"
            class="text-truncate labelhov">

            <i class="material-icons" ng-class="'labelicon' + ($index + 1)">fiber_manual_record</i> {{label}}

        </li>

    </ul>

    <div class="chosercontainer" ng-if="vm.datachooser">
        <md-input-container>

            <label>Axis to show: </label>

            <md-select
                aria-label="select axis to view in the chart"
                class="axischooser"
                ng-model="vm.activeAxis"
                ng-change="vm.axisChange(vm.activeAxis)">

                <md-option
                    ng-repeat="label in vm.labels" value="{{label}}">

                    {{label}}

                </md-option>

            </md-select>

        </md-input-container>
    </div>

</div>
