@import '../../variables';

linechart {

    .border {
        border: 1px solid blue;
    }

    #linechartcontainer {
        min-height: 350px;
    }

    .axis path {
        fill: none;
        stroke: #777;
        shape-rendering: crispEdges;
    }
    .axis text {
        font-family: Lato;
        font-size: 13px;
    }

    div.tooltip {
        position: absolute;
        text-align: center;
        width: auto;
        height: auto;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }

    .labelicon1 {
        color: $color-axis1;
    }
    .labelicon2 {
        color: $color-axis2;
    }
    .labelicon3 {
        color: $color-axis3;
    }
    .labelicon4 {
        color: $color-axis4;
    }
    .labelicon5 {
        color: $color-axis5;
    }
    .labelicon6 {
        color: $color-axis6;
    }


}
