@import '../../variables';
@import '../../mixins';

.back-icon {
	position: fixed;
	top: 20px;
	left: 20px;
	color: $color-white;
	font-size: 48px;
	pointer-events: none;
}

md-dialog {

	md-dialog-content {
		height: 100vh;

		.left {
			width: 300px;
			background-color: #EEEEEE;
      box-shadow: inset -8px 0 24px rgb(213,213,213);

			.head {
				display: block;
				margin: 20px;
				color: $text-primary;
				font-weight: 500;
				font-size: 18px;
			}

			.subhead {
				display: block;
				margin: 20px;
				color: $text-secondary;
				font-size: 12px;
			}

			.axes {
				border-bottom: 1px solid #D5D5D5;

				&:first-of-type {
					border-top: 1px solid #D5D5D5;
				}

				.axis {
					height: 50px;
					outline: none;

					.iconcontainer {
						display: inline;
						margin: 10px 5px 10px 20px;
						padding: 5px 5px;
						width: 30px;
						height: 30px;
						background-color: gray;

						&.active-axis-1 {
							background-color: $text-primary;
						}
						&.active-axis0 {
							background-color: $text-primary;
						}
						&.active-axis1 {
							background-color: $color-axis1;
						}
						&.active-axis2 {
							background-color: $color-axis2;
						}
						&.active-axis3 {
							background-color: $color-axis3;
						}
						&.active-axis4 {
							background-color: $color-axis4;
						}
						&.active-axis5 {
							background-color: $color-axis5;
						}
						&.active-axis6 {
							background-color: $color-axis6;
						}

						img {
							width: 20px;
							height: 20px;
						}
					}


					.titles {
						margin: 10px 10px 12px 5px;
						color: $text-secondary;
						text-transform: uppercase;
						font-weight: 500;
						font-size: 12px;

						&.active {
							color: $text-primary;
						}
					}

					.expander {
						position: relative;
						top: 15px;
						right: 15px;
						z-index: 200;

						md-icon {
							outline: none;
							cursor: pointer;
						}
					}
				}

				.domain {
					display: block;
					padding-left: 60px;
          margin-bottom: 10px;
					outline: none;
					color: $text-secondary;
					font-size: 12px;
					cursor: pointer;

					&.active-domain {
						color: $text-primary;
					}
				}
			}
		}

		.right {

			.right-header {
				height: 100px;

				.right-title {
					padding: 29px 60px;
					color: white;
					font-size: 32px;

					img {
						width: auto;
						height: 24px;
					}
				}

				&.axis-1 {
					background-color: $text-primary;
				}
				&.axis0 {
					background-color: $text-primary;
				}
				&.axis1 {
					background-color: $color-axis1;
				}
				&.axis2 {
					background-color: $color-axis2;
				}
				&.axis3 {
					background-color: $color-axis3;
				}
				&.axis4 {
					background-color: $color-axis4;
				}
				&.axis5 {
					background-color: $color-axis5;
				}
				&.axis6 {
					background-color: $color-axis6;
				}
			}

			.right-content {

				.axis-html {
					// Style of the half-dynamic, upper part

				}

				.content-html {
					// Style of the fully dynamic, lower part

				}
			}
		}
	}
}
