@import '../../variables';
@import '../../mixins';

introjs {

  &.start-hss-intro {
    display: block;
    width: 100%;
    text-align: center;

    button {
      margin: 2rem auto 2.5rem;
    }
  }

}
