@import '../../variables';
@import '../../mixins';

constraints {

  width: 100%;
  height: 100%;

  .constraints-component {
    padding: 0 20px 20px;
  }

  h4 {
    font-size: $body-font-size-base;
    font-weight: 500;
    text-transform: uppercase;
  }

  .md-fab {
    box-shadow: none !important;
  }
}
