<div class="constraints-component" layout="column" layout-wrap layout-align="start start" flex>
    <h4>Health system constraints</h4>
    <div ng-repeat="constraint in vm.constraints">
        <div flex="100" ng-if="constraint.active">
            <md-button md-no-ink class="md-fab md-fab-not-raised md-mini md-black" ng-disabled="!constraint.active" >
                <md-icon class="material-icons">
                    {{ constraint.icon }}
                </md-icon>
            </md-button>
            <span class="md-body-2">{{constraint.name}}</span>
        </div>
    </div>
</div>
