@import '../../variables';
@import '../../mixins';

.md-select-menu-container {
  md-option {
    padding: 0 20px 0 36px;
    transition: $swift-ease-out;

    &:not([disabled]):hover {
      background-color: rgba(158,158,158,0.2);
    }

    .md-text {
      color: $text-secondary;
    }

    &[selected="selected"] {
      &::before {
        position: absolute;
        top: 55%;
        left: 10px;
        color: $text-primary;
        content: "done";
        transform: translateY(-50%);

        @include md-icon(inherit);
      }

      .md-text {
        color: $text-primary;
      }
    }
  }

  md-select-menu {
    overflow-y: visible;
  }
}



md-select.small,
ssmenu.small {
  font-size: $caption-font-size-base;
}

md-select.large,
ssmenu.large {
  .md-text {
    font-size: $title-font-size-base;
    font-weight: 500;
  }
  .md-select-icon {
    font-size: $caption-font-size-base;
  }
}

.md-select-menu-container.small {
  md-option {
    padding: 0 12px 0 26px;
    height: 24px;

    .md-text {
      font-size: $caption-font-size-base;
    }

    &[selected="selected"] {
      &::before {
        top: 55%;
        left: 8px;

        @include md-icon($body-font-size-base);
      }
    }
  }
}

.md-select-menu-container.large {
  md-option {
    padding: 0 20px 0 40px;

    .md-text {
      font-size: $title-font-size-base;
      font-weight: 500;
    }

    &[selected="selected"] {
      &::before {
        top: 55%;
        left: 10px;

        @include md-icon($headline-font-size-base);
      }
    }
  }
}

md-select.multiline,
ssmenu.multiline {
  .md-select-value {
    .md-text {
      display: block;
      margin: 3px 0 4px;

      @include text-truncate();
    }
    .md-select-icon {
      margin-bottom: 4px;

      align-self: flex-end;
    }
  }
}

.md-select-menu-container {
  .option-group-title,
  .selection-limit {
    display: block;
    padding: 5px 0 5px 10px;
    color: $color-gray-light;
    text-transform: uppercase;
    font-weight: 500;
  }

  &.small .option-group-title {
    font-size: $caption-font-size-base;
  }

  .selection-limit {
    padding-bottom: 0;
    color: $color-white;
    text-transform: none;
    position: fixed;
    background: white;
    width: 98%;
    background: $color-red;
    top: -25px;

    &::before {
      float: left;
      margin-right: 3px;
      color: $color-white;
      content: "warning";

      @include md-icon(16px);
    }
  }

  .ssmenu-search-input {
    position: relative;
    display: inline-block;
    margin: 10px 10px 5px;
    width: calc( 100% - 20px );

    &::before {
      position: absolute;
      top: 50%;
      left: 3px;
      color: $color-gray-light;
      content: "search";
      transform: translateY(-50%);

      @include md-icon(16px);
    }
  }

  input {
    box-sizing: border-box;
    margin: 0;
    padding: 2px 2px 2px 20px;
    width: 100%;
    outline: none;
    border: 1px solid $color-gray-lighter;
    color: $text-primary;
    font-size: $caption-font-size-base;
    transition: $swift-ease-out;

    &:focus {
      background-color: $color-gray-lightest;
    }
  }
}


ssmenu {

  .hint {
    font-size: 12px;
    padding-top:5px;
    color: $color-gray;
  }

}