<md-input-container ng-class="vm.mdContainerClass">
    <md-select ng-model="vm.ngModel"
               aria-label="vm.ariaLabel"
               placeholder="{{vm.placeholder}}"
               md-on-close="vm.selectClose()"
               md-on-open="vm.selectOpen()"
               md-container-class="{{vm.mdContainerClass}}"
               ng-multiple="vm.multiple"
    >

        <span class="ssmenu-serch-input">
          <input ng-if="vm.isOpen && vm.searchable"
                 ng-keydown="vm.searchKey($event)"
                 type="text"
                 ng-model="vm.search.text"
          />
        </span>
        <div ng-repeat="group in vm.options">
            <span ng-if="vm.subHeader" class="option-group">{{group[vm.subHeader]}}</span>
            <md-option
                    ng-repeat="option in group[vm.subOptions] | filter:vm.search.text"
                    value="{{option}}">
                {{option}}
            </md-option>
        </div>
    </md-select>
</md-input-container>
