
<div id="clv-container" layout="column">

	<md-card class="rel">
        <div class="littleheader">COUNTRY LEVEL VIEW</div>
        <md-tabs md-border-bottom md-dynamic-height md-center-tabs="true" md-selected="1">


            <!-- COUNTRY VIEW -->
            <md-tab label="map view">
                <div class="tab-wrap" id="map">Map view content</div>
                <!-- <countrymap big="true"></countrymap> -->
            </md-tab>


            <!-- LIST VIEW -->
            <md-tab label="list view">
                <div class="tab-wrap" id="list">

					<div class="headercont" layout="row">

						<md-card class="countrychoser">
							<md-input-container>
					        	<md-select
					        		placeholder='Select a country'
					        		ng-model="vm.selectedCountry"
					        		ng-change="vm.getProjects(vm.selectedCountry);">

				            		<md-option ng-repeat="country in vm.countries track by $index" ng-value="{{country}}">{{country.name}}</md-option>

						        </md-select>
					      	</md-input-container>
						</md-card>

						<div class="starry" flex="10">
							<md-icon>grade</md-icon>
							My projects
						</div>
					</div>

					<div class="projectcont" ng-hide="!vm.projectsData">

						<div class="headerrow" layout="row" layout-padding>
							<div flex="30">Project name</div>
							<div flex="20">Country</div>
							<div flex="25">Organisation name</div>
							<div flex="25">Donors</div>
						</div>

						<div class="projectrow" layout="row" layout-padding ng-repeat="project in vm.projectsData track by $index">
							<div flex="30">
								<md-icon ng-show="true">grade</md-icon>
								{{project.name}}
							</div>
							<div flex="20">
								{{vm.countriesLib[project.data.country]}}
							</div>
							<div flex="25">{{project.data.organisation}}</div>
							<div flex="25">
								<span ng-repeat="donor in project.data.donors">
									{{(donor.value || donor) + ' '}}
								</span>
							</div>
						</div>
						<div ng-if="!vm.projectsData.length" class="projectrow" layout="row" layout-padding>
							<div flex>There is no project to show in this country.</div>
						</div>
					</div>

                </div>
            </md-tab>
        </md-tabs>
	</md-card>

	<div class="disclaimer">
	    <span>Disclaimer:</span> All reasonable precautions have been taken by the World Health Organization to verify the information contained in this publication. However, the published material is being distributed without warranty of any kind, either expressed or implied. The responsibility for the interpretation and use of the material lies with the reader. In no event shall the World Health Organization be liable for damages arising from its use.
	</div>
</div>

