
<div id="clv-container" layout="column">

  <md-card md-whiteframe="2" class="rel" layout="row">
    <div class="littleheader">
      <translate>COUNTRY LEVEL VIEW</translate>
    </div>

    <md-tabs md-border-bottom md-center-tabs="true" flex="75" class="clv-tab-container">

      <!-- MAP VIEW -->
      <md-tab label="{{'map view' | translate }}">

        <div class="tab-wrap map" id="map" ng-class="{'emptyy': !vm.projectsData}">

          <md-card md-whiteframe="2" class="countrychoser">
            <md-input-container>
              <md-select
                class="no-border"
                md-container-class="country-chooser topalign"
                ng-model-options="{trackBy: '$value.id', allowInvalid: true}"
                placeholder="{{'Select a country'|translate}}"
                ng-model="vm.selectedCountry">

                <md-option ng-repeat="country in vm.countries track by $index" ng-value="country">{{country.name}}</md-option>

              </md-select>
            </md-input-container>
          </md-card>

          <countrymap
            big="true"
            district-level-coverage="vm.districtProjects"
            national-level-coverage="vm.nationalLevelCoverage"
            map-data="vm.mapData">
          </countrymap>

        </div>

      </md-tab>


      <!-- LIST VIEW -->
      <md-tab label="{{'list view' | translate }}">
        <div class="tab-wrap" id="list">

          <div class="headercont" layout="row">
            <div class="exports" flex="grow">
              <md-button class="md-primary" ng-show="vm.projectsData && vm.projectsData.length > 0" ng-click="vm.exportCSV()">
                <md-icon>file_download</md-icon>
                <translate>Export (CSV)</translate>
              </md-button>
              <md-button class="md-primary" ng-show="vm.projectsData && vm.projectsData.length > 0" ng-click="vm.exportPDF()">
                <md-icon>file_download</md-icon>
                <translate>Export (PDF)</translate>
              </md-button>
            </div>

            <div class="starry" flex="no-grow">
              <span><md-icon>visibility</md-icon><translate>Viewer</translate></span>
              <span><md-icon>grade</md-icon><translate>Team member</translate></span>
            </div>

            <md-card md-whiteframe="2" class="countrychoser" flex="nogrow">
              <md-input-container>
                <md-select
                  class="no-border"
                  md-container-class="country-chooser topalign"
                  ng-model-options="{trackBy: '$value.id'}"
                  placeholder="{{'Select a country'|translate}}"
                  ng-model="vm.selectedCountry">

                  <md-option ng-value="vm.showAllCountries">
                    <translate>Show all countries</translate>
                  </md-option>
                  <md-option ng-repeat="country in vm.countries track by $index" ng-value="{{country}}">{{country.name}}</md-option>

                </md-select>
              </md-input-container>
            </md-card>
          </div>

          <md-content class="projectcont">

            <div class="headerrow" layout="row" layout-padding md-whiteframe="2">
              <div flex="35" ng-click="vm.orderTable('name')">
                <translate>Project name</translate>
                <md-icon ng-show="vm.header.name.up" >expand_more</md-icon>
                <md-icon ng-show="vm.header.name.down" >expand_less</md-icon>
              </div>
              <div flex="15" ng-click="vm.orderTable('country')">
                <translate>Country</translate>
                <md-icon ng-show="vm.header.country.up" >expand_more</md-icon>
                <md-icon ng-show="vm.header.country.down" >expand_less</md-icon>
              </div>
              <div flex="25" ng-click="vm.orderTable('organisation_name')">
                <translate>Organisation name</translate>
                <md-icon ng-show="vm.header.organisation_name.up" >expand_more</md-icon>
                <md-icon ng-show="vm.header.organisation_name.down" >expand_less</md-icon>
              </div>
              <div flex="20" ng-click="vm.orderTable('donors')">
                <translate>Donors</translate>
                <md-icon ng-show="vm.header.donors.up" >expand_more</md-icon>
                <md-icon ng-show="vm.header.donors.down" >expand_less</md-icon>
              </div>
              <div flex="20" ng-click="vm.orderTable('contact_name')">
                <translate>Contact Name</translate>
                <md-icon ng-show="vm.header.contact_name.up" >expand_more</md-icon>
                <md-icon ng-show="vm.header.contact_name.down" >expand_less</md-icon>
              </div>
              <div flex="30" ng-click="vm.orderTable('implementation_overview')">
                <translate>Overview of digital health implementation</translate>
                <md-icon ng-show="vm.header.implementation_overview.up" >expand_more</md-icon>
                <md-icon ng-show="vm.header.implementation_overview.down" >expand_less</md-icon>
              </div>
              <div flex="20" ng-click="vm.orderTable('implementing_partners')">
                <translate>Implementing partners</translate>
                <md-icon ng-show="vm.header.implementing_partners.up" >expand_more</md-icon>
                <md-icon ng-show="vm.header.implementing_partners.down" >expand_less</md-icon>
              </div>
              <div flex="20" ng-click="vm.orderTable('geographic_scope')">
                <translate>Geographic scope</translate>
                <md-icon ng-show="vm.header.geographic_scope.up" >expand_more</md-icon>
                <md-icon ng-show="vm.header.geographic_scope.down" >expand_less</md-icon>
              </div>
              <div flex="20" ng-click="vm.orderTable('health_focus_areas')">
                <translate>Health Focus Areas</translate>
                <md-icon ng-show="vm.header.health_focus_areas.up" >expand_more</md-icon>
                <md-icon ng-show="vm.header.health_focus_areas.down" >expand_less</md-icon>
              </div>
            </div>

            <div
              class="projectrow"
              layout="row"
              layout-padding
              ng-repeat="project in vm.projectsData track by $index"
              ng-class="{'member': project.isMember, 'viewer': project.isViewer}">

              <div flex="35" class="projectlink" layout="row">
                <div flex class="name">
                  <md-icon class="member" ng-show="project.isMember">grade</md-icon>
                  <md-icon class="viewer" ng-show="project.isViewer">visibility</md-icon>

                  <div class="country-approved" ng-show="project.approved">
                    <translate>Approved by country</translate>
                  </div>

                  {{project.name}}
                </div>
                <div layout="column" class="links">
                  <span ng-hide="project.isTeam" ui-sref="public-dashboard({ appName: project.id })"><translate>Project Dashboard</translate></span>
                  <span ng-show="project.isTeam" ui-sref="dashboard({ appName: project.id })"><translate>Project Dashboard</translate></span>
                </div>
              </div>
              <div flex="20" class="cap">
                {{vm.countriesLib[project.country]}}
              </div>
              <div flex="20">{{project.organisation_name}}</div>
              <div flex="20">
                      <span ng-repeat="donor in project.donors">
                          {{donor}}{{$last ? '' : ', '}}
                      </span>
              </div>
              <div flex="20">{{project.contact_name}}, <a ng-href="mailto:{{project.contact_email}}">{{project.contact_email}}</a></div>
              <div flex="30">{{project.implementation_overview}}</div>
              <div flex="20">{{vm.printImplementingPartners(project)}}</div>
              <div flex="20">{{project.geographic_scope}}</div>
              <div flex="20">{{project.health_focus_areas.join(', ')}}</div>

            </div>
            <div ng-if="!vm.projectsData.length" class="projectrow" layout="row" layout-padding>
              <div flex><translate>There is no project to show in this country.</translate></div>
            </div>
          </md-content>
        </div>
      </md-tab>
    </md-tabs>

    <div class="clv-filter-container" flex="25" layout="row">
      <div class="filter-wrapper" layout="row" flex="100">


        <div class="filter-project-counter" md-whiteframe="2">
          <div class="project-counter-name">
            <div class="description">
              <translate>Number of Projects</translate>
            </div>
            <div class="country-name">
              <!-- in {{vm.selectedCountry.name}} -->
              <translate>in selected country</translate>
            </div>
          </div>
          <div class="project-counter-arrow">
            <img src="img/after-white.svg" />
          </div>
          <div class="project-counter-number">
            {{ vm.projectsData.length}}
          </div>
        </div>

        <div class="filter-list">

          <div class="description"><translate>Apply filters to map:</translate></div>

          <div class="country-approval-switch" ng-show="vm.selectedCountry.project_approval">
            <h6>
              <translate>Show only approved projects</translate>
            </h6>
            <md-switch ng-model="vm.showOnlyApproved" aria-label="show only approved"></md-switch>
          </div>

          <div class="list-headers" ng-repeat="header in vm.filters">

            <div class="header" ng-click="header.open = !header.open">
              <md-icon ng-hide="header.open" >expand_more</md-icon>
              <md-icon ng-show="header.open" >expand_less</md-icon>
              {{header.name}} ({{header.items.length}})
            </div>

            <div class="list-item" ng-repeat="item in header.items  | orderBy: 'name' " ng-show="header.open">
              <md-checkbox class="md-primary" ng-model="item.value" aria-label="item.name">
                {{item.name}}
              </md-checkbox>
            </div>

          </div>
        </div>
      </div>
    </div>
  </md-card>

  <disclaimer></disclaimer>
</div>
