@import "../variables.scss";

#clv-container {

  margin: 0 auto 0 auto;
  padding: 20px 30px 0 30px;
  max-width: 1440px;
  min-height: calc(100vh - 48px);
  justify-content: space-between;

  .rel {

    position: relative;

    .littleheader {

      position: absolute;
      left: 20px;
      top: 12px;
      font-size: 14px;
      color: $text-primary;
      font-weight: bold;
    }

    .clv-tab-container {
    }

    .clv-filter-container {
      padding-top: 40px;

      .filter-wrapper {
        background: $color-map-filter-background;
        position: relative;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
          background-color: $color-map-filter-background;
          border-radius: 0;
        }

        .filter-project-counter {
          position: absolute;
          top:20px;
          left:20px;
          width:240px;
          height: 60px;
          background: $color-white;


          .project-counter-name {
            position: absolute;

            .description {
              position: absolute;
              width: 125px;
              height:20px;
              top:12px;
              left:15px;
              font-weight: 500;
              font-size: 14px;
            }

            .country-name {
              position: absolute;
              width:125px;
              height: 16px;
              top: 32px;
              left:15px;
              font-size:12px;
              color: $color-gray;
            }
          }

          .project-counter-arrow {
            position: absolute;
            left: 165px;
            height: 60px;
            overflow: hidden;

            img {
              position: relative;
              height: 67px;
              width: auto;
              top: -3.5px;
            }
          }

          .project-counter-number {
            position: absolute;
            right: 15px;
            top: 10px;
            width: 40px;
            height: 36px;
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            color: $color-black;
          }
        }

        .filter-list {
          position: absolute;
          top:110px;
          left:20px;
          width:240px;

          .description {
            font-size: 14px;
            font-weight: 500;
            color: $color-black;
            margin-bottom: 20px;
          }

          .list-headers {

            .header{
              outline:none;
              cursor: pointer;
              font-weight: 500;
              font-size:12px;
              color: $color-black;
              text-transform: capitalize;

            }

            .list-item {
              margin-left:25px;
              margin-bottom: 5px;

              md-checkbox {
                margin:0;
                font-size: 12px;
                font-weight: 300;
                color: $color-black;
                height: 17px;
                min-height: 17px;

                .md-icon {
                  width: 17px;
                  height:17px;
                  font-size: 17px;
                }
                .md-label {
                  margin-left: 22px;
                }
              }

            }

          }

        }
      }

    }

  }

  md-tabs {

    .tab-wrap {

      background-color: $color-gray-lightest;

      &.emptyy {

        background: url("./img/wmap.svg") center center no-repeat;
        background-size: 80% auto;
      }
    }

    md-tabs-wrapper {

      md-tabs-canvas {

        height: 40px;

        md-pagination-wrapper {

          height: 40px;

          md-tab-item {

            color: $text-disabled;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 12px;

            &.md-active {

              color: $text-primary;
            }
          }

          md-ink-bar {

            background-color: $color-primary;
          }
        }
      }
    }

    md-select-value {
      text-transform: capitalize!important;
    }
  }

  #map {

    position: relative;
    min-height: calc(100vh - 150px);
    background-color: $color-gray-lightest;

    .zoomhandlers2 {
      //
      right: 50px;

      .material-icons {
        font-size: 30px;
        margin-top: 10px;
      }
    }

    .countrychart-tooltip {
      top: 20px;
      left: 20px;
    }

    .countrychoser {

      height: 43px;
      display: block;
      position: absolute;
      top: 12px;
      right: 15px;

      md-input-container {

        margin: 2px 15px 0 15px;

        span {

          font-size: 14px;
          font-weight: 14px;
          color: $text-primary!important;

          .md-text {

            font-size: 14px;
            font-weight: 14px;
            color: $text-primary!important;
          }
        }

        label {

          &:select, &:focus {

            color: $color-primary;
          }
        }
      }
    }
  }

  #list {

    min-height: calc(100vh - 150px);

    .projectcont {

      margin: 0 20px;

      .cap {
        text-transform: capitalize!important;
      }
    }

    .headercont {

      justify-content: space-between;
      padding: 20px;
      height:85px;

      .countrychoser {

        height: 43px;
        display: block;
        position: absolute;
        top: 12px;
        left: 13px;

        md-input-container {

          margin: 2px 15px 0 15px;

          span {

            font-size: 14px;
            font-weight: 14px;
            color: $text-primary!important;

            .md-text {

              font-size: 14px;
              font-weight: 14px;
              color: $text-primary!important;
            }
          }

          label {

            &:select, &:focus {

              color: $color-primary;
            }
          }
        }
      }

      .exports {
        position: absolute;
        right: 205px;
      }

      .starry {
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 12px;
        color: $text-secondary;
        padding-top: 20px;

        md-icon {
          position: relative;
          top: -1px;
          margin-left: 20px;
          margin-right: 3px;
          font-size: 14px;
          height: 14px;
          width: 14px;
        }
      }
    }

    .projectcont {
      padding: 0 0 10px;
      background-color: $color-gray-lightest;

      .headerrow {

        width: 1600px;
        border-bottom: 1px solid $color-gray-light;
        background-color: white;

        div {
          outline: none;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
          color: $text-secondary;
        }

        :first-child {

          color: $text-primary;
          cursor: pointer;
        }
      }

      .projectrow {

        width: 1600px;
        border-bottom: 1px solid $color-gray-lighter;
        cursor: default;

        .projectlink {
          .links {
            margin-right: 10px;
            span {
              color: $color-primary;
              cursor: pointer;
              &:first-child {
                margin-bottom: 7px;
              }
            }
          }
        }

        &.member {
          background-color: #FFF9C4 !important;
        }

        &.viewer {
          background-color: #D5E1E8 !important;
        }

        a {
          color: $color-primary;
          text-decoration: none;
        }

        div {

          font-size: 14px;
          color: $text-secondary;

          &:first-child {

            font-weight: 500;
            color: $text-primary;
          }
        }

        md-icon {

          font-size: 14px;
          height: 14px;
          width: 14px;

          &.member {
            color: #CD9924;
          }

          &.viewer {
            color: #53A0CE;
          }
        }



        &:nth-child(even) {

          background-color: #EEEEEE;
        }

        &.own {

          background-color: #FFF9C4;
        }
      }
    }
  }
}

.md-select-menu-container {
  margin-top: 50px;
}

md-select-menu {
  .md-text {
    text-transform: capitalize!important;
  }
}