@import "../variables.scss";

#clv-container {

    margin: 0 auto 0 auto;
    padding: 20px 30px 0 30px;
    max-width: 1440px;
    min-height: calc(100vh - 48px);
    justify-content: space-between;

    .rel {

        position: relative;

        .littleheader {

            position: absolute;
            left: 12px;
            top: 13px;
            font-size: 14px;
            color: $text-primary;
            font-weight: bold;
        }
    }

    md-tabs {

        .tab-wrap {

            background-color: $color-gray-lightest;
        }

        md-tabs-wrapper {

            md-tabs-canvas {

                height: 40px;

                md-pagination-wrapper {

                    height: 40px;

                    md-tab-item {

                        color: $text-disabled;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        font-size: 12px;

                        &.md-active {

                            color: $text-primary;
                        }
                    }

                    md-ink-bar {

                        background-color: $color-primary;
                    }
                }
            }
        }
    }

    #map {}

    #list {

        .projectcont {

            margin: 0 20px;
        }

        .headercont {

            justify-content: space-between;
            padding: 20px;

            .countrychoser {

                height: 45px;
                display: block;

                md-input-container {

                    margin: 2px 15px 0 15px;

                    span {

                        font-size: 14px;
                        font-weight: 14px;
                        color: $text-primary!important;

                        .md-text {

                            font-size: 14px;
                            font-weight: 14px;
                            color: $text-primary!important;
                        }
                    }

                    label {

                        &:select, &:focus {

                            color: $color-primary;
                        }
                    }
                }
            }

            .starry {

                font-size: 12px;
                color: $text-secondary;
                padding-top: 20px;

                md-icon {

                    font-size: 14px;
                    height: 14px;
                    width: 14px;
                }
            }
        }

        .projectcont {

            padding-bottom: 20px;
            padding-top: 20px;

            .headerrow {

                border-bottom: 1px solid $color-gray-light;
                background-color: white;

                div {

                    font-size: 14px;
                    font-weight: 500;
                    color: $text-secondary;
                }

                :first-child {

                    color: $text-primary;
                }
            }

            .projectrow {

                padding-bottom: 20px;

                div {

                    font-size: 14px;
                    color: $text-secondary;

                    &:first-child {

                        font-weight: 500;
                        color: $text-primary;
                    }
                }

                md-icon {

                    font-size: 14px;
                    height: 14px;
                    width: 14px;
                    color: #CD9924;
                }

                &:nth-child(even) {

                    background-color: #EEEEEE;;
                }
            }
        }
    }

    .disclaimer {

        margin: 30px 50px 0 50px;
        font-size: 10px;
        text-align: center;
        color: $text-disabled;
        padding-bottom: 10px;

        span {

            font-weight: 500;
            margin: 0;
        }
    }
}
