<div class="report-button-wrapper" ng-class="vm.reportStatus">
  <md-button class="flag-button" md-no-ink ng-click="vm.openReport()">
    <md-icon>flag</md-icon>
    <span class="report-text"></span>
  </md-button>
  <div class="warning-zone">
    <div layout="row">
      <div class="warning-text" flex>Are you sure to report this?</div>
      <div class="warning-actions" flex>
        <md-button md-no-ink ng-click="vm.closeReport()">
          <md-icon>undo</md-icon>
          Not sure
        </md-button>
        <md-button md-no-ink ng-click="vm.doReport()">
          <md-icon>check</md-icon>
          Sure
        </md-button>
      </div>
    </div>
  </div>
</div>
