<div class="relative">

	<div class="countrychart-tooltip md-whiteframe-1dp">

		<div class="countrychart-tooltip-header bold">
			{{vm.countryName}}
			<img class ="tooltip-flag" ng-src="{{vm.flagUrl}}">
		</div>

		<div class="countrychart-tooltip-main" layout="column">

			<div flex class="bold">
				Total numbers:
			</div>

			<div flex layout="row">
				<div flex="85">Clients:<br></div>
				<div flex class="bold">{{vm.boundNrs.Clients}}</div>
			</div>

			<div flex layout="row">
				<div flex="85">Health workers:<br></div>
				<div flex class="bold">{{vm.boundNrs['Health workers']}}</div>
			</div>

			<div flex layout="row">
				<div flex="85">Facilities:</div>
				<div flex class="bold">{{vm.boundNrs.Facilities}}</div>
			</div>

		</div>

		<div class="countrychart-tooltip-main" ng-show="vm.activeDistrict.name" >

			<div flex class="activename bold">
				{{vm.activeDistrict.name}}
			</div>



			<div
				flex
				layout="row"
				ng-repeat="(key, datum) in vm.activeDistrict.data">

				<div flex="85">{{key}}</div>
				<div class="bold">{{datum}}</div>
			</div>


		</div>
	</div>


	<div class="zoomhandlers">
		<md-icon class="material-icons unselectable" ng-click="vm.svgZoom.zoomIn()">add_circle_outline</md-icon>
		<br>
		<md-icon class="material-icons unselectable" ng-click="vm.svgZoom.zoomOut()">remove_circle_outline</md-icon>
	</div>

</div>
