@import '../../variables';

.relative {

	position: relative;

	// Just for mock data
	code {
		background-color: lightblue;
	}

	.countrychart-tooltip {

		position: absolute;
		top: 10px;
		left: 10px;
		color: #212121;
		font-size: 12px;
		line-height: 16px;
		//no-line-break
		white-space: nowrap;
		min-width: 160px;

		.countrychart-tooltip-header {

			background-color: #EEEEEE;
			padding: 10px;

			.tooltip-flag {
				height: 16px;
				width: auto;
				float: right;
			}
		}

		.countrychart-tooltip-main {

			border-top: 1px solid #BDBDBD;
			background-color: white;
			padding: 10px;
			opacity: 0.8;
		}
	}
}


.countrymapcontainer {

    min-height: 350px;
    min-width: 350px;

	.d3district {

		fill: #BDBDBD;
		stroke: white;
		stroke-width: 2px;
	    pointer-events: all;

		&:hover {

			fill: darkslategrey;
		}
	}
}

