@import '../../variables';

#countrymapcontainer {
    min-height: 350px;
    min-width: 350px;

	.d3district {
		fill: white;
		stroke: darkgrey;
		stroke-width: 2px;
		shape-rendering: crispEdges;
	    pointer-events: all;

		&:hover {
			fill: darkslategrey;
		}
	}
}

