<div class="relative">

	<!-- for DASH -->
	<div class="countrychart-tooltip md-whiteframe-1dp" ng-if="!vm.big">

		<div class="countrychart-tooltip-header bold">
			{{vm.countryName}}
			<img class ="tooltip-flag" ng-src="{{vm.flagUrl}}">
		</div>

		<div class="countrychart-tooltip-main" layout="column">

			<div flex class="bold">
				Total numbers:
			</div>


			<div flex layout="row" ng-repeat="(key, numb) in vm.boundNrs">
				<div class="cap" flex="85">{{key}}:<br></div>
				<div flex class="bold">{{numb}}</div>
			</div>

		</div>

		<div class="countrychart-tooltip-main" ng-show="vm.activeDistrict.name" >

			<div flex class="activename bold">
				{{vm.activeDistrict.name}}
			</div>



			<div
				flex
				layout="row"
				ng-repeat="(key, datum) in vm.activeDistrict.data">

				<div flex="85" class="cap">{{key}}</div>
				<div class="bold">{{datum}}</div>
			</div>


		</div>
	</div>

	<!-- for CLV -->
	<div class="countrychart-tooltip md-whiteframe-1dp" ng-if="vm.big" ng-hide="!vm.map">

		<div class="countrychart-tooltip-header bold">
			{{vm.countryName}} {{vm.activeDistrict.name ? '-' : ''}} {{vm.activeDistrict.name}}
			<img class ="tooltip-flag" ng-src="{{vm.flagUrl}}">
		</div>

		<div class="countrychart-tooltip-main countrychart-tooltip-main-big" ng-show="vm.activeDistrict.name" >

			<div
				flex
				layout="column"
				layout-align="space-around start"
				class="projectcont"
				ng-repeat="project in vm.activeDistrict.data | limitTo:5">

				<div class="projectname" ui-sref="dashboard({ appName: project.id })">{{project.name}}</div>
				<div class="projectorg">{{project.organisation}}</div>

			</div>

		</div>
	</div>

	<div class="zoomhandlers" ng-if="!vm.big">
		<md-icon class="material-icons unselectable" ng-click="vm.svgZoom.zoomIn()">add_circle_outline</md-icon>
		<br>
		<md-icon class="material-icons unselectable" ng-click="vm.svgZoom.zoomOut()">remove_circle_outline</md-icon>
	</div>

	<div class="zoomhandlers2" ng-if="vm.big">
		<md-icon class="material-icons unselectable" ng-click="vm.svgZoom.zoomIn()">add_circle_outline</md-icon>
		<br>
		<md-icon class="material-icons unselectable" ng-click="vm.svgZoom.zoomOut()">remove_circle_outline</md-icon>
	</div>

</div>
