@import '../../variables';

.relative {

	position: relative;

	.countrychart-tooltip {

		position: absolute;
		top: 10px;
		left: 10px;
		color: $text-primary;
		font-size: 12px;
		line-height: 16px;
		white-space: nowrap;
		min-width: 160px;

		.countrychart-tooltip-header {

			background-color: $color-gray-lighter;
			padding: 10px;

			.tooltip-flag {

				height: 16px;
				width: auto;
				float: right;
				margin-left: 10px;
			}
		}

		.countrychart-tooltip-main {

			border-top: 1px solid #BDBDBD;
			background-color: white;
			padding: 10px;
			opacity: 0.8;

			&.countrychart-tooltip-main {

				padding: 0 10px;
			}

			.activename {

				color: $color-primary;
			}

			.projectcont {

				height: 60px;
				border-top: 1px solid #E0E0E0;

				.projectname {

					color: $color-primary;
					font-size: 14px;
					font-weight: 500;
				}

				.projectorg {

					color: $text-secondary;
					font-size: 14px;
				}
			}
		}

		.cap {
			text-transform: capitalize;
		}
	}

	.zoomhandlers {

		position: absolute;
		left: 15px;
		top: 350px;

		md-icon {
			color: $color-gray-light;
			cursor: pointer;
			outline: none;
		}
	}

	.zoomhandlers2 {

		position: absolute;
		right: 15px;
		top: 300px;

		md-icon {

			color: $color-gray-light;
			cursor: pointer;
			outline: none;
		}
	}

	.spinner {
		position: relative;
		width: 100%;
		background-color: transparent;
		min-height: 60px;

		span {
			color: $text-primary;
			font-size: 14px;
			text-align: right;
		}
	}

}


.countrymapcontainer {

    background-color: $color-gray-lightest;
    overflow: hidden;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    .countrymap {

	    shape-rendering: optimizeSpeed;

		.d3district {

			fill: #E5E5EE;
			stroke: #9B9DA8;
			stroke-width: 2px;
		    pointer-events: all;
		    cursor: default;

			&.d3district-data {

				fill: #C8CAD5;
				transition: $swift-ease-out;

				&:hover {
					fill: $color-primary;
				}
			}

			&:hover {
				fill: #A1A4EF;
			}
		}
    }
}
