<div class="relative">

	<div class="countrychart-tooltip md-whiteframe-1dp">

		<div class="countrychart-tooltip-header">
			{{vm.mockGeoJsonCountry.features[0].properties['name:en']}}
			<img class ="tooltip-flag" ng-src="{{vm.mockGeoJsonCountry.features[0].properties.flag}}">
		</div>

		<div class="countrychart-tooltip-main" layout="column">

			<div flex>
				Total numbers:
			</div>

			<div flex layout="row">
				<div flex="85">Clients:<br></div>
				<div flex>133</div>
			</div>

			<div flex layout="row">
				<div flex="85">Health workers:<br></div>
				<div flex>260</div>
			</div>

			<div flex layout="row">
				<div flex="85">Facilities:</div>
				<div flex>3</div>
			</div>

		</div>

		<div class="countrychart-tooltip-main" ng-if="vm.activeDistrict.name">

			<div flex>
				{{vm.activeDistrict.name}}
			</div>



			<div
				flex
				layout="row"
				ng-repeat="(key, datum) in vm.activeDistrict.data">

				<div flex="85">{{key}}</div>
				<div>{{datum}}</div>
			</div>


		</div>

	</div>

</div>
