@import "../variables.scss";

#dashcontainer {

    margin: 0 auto 0 auto;
    padding: 20px 30px 0 30px;
    max-width: 1440px;

    .dashrow {

        &.dashrow-upper {
            height: 500px;
        }

        &.dashrow-lower {
            height: 543px;
        }

        .dashsection {

            &.dashsection-left {
                margin-right: 20px;
            }

            &#dashsection-stats {
                width: 100px;
            }
        }

        .dash-cardholder {

            .dash-subhead {
                text-align: center;
                margin: 15px 0;
                font-size: 14px;
                font-weight: 500;
            }

            .dash-stat-column {

                justify-content: space-between;
                cursor: default;

                .dash-stat-card {
                    height: 100px;
                    text-align: center;

                    .dash-trendicon {

                        font-size: 32px;
                        height: 32px;
                        width: 32px;
                        margin: 5px auto 5px auto;

                        &.dash-trendicon-up {
                            color: $color-green;
                        }

                        &.dash-trendicon-down {
                            color: $color-red;
                        }

                        &.dash-trendicon-bulb {
                            color: $color-accent;
                            margin: 3px auto 3px auto;
                        }
                    }

                    .dash-stat-nr {

                        font-size: 24px;

                        &.dash-stat-nr-version {
                            margin-top: 8px;
                        }
                    }

                    .dash-stat-label {
                        margin-top: 5px;
                        font-size: 12px;
                    }

                    .dash-stat-tooltip {
                        font-size: 10px;
                        text-align: left;
                        padding: 0 10px;
                        color: $text-secondary;
                        letter-spacing: -0.18;
                    }

                    .snapshot-button {

                        margin: 10px 0 0 0;
                        background-color: $color-green;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;

                        span {

                            color: white;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }

            md-card {

                margin: 0;

                md-tabs {

                    md-tabs-wrapper {

                        md-tabs-canvas {

                            height: 40px;

                            md-pagination-wrapper {

                                height: 40px;

                                md-tab-item {
                                    color: $text-disabled;
                                    padding-top: 8px;
                                    padding-bottom: 8px;

                                    &.md-active {
                                        color: $text-primary;
                                    }
                                }

                                md-ink-bar {
                                    background-color: $color-primary;
                                }
                            }
                        }
                    }

                    md-tabs-content-wrapper {

                        md-tab-content {

                            .dash-cardcontent {

                                height: 413px;
                                padding: 10px;
                                border-bottom-right-radius: 5px;
                                border-bottom-left-radius: 5px;
                                background-color: $color-gray-lightest;

                                .dash-overview-tooltips {

                                    justify-content: space-between;
                                    padding: 0 10px 0 5px;

                                    .dash-overview-tooltip {

                                        img {
                                            display: inline;
                                            height: 10px;
                                            width: auto;
                                            transform: translate(0, 2px);
                                        }

                                        md-icon {
                                            font-size: 10px;
                                            height: 10px;
                                            width: 10px;
                                            transform: translate(0px, 1px);

                                            &.dash-overw-toolkit-ball1 {
                                                color: $color-red;
                                            }

                                            &.dash-overw-toolkit-ball2 {
                                                color: $color-red-green;
                                            }

                                            &.dash-overw-toolkit-ball3 {
                                                color: $color-green;
                                            }
                                        }

                                        span {
                                            font-size: 10px;
                                            text-align: center;
                                            color: $text-secondary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .dash-cardcontent {
                    background-color: $color-gray-lightest;
                }
            }

            .dash-tech {

                .upper {
                    padding: 0px 25px;
                    height: 180px;
                    background-color: $color-gray-lightest;

                    div {
                        &:not(:last-child) {
                            border-bottom: 1px solid $color-gray-lighter;
                        }

                        md-icon {
                            font-size: 18px;
                            width: 18px;
                            height: 18px;
                            color: $text-primary;
                        }
                        span {
                            font-size: 14px;
                            color: $text-primary;
                            font-weight: 500;
                            padding-left: 5px;
                            margin-top: auto;
                            margin-bottom: auto;
                        }

                        md-chips {
                            padding-top: 10px;

                            md-chips-wrap {
                                box-shadow: none;

                                md-chip {
                                    height: 24px;

                                    .md-chip-content {
                                        line-height: 22px;

                                        span {
                                            font-size: 11px;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }

                .lower {
                    padding: 20px 25px;

                    span {
                        display: block;
                        font-weight: 500;
                    }

                    a {
                        display: block;
                        color: $color-primary;
                        margin-bottom: 17px;
                    }
                }
            }
        }
    }

    .disclaimer {

        margin: 30px 50px;
        font-size: 10px;
        text-align: center;
        color: $text-disabled;

        span {
            font-weight: 500;
            margin: 0;
        }
    }
}
