@import "../variables.scss";

#dashcontainer {

    margin: 0 auto;
    padding: 20px 30px 0 30px;
    max-width: 1440px;
    // min-height: calc(100vh - 120px);
    // justify-content: space-between;

    .dashrow {

        &.dashrow-upper {
            height: 500px;
        }

        &.dashrow-lower {
            height: 543px;
        }

        .dashsection {

            &.dashsection-left {
                margin-right: 20px;
            }

            &#dashsection-stats {
                width: 100px;
            }
        }

        .dash-emptyleft {
            height: 454px;
            background: $color-white url("./Img/squares.svg") center 0px no-repeat;

            .emptychild {
                height: 454px;
                background: url("./Img/icons-all.svg") center 63px no-repeat;
                padding-top: 230px;
                padding-left: 145px;
                padding-right: 145px;

                a.md-button {
                    background-color: $color-primary!important;
                    padding-top: 4px;
                    padding-left: 25px;
                    padding-right: 25px;
                    height: 42px;
                    span {
                        color: white!important;
                        font-size: 16px;
                    }
                }

                p {
                    font-size: 12px;
                    color: #757575;
                    text-align: center;
                }

            }
        }

        .dash-cardholder {

            md-icon {
                color: $color-gray-light;
            }

            .dash-subhead {

                text-align: center;
                margin: 15px 0;
                font-size: 14px;
                font-weight: 500;
            }

            .dash-stat-column {

                // justify-content: space-between;
                cursor: default;

                .shorter, .longer {
                    margin-bottom: 10px;
                    md-icon.rotate {
                        transform: translate(0, 7px);
                    }
                }

                .longer {

                    height: 240px;

                    .gray {

                        height: 137px;
                        margin-top: 10px;
                        border-top: 1px solid $color-gray-lighter;
                        padding: 4px 8px;
                        background-color: $color-gray-lightest;
                        border-bottom-right-radius: 3px;
                        border-bottom-left-radius: 3px;

                        .desc {
                            font-size: 10px;
                            color: $color-gray;
                        }
                    }
                }

                .shorter {
                    height: 110px;
                }

                .hten md-card {
                    height: 110px;
                }

                .snapshot-button {

                    height: 60px;
                    padding: 5px;
                    margin: 0;
                    min-width: 50px;
                    background-color: $color-green;

                    .text {

                        color: white;
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 500;
                        display: block;

                        &.plus {

                            font-size: 36px;
                            line-height: 28px;
                            font-weight: 300;
                        }
                    }
                }
            }

            md-card {

                margin: 0;
                overflow: hidden;

                md-tabs {

                    md-tabs-wrapper {

                        md-tabs-canvas {

                            height: 40px;

                            md-pagination-wrapper {

                                height: 40px;

                                md-tab-item {
                                    color: $text-disabled;
                                    padding-top: 8px;
                                    padding-bottom: 8px;
                                    font-size: 12px;

                                    &.md-active {
                                        color: $text-primary;
                                    }
                                }

                                md-ink-bar {
                                    background-color: $color-primary;
                                }
                            }
                        }
                    }

                    md-tabs-content-wrapper {

                        md-tab-content {

                            .dash-cardcontent {

                                height: 413px;
                                padding: 10px;
                                border-bottom-right-radius: 5px;
                                border-bottom-left-radius: 5px;
                                background-color: $color-gray-lightest;
                                &.infoview {
                                    background-color: initial;
                                    padding: 0;
                                    .roww {
                                        height: 55px;
                                        margin: 0 30px;
                                        border-bottom: 1px solid $color-gray-lighter;

                                        &.borderless {
                                            border-bottom-width: 0;
                                        }
                                    }
                                    .label {

                                        font-size: 12px;
                                        font-weight: 500;
                                        color: $text-secondary;
                                    }
                                    .data {
                                        font-size: 14px;
                                        font-weight: 500;
                                        color: $text-primary;
                                    }
                                    .data2 {
                                        font-weight: 400;
                                    }
                                    .gray {
                                        background-color: $color-gray-lightest;
                                        .labelobj {
                                            margin: 20px 30px;
                                        }
                                        .data {
                                            margin: 0 30px;
                                        }
                                    }
                                    a {
                                        margin-left: 20px;
                                        text-decoration: none;
                                        color: $color-primary;
                                        font-weight: 400;
                                    }
                                }

                                .dash-overview-tooltips {

                                    justify-content: space-between;
                                    padding: 0 10px 0 5px;

                                    .dash-overview-tooltip {
                                      position: relative;

                                        img {
                                            display: inline;
                                            height: 10px;
                                            width: auto;
                                            transform: translate(0, 2px);
                                        }

                                        md-icon {
                                            float: left;
                                            font-size: 10px;
                                            height: 10px;
                                            width: 10px;
                                            transform: translate(8px, 6px);

                                            &.dash-overw-toolkit-ball1 {
                                                color: $color-red;
                                            }

                                            &.dash-overw-toolkit-ball2 {
                                                color: $color-red-green;
                                            }

                                            &.dash-overw-toolkit-ball3 {
                                                color: $color-green;
                                            }
                                        }

                                        span {
                                            font-size: 10px;
                                            text-align: center;
                                            color: $text-secondary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .dash-cardcontent {
                    background-color: $color-gray-lightest;
                }
            }

            .dash-tech {

                .upper {

                    padding: 0px 25px;
                    height: 120px;

                    div {
                        &:not(:last-child) {
                            border-bottom: 1px solid $color-gray-lighter;
                        }

                        md-icon {

                            font-size: 24px;
                            width: 24px;
                            height: 24px;
                            color: $text-primary;
                        }
                        span {

                            font-size: 14px;
                            color: $text-primary;
                            font-weight: 500;
                            padding-left: 5px;
                            margin-top: auto;
                            margin-bottom: auto;
                        }

                        md-chips {

                            padding-top: 10px;

                            md-chips-wrap {
                                box-shadow: none;

                                md-chip {
                                    height: 24px;

                                    .md-chip-content {
                                        line-height: 22px;

                                        span {
                                            font-size: 12px;
                                        }
                                    }

                                }
                            }
                        }
                    }
                }

                .lower {

                    background-color: $color-gray-lightest;
                    padding: 20px 25px;
                    height: 253px;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;

                    span {
                        display: block;
                        font-weight: 500;
                    }

                    a {
                        display: block;
                        color: $color-primary;
                        margin-bottom: 17px;
                    }
                }
            }

            .dash-res {

                background-color: #F6F6F6;
                height: 413px;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                padding: 0 20px;

                h3 {

                    font-size: 12px;
                    font-weight: 500;
                    margin: 20px 0;
                    color: $text-primary;
                }

                .resource {

                    height: 60px;
                    overflow: hidden;
                    margin: 12px 0;

                    .res-text {

                        padding: 3px 0 7px 12px;

                        h4, p {
                            margin: 0;
                        }

                        h4 {
                            font-size: 14px;
                            font-weight: 500;
                            color: $color-primary;
                        }

                        p {
                            font-size: 12px;
                            color: $text-secondary;
                        }
                    }

                    a {
                        text-decoration: none;
                    }

                    md-icon {
                        margin-right: 30px;
                        color: $color-primary;
                        font-size: 24px;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }

            .emptyright {

                background: $color-gray-lightest url("./Img/wmap.svg") center 135px no-repeat;
                background-size: 140% auto;

                p.afteri {
                    margin-top: 35px;
                    margin-left: 20px;
                    margin-bottom: 0;
                    color: #212121;
                    font-size: 14px;
                    font-weight: 500;
                    md-icon {
                        color: #212121;
                        height: 20px;
                        width: 20px;
                        margin-right: 5px;
                        transform: translate(-2px, -2px);
                    }
                }
                p.detail {
                    margin-left: 50px;
                    margin-right: 50px;
                    color: #888888;
                    font-size: 12px;
                }
            }

            .dash-perf {
                .perfloggedout {

                    background: $color-gray-lightest url("./Img/wmap.svg") center center no-repeat;
                    background-size: 140% auto;

                    p.loggedout {
                        padding: 30px 11% 0 11%;
                        text-align: center;
                        font-size: 14px;
                        font-color: $text-primary;
                        line-height: 20px;
                    }

                    a.md-button {
                        background-color: $color-primary;
                        span {
                            color: white;
                        }
                    }
                }
            }

            // .dash-improve {

            //     md-card-header {

            //         color: white;
            //         height: 50px;
            //         padding: 0;
            //         box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.15);
            //         border-top-left-radius: 3px;
            //         border-top-right-radius: 3px;
            //         user-select: none;
            //         user-select: none;
            //         user-select: none;

            //         &.axis1 {
            //             background-color: $color-axis1;
            //         }
            //         &.axis2 {
            //             background-color: $color-axis2;
            //         }
            //         &.axis3 {
            //             background-color: $color-axis3;
            //         }
            //         &.axis4 {
            //             background-color: $color-axis4;
            //         }
            //         &.axis5 {
            //             background-color: $color-axis5;
            //         }
            //         &.axis6 {
            //             background-color: $color-axis6;
            //         }

            //         img {
            //             width: 40px;
            //             height: 40px;
            //             margin: 5px;
            //         }

            //         h4 {
            //             font-size: 14px;
            //             font-weight: 500;

            //             span {
            //                 text-transform: capitalize;
            //             }
            //         }

            //         ssmenu {

            //             margin-right: 30px;
            //             transform: translate(0, -3px);

            //             md-select-value span {

            //                 color: white;
            //             }

            //             md-select-value {
            //                 border-bottom-width: 0;
            //             }
            //         }

            //         md-icon {
            //             margin-left: -15px;
            //             margin-right: 15px;
            //             color: white;
            //             outline: none;
            //             cursor: pointer;
            //         }
            //     }

            //     md-tab-content {

            //         height: 406px;
            //         border-bottom-left-radius: 3px;
            //         border-bottom-right-radius: 3px;

            //         md-content {

            //             height: 406px;
            //             padding: 0 10px;
            //             background-color: $color-gray-lightest;

            //             .subhead {
            //                 max-height: 88px;

            //                 p {
            //                     margin: auto 0;
            //                     padding-left: 12px;
            //                     color: $text-secondary;
            //                     font-size: 14px;
            //                     line-height: 20px;
            //                 }

            //                 a {
            //                     color: $color-primary;
            //                 }

            //                 img {
            //                     height: 150px;
            //                     width: auto;
            //                 }
            //             }


            //             md-card {

            //                 margin-bottom: 12px;
            //                 z-index: 10;
            //                 position: relative;

            //                 img {
            //                     width: 70px;
            //                     height: 70px;
            //                     margin: 12px;
            //                 }

            //                 .txt {
            //                     margin: 6px 20px 6px 0;

            //                     * {
            //                         line-height: 14px;
            //                         margin: 0;
            //                         cursor: pointer;
            //                     }

            //                     h5 {
            //                         color: $color-primary;
            //                     }
            //                     .desc {
            //                         color: $color-gray;
            //                         cursor: default;
            //                     }
            //                     .comm {
            //                         color: $text-secondary;
            //                         font-size: 12px;
            //                         font-weight: 500;

            //                         md-icon {
            //                             font-size: 14px;
            //                             height: 14px;
            //                             width: 14px;
            //                         }
            //                     }
            //                 }

            //             }

            //         }
            //     }

            // }

            // .dash-community {
            //     opacity: 0.5;
            //     padding: 20px 10px;
            //     background-color: $color-gray-lightest;
            //     pointer-events: none;

            //     .project-cont {

            //         overflow: hidden;
            //         margin: 0;

            //         &:nth-child(2) {
            //             margin: 20px 0 20px 0;
            //         }

            //         .header {

            //             span {

            //                 color: text-primary;
            //                 font-size: 12px;
            //                 font-weight: 500;
            //                 padding-left: 10px;
            //                 cursor: default;
            //             }

            //             md-icon {

            //                 font-size: 24px;
            //                 cursor: pointer;
            //                 margin: 0;
            //                 transform: translate(-5px, -6px);
            //                 outline: none;

            //                 &[disabled] {
            //                     color: $color-gray-light;
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }

}
