badge {
  background-color: darkred;
  color: white;
  border-radius: 1em;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 1em;
  line-height: 1em;
  padding: 0;
  font-size: 1em;
  height: 1em;
}