@import '../../variables';

.relative {

  position: relative;

  .countrychart-tooltip {

    position: absolute;
    top: 10px;
    left: 10px;
    color: $text-primary;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    min-width: 160px;

    .colorednr {
      color: white;
      width: 30px;
      font-weight: 500;
      text-align: center;
      border-radius: 3px;
      opacity: 0.85;
    }
    .color0 { background-color: #7CB342; }
    .color1 { background-color: #039BE5; }
    .color2 { background-color: #FB8C00; }
    .color3 { background-color: #EF5350; }
    .color4 { background-color: #AB47BC; }
    .color5 { background-color: #7E57C2; }
    .color6 { background-color: #2196F3; }
    .color7 { background-color: #009688; }
    .color8 { background-color: #C0CA33; }

    .countrychart-tooltip-header {

      background-color: #EEEEEE;
      padding: 10px;

      p {
        margin: 0;
      }

      .tooltip-flag {

        height: 16px;
        width: auto;
        float: right;
        margin-left: 10px;
      }
    }

    .countrychart-tooltip-main {

			border-top: 1px solid #BDBDBD;
			background-color: #FFFFFF;
			opacity: 0.87;
            padding: 0 0px 0 12px;

      .activename {

        color: $color-primary;
      }

      .lh {
        line-height: 20px;
        margin: 3px 0;
      }

      .coverage-data {
        padding-right: 12px;
      }

      .projectcont {

        height: 60px;
        border-top: 1px solid $color-gray-lighter;
        position:relative;
        overflow:hidden;
        width:100%;
        padding-right: 12px;
        cursor: pointer;

        .projectname {

          color: $color-primary;
          font-size: 14px;
          font-weight: 500;
        }

        .projectorg {

          color: $text-secondary;
          font-size: 14px;
        }

        .my-eye,
        .my-star {
          position: absolute;
          top: -6px;
          right: -17px;
          background-color: #CD9924;
          // background-color: $color-gray-lightest;
          display: block;
          width: 55px;
          height: 25px;
          box-shadow: inset 0 -1px 9px 1px rgba(0,0,0,.12);
          // box-shadow: inset 0 -1px 0 rgba(0,0,0,.075);
          transform: rotate(40deg);

          md-icon {
            position: absolute;
            top: 4px;
            left: 24px;
            font-size: 13px;
            color: $color-white;
            // color: #CD9924;
            transform: rotate(-40deg);
          }
        }
        .my-eye {
          background-color: #53A0CE;
        }
      }

    }

    .cap {
      text-transform: capitalize;
    }
  }

  .zoomhandlers {

    position: absolute;
    left: 15px;
    top: 350px;

    md-icon {
      color: $color-gray-light;
      cursor: pointer;
      outline: none;
    }
  }

  .zoomhandlers2 {

    position: absolute;
    right: 15px;
    top: 300px;

    md-icon {

      color: $color-gray-light;
      cursor: pointer;
      outline: none;
    }
  }

  .spinner {
    position: relative;
    width: 100%;
    background-color: transparent;
    min-height: 60px;

    span {
      color: $text-primary;
      font-size: 14px;
      text-align: right;
    }
  }

}


.countrymapcontainer {

  background-color: $color-gray-lightest;
  overflow: hidden;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  .countrymap {

    shape-rendering: optimizeSpeed;

    .d3district {

      fill: $color-map-light;
      stroke: #9B9DA8;
      stroke-width: 5px;
      pointer-events: all;
      cursor: default;

      &.d3district-data {

        fill: $color-map-dark;
        transition: $swift-ease-out;

        &:hover {
          fill: $color-primary;
        }
      }

      &:hover {
        fill: $color-map-hoverempty;
      }
    }


  }
}
