@import '../../variables';
@import '../../mixins';

.section-strategy {

  .section-title + .section-wrapper {
    padding-bottom: 0;
  }

  // Software + DHI

  .software-dhi {
    h6 {
      margin-bottom: 20px;
    }
  }

  // Essential interventions

  .essential {
    margin-bottom: 60px;

    h6 {
      margin-bottom: 20px;
    }
  }

  // Multiline md-select

  .layout-row md-input-container {
    min-height: auto;
    margin-bottom: 38px;
  }

  .add-more-item {
    > div {
      height: calc(100% - 38px);
    }
  }

  md-select {
    &[multiple] {
      .md-select-value {

        .md-select-icon {
          height: 100%;

          &::after {
            top: calc(100% - 20px);
          }
        }

        > span {
          display: block;
          min-width: auto;
          max-width: 100%;
          white-space: normal;

          .md-text {
            position: relative;
            box-sizing: border-box;
            display: block;
            width: 100%;
            padding-top: 17px;
            padding-bottom: 3px;
            padding-left: 26px;
            @include text-truncate();

            &:before {
              position: absolute;
              top: 18px;
              left: 0;
              content: "done";
              font-family: 'Material Icons';
              font-weight: normal;
              font-style: normal;
              font-size: 18px;
              line-height: 1;
              letter-spacing: normal;
              text-transform: none;
              display: inline-block;
              white-space: nowrap;
              word-wrap: normal;
              direction: ltr;
              -webkit-font-feature-settings: 'liga';
              -webkit-font-smoothing: antialiased;
            }
          }
        }
      }
    }
  }

  md-chips {
    min-width: 45%;
    margin-bottom: 40px;
  }
}
