<div md-whiteframe="2" class="cms-experience-list" layout="row" layout-align="start stretch">
  <div class="experiences-list" flex="40">
    <h3 class="md-title">Learn from others' experiences</h3>
    <cms-list-element item="item" ng-repeat="item in vm.experiences"></cms-list-element>
    <md-button ui-sref="cms({'#': 'experiences'})" class="md-primary md-raised">
      Show more
    </md-button>
  </div>

  <div class="add-experience" flex="60">
    <h3 class="md-title">Share your own experience</h3>
    <trix-component placeholder="Add new experience" value="vm.newExperience.body" valid="vm.newExperience.valid" char-limit="2500"></trix-component>
    <md-button class="md-primary md-raised" ng-disabled="!vm.newExperience.valid" ng-click="vm.saveExperience()">
      Add experience
    </md-button>
  </div>
</div>
