<div md-whiteframe="2" class="cms-experience-list" layout="row" layout-align="start stretch">
  <div class="experiences-list" flex="40">
    <h3 class="md-title">Learn from others' experiences</h3>
    <p class="empty-card" ng-show="vm.experiences.length === 0">No experience has been added yet...</p>
    <cms-list-element item="item" ng-repeat="item in vm.experiences | orderBy:'id':true | limitTo:2"></cms-list-element>
    <md-button ui-sref="cms({'#': 'experiences'})" class="md-primary md-raised">
      Show more
    </md-button>
  </div>

  <div class="add-experience" flex="60">
    <h3 class="md-title">Share your own experience</h3>

    <div layout="row">
      <md-input-container>
        <label> What is your experience about (title)</label>
        <input type="text" ng-model="vm.newExperience.name"  name="name" required md-maxlength="120" />
        <div ng-messages="vm.form.name.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 120 characters long.</div>
        </div>
      </md-input-container>
    </div>
    <trix-component placeholder="Add new experience" value="vm.newExperience.body" valid="vm.newExperience.valid" char-limit="2500"></trix-component>
    <md-button class="md-primary md-raised" ng-disabled="vm.disableAddButton(vm.newExperience)" ng-click="vm.saveExperience()">
      Add experience
    </md-button>
  </div>
</div>
