@import '../variables';
@import '../mixins';

.maps-toolkit {

    .axis-row {
        background-color: $color-white;
    }
    .domain-questions {
        background-color: $color-white;
    }

    md-content {
        width:100%;
        height: 500px;
    }
}
