<div layout="row" layout-sm="column" layout-align="space-around" ng-show="!vm.dataLoaded">
    <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
</div>

<div class="maps-toolkit" layout="column" ng-if="vm.dataLoaded" >
    <div layout="row" flex="100" md-whiteframe="2" class="axis-row">
        <axis flex="auto" show-current="true" domain-id="vm.domainId" axis-data="vm.axis" axis-id="vm.axisId"></axis>
        <div flex="auto" layout="row" layout-align="end center">
            <md-button class="md-primary" ng-click="vm.goToScorecard()">
                <md-icon>insert_chart</md-icon>
                Scorecard
            </md-button>
            <thematic
                    axis="vm.state.params.axisId"
                    domain="0"
                    buttonclass="'md-primary'"
                    buttonicon="'toc'"
                    buttontext="'Overview'">
            </thematic>
        </div>
    </div>

    <div layout="column" layout-align="start start" md-whiteframe="2" class="domain-questions domain-block">

        <div layout="column">
            <div class="domain-header" layout="row">
                <div class="left" flex>
                    <h4>{{vm.data.domain}} ({{vm.data.domain_max}} points)</h4>
                    <p>
                        {{vm.data.sub_text}}
                    </p>
                </div>
                <thematic
                        axis="vm.state.params.axisId"
                        domain="vm.state.params.domainId"
                        buttonclass="'md-primary'"
                        buttontext="'View instructions'">
                </thematic>
            </div>
            <section ng-repeat="question in vm.data.questions" >
                <md-subheader >
                    <div layout="row" flex="100" class="question-header">
                        <div flex="{{vm.calculateMainBoxSize(question)}}" layout="column" class="question-text" layout-align="center start">
                            {{question.id}}.{{question.text}} ({{question.question_max}} Points)
                        </div>
                        <div flex="10" layout="column" layout-align="end center" ng-repeat="choice in question.choices">
                            {{choice.label}}
                        </div>
                        <div flex="10" layout="column" layout-align="end center">
                            Points Earned
                        </div>
                    </div>
                </md-subheader>

                <div layout="row" class="answer" flex="100" ng-repeat="answer in question.answers track by $index">
                    <div flex="{{vm.calculateMainBoxSize(question)}}" class="first-box">
                        <div ng-bind-html="answer.template" class="answer-wrapper"></div>
                    </div>
                    <div flex="10" class="box" layout="column" layout-align="center center" ng-repeat="choice in question.choices">
                        <md-checkbox
                                ng-disabled="{{vm.viewMode}}"
                                class="md-primary"
                                ng-checked="vm.checkChecked(question.index, answer.index, choice.points )"
                                aria-label="{{choice.label}}"
                                ng-click="vm.setAnswer(question.index, answer.index, choice.points)"
                        ></md-checkbox>
                    </div>
                    <div flex="10" class="fourth-box" layout="column" layout-align="center center">
                        <span ng-show="answer.value !== null" > {{vm.printAnswer(answer)}} points</span>

                    </div>
                </div>
            </section>
        </div>

        <div class="domain-score"  layout-fill layout="row" layout-align="center start">
            <span flex layout="column" layout-fill layout-align="center start"> Total point earned (out of a possible {{vm.domain.domain_max}}) </span>
            <span flex layout="column" layout-fill layout-align="center end">{{vm.score}}</span>
        </div>

        <div class="domain-button" layout="row" layout-fill>
            <div flex="50" layout="column" layout-align="center start">
                <md-button class="md-raised md-primary"
                           ng-disabled="vm.backButtonDisabled()"
                           ng-click="vm.goToPrevDomain()">
                    <md-icon>arrow_back</md-icon>
                    Go to prev domain
                </md-button>
            </div>
            <div flex="50" layout="row" layout-align="end center">
                <md-button class="md-raised md-primary"
                           ng-hide="vm.isLastDomainInAxis()"
                           ng-click="vm.goToNextDomain()">
                    Go to next domain
                    <md-icon>arrow_forward</md-icon>
                </md-button>
                <md-button class="md-primary md-raised" ng-show="vm.isLastDomainInAxis()" ui-sref="scorecard({axisId: vm.axisId})">
                    Show scorecard
                    <md-icon>insert_chart</md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <axis-footer axes="vm.rawData"></axis-footer>
</div>
