<div class="project-section section-strategy" md-whiteframe="2">
  <div class="section-title md-title">
    <translate>2. Implementation overview</translate>
    <span class="toggler" ng-click="vm.collapse()"><i class="material-icons">keyboard_arrow_down</i></span>
  </div>

  <div class="section-wrapper">
    <h6 class="first required">
      <translate>Add one or more Software and related Digital Health Interventions (DHI):</translate>
    </h6>

    <div class="software-dhi input-group" ng-repeat="platform in vm.project.platforms">
      <div layout="row">
        <md-input-container flex="33">
          <label>
            <translate>Software (select from list)</translate>
          </label>
          <md-select ng-model="platform.id" md-on-close="vm.platformSelected(platform)" name="{{'platforms_'+ $index + '.id' }}" ng-required="vm.activateValidation" >
            <md-option ng-value="plat.id" ng-repeat="plat in platform.available">
              {{plat.name}}
            </md-option>
          </md-select>
          <div ng-messages="vm.form['platforms_' + $index + '.id'].$error">
            <div ng-message="required">
              <translate>This is required.</translate>
            </div>
            <div ng-message="custom">
              <div ng-repeat="message in vm.form['platforms_' + $index + '.id'].customError">
                {{message}}
              </div>
            </div>
          </div>
        </md-input-container>

        <div class="add-more-item" flex="33">
          <div layout="row" layout-align="start end">
            <md-button class="md-primary" aria-label="Add more"
                       ng-show="vm.showAddMore($index, vm.project.platforms)"
                       ng-click="vm.addChild('platforms')">
              <md-icon><i class="material-icons">&#xE145;</i></md-icon>
              <translate>Add more</translate>
            </md-button>
            <md-button class="md-warn" aria-label="Remove"
                       ng-show="vm.showRemove($index, vm.project.platforms)"
                       ng-click="vm.removeChild($index, 'platforms')">
              <md-icon><i class="material-icons">&#xE15B;</i></md-icon>
              <translate>Remove</translate>
            </md-button>
          </div>
        </div>
      </div>

      <dialog-multi-selector
        ng-show="platform.id"
        selection="platform.strategies"
        button-name="{{'Digital Health Interventions' | translate }}"
        is-required="vm.activateValidation"
        show-title="true"
        elements="vm.structure.strategies"
        collection-name="strategies"
        name="'platforms_'+ $index + '.strategies'"
        form-element="vm.form['platforms_'+ $index + '.strategies']"
        dialog-name="platform.name">
      </dialog-multi-selector>
    </div>
  </div>

  <div class="section-wrapper">

    <div class="essential md-block">
      <h6>
        <translate>Health focus area(s) &ndash; select all that apply:</translate>
      </h6>
      <dialog-multi-selector
        selection="vm.project.health_focus_areas"
        button-name="{{'Health focus area' | translate }}"
        elements="vm.health_focus_areas"
        name="'health_focus_areas'"
        form-element="vm.form.health_focus_areas"
        collection-name="health_focus_areas">
      </dialog-multi-selector>
    </div>

    <div class="md-block extra-margin-double">
      <md-input-container class="md-block">
        <label>
          <translate>What are the Health System Challenges (HSC) your project addresses?</translate>
        </label>
        <md-select ng-model="vm.project.hsc_challenges" md-select-separator="empty" name="hsc_challenges" ng-required="vm.activateValidation" multiple>
          <md-optgroup label="{{hsc.name}}" ng-repeat="hsc in vm.structure.hsc_challenges">
            <md-option value="{{challenge.id}}" ng-repeat="challenge in hsc.challenges">
              {{challenge.challenge}}
            </md-option>
          </md-optgroup>
        </md-select>
        <div ng-messages="vm.form.hsc.$error">
          <div ng-message="required">
            <translate>This is required.</translate>
          </div>
        </div>
      </md-input-container>
    </div>

    <div class="md-block first extra-margin-double">
      <md-input-container class="md-block">
        <label>
          <translate>What part(s) of the Health Information System (HIS) does this project support?</translate>
        </label>
        <md-select ng-model="vm.project.his_bucket" md-select-separator="empty" name="his_bucket" ng-required="vm.activateValidation" multiple>
          <md-option value="{{his.id}}" ng-repeat="his in vm.structure.his_bucket">
            {{his.name}}
          </md-option>
        </md-select>
        <div ng-messages="vm.form.his.$error">
          <div ng-message="required">
            <translate>This is required.</translate>
          </div>
        </div>
      </md-input-container>
    </div>

    <h6 class="extra-margin required">What kind of coverage does your project have?</h6>

    <div class="md-block extra-margin">
      <div layout="column">
        <md-radio-group ng-model="vm.project.coverageType" name="coverageType" md-no-ink ng-required="vm.activateValidation" class="md-primary" layout="row">
          <md-radio-button ng-value="1" aria-label="coverage-type-yes">
            <translate>Sub-national</translate>
          </md-radio-button>
          <md-radio-button ng-value="2" aria-label="coverage-type-no">
            <translate>National</translate>
          </md-radio-button>
        </md-radio-group>
        <div class="radio-error-messages">
          <div ng-messages="vm.form.coverageType.$error">
            <div ng-message="required">
              <translate>This is required.</translate>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="vm.project.coverageType === 1" class="md-block extra-margin">
      <h6 class="subtitle"><i class="material-icons">&#xE567;</i>
        <translate>{{vm.subLevelNames[0]}} level deployment</translate>
      </h6>

      <div class="input-group" ng-repeat="cov in vm.project.coverage">
        <div layout="column">
          <div layout="row">
            <md-input-container class="district" flex="50">
              <label class="text-capitalize">
                {{vm.subLevelNames[0]}}
              </label>
              <md-select ng-model="cov.district"
                         name="{{'coverage_' + $index + '.district'}}"
                         ng-required="vm.isSubLevelCoverageDistrictRequired(cov)">
                <md-option value="{{district.id}}" ng-repeat="district in cov.available">
                  {{district.name}}
                </md-option>
                <md-option md-option-empty ng-hide="vm.districtList.length">
                  <translate>Select a country </translate>
                </md-option>
              </md-select>
              <div ng-messages="vm.form['coverage_' + $index + '.district'].$error">
                <div ng-message="required">
                  <translate>This is required.</translate>
                </div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_' + $index + '.district'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
          <div layout="row" ng-if="vm.facilities.length > 0">

            <md-chips ng-model="cov.facilities_list" md-autocomplete-snap
                      md-on-add="vm.updateFacilityNumber(cov)"
                      md-on-remove="vm.updateFacilityNumber(cov)"
                      md-require-match="true">
              <md-autocomplete
                md-search-text="cov.facilitySearch"
                md-items="item in vm.searchFacility(cov.facilitySearch)"
                md-item-text="item"
                placeholder="{{'Search Facilities' | translate}}">
                <span md-highlight-text="ctrl.searchText">{{item}}</span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{$chip}}</strong>
                </span>
              </md-chip-template>
            </md-chips>
          </div>
          <div layout="row">
            <md-input-container class="number" flex="20">
              <label>
                <translate># Health Workers</translate>
              </label>
              <input ng-required="vm.isSubLevelCoverageRequired()"
                     name="{{'coverage_' + $index}}.health_workers"
                     type="number"
                     min="0"
                     ng-model="cov.health_workers" >
              <div ng-messages="vm.form['coverage_' + $index + '.health_workers'].$error">
                <div ng-message="required">
                  <translate>This is required.</translate>
                </div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_' + $index + '.health_workers'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <md-input-container class="number" flex="20" ng-show="vm.facilities.length === 0">
              <label>
                <translate># Facilities</translate>
              </label>
              <input ng-required="vm.isSubLevelCoverageRequired()"
                     name="{{'coverage_' + $index}}.facilities"
                     type="number"
                     min="0"
                     ng-model="cov.facilities">
              <div ng-messages="vm.form['coverage_' + $index + '.facilities'].$error">
                <div ng-message="required">
                  <translate>This is required.</translate>
                </div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_' + $index + '.facilities'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <md-input-container class="number" flex="20">
              <label>
                <translate># Clients</translate>
              </label>
              <input ng-required="vm.isSubLevelCoverageRequired()"
                     name="{{'coverage_' + $index}}.clients"
                     type="number"
                     min="0"
                     ng-model="cov.clients">
              <div ng-messages="vm.form['coverage_' + $index + '.clients'].$error">
                <div ng-message="required">
                  <translate>This is required.</translate>
                </div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_' + $index + '.clients'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <div class="add-more-item" flex="40">
              <md-button class="md-warn" aria-label="Remove"
                         ng-show="vm.showRemove($index, vm.project.coverage)"
                         ng-click="vm.removeChild($index, 'coverage')">
                <md-icon><i class="material-icons">&#xE15B;</i></md-icon>
                <translate>Remove</translate>
              </md-button>
              <md-button class="md-primary" aria-label="Add more"
                         ng-show="vm.showAddMore($index, vm.project.coverage)"
                         ng-click="vm.addChild('coverage')">
                <md-icon><i class="material-icons">&#xE145;</i></md-icon>
                <translate>Add more</translate>
              </md-button>
            </div>
          </div>
        </div>
      </div>

      <!--NEW COVERAGE LAYER-->

      <h6 class="subtitle" ng-if-start="vm.subLevelNames[1]">
        <i class="material-icons">&#xE567;</i>
        <translate>{{vm.subLevelNames[1]}} level deployment</translate>
      </h6>

      <div class="input-group" ng-repeat="cov in vm.project.coverage_second_level" ng-if-end>
        <div layout="column">
          <div layout="row">
            <md-input-container class="district" flex="50">
              <label class="text-capitalize">
                {{vm.subLevelNames[1]}}
              </label>
              <md-select ng-model="cov.district"
                         name="{{'coverage_second_level_' + $index + '.district'}}"
                         ng-required="vm.isSubLevelCoverageDistrictRequired(cov)">
                <md-option value="{{district.id}}" ng-repeat="district in cov.available">
                  {{district.name}}
                </md-option>
                <md-option md-option-empty ng-hide="vm.secondSubLevelList.length">
                  <translate>Select a country </translate>
                </md-option>
              </md-select>
              <div ng-messages="vm.form['coverage_second_level_' + $index + '.district'].$error">
                <div ng-message="required">
                  <translate>This is required.</translate>
                </div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_second_level_' + $index + '.district'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
          <div layout="row" ng-if="vm.facilities.length > 0">
            <md-chips ng-model="cov.facilities_list" md-autocomplete-snap
                      md-on-add="vm.updateFacilityNumber(cov)"
                      md-on-remove="vm.updateFacilityNumber(cov)"
                      md-require-match="true">
              <md-autocomplete
                md-search-text="cov.facilitySearch"
                md-items="item in vm.searchFacility(cov.facilitySearch)"
                md-item-text="item"
                placeholder="{{'Search Facilities' | translate}}">
                <span md-highlight-text="ctrl.searchText">{{item}}</span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{$chip}}</strong>
                </span>
              </md-chip-template>
            </md-chips>

          </div>
          <div layout="row">
            <md-input-container class="number" flex="20">
              <label>
                <translate># Health Workers</translate>
              </label>
              <input
                name="{{'coverage_second_level_' + $index}}.health_workers"
                type="number"
                min="0"
                ng-model="cov.health_workers" >
              <div ng-messages="vm.form['coverage_second_level_' + $index + '.health_workers'].$error">
                <div ng-message="required">
                  <translate>This is required.</translate>
                </div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_second_level_' + $index + '.health_workers'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <md-input-container class="number" flex="20" ng-show="vm.facilities.length === 0">
              <label>
                <translate># Facilities</translate>
              </label>
              <input
                name="{{'coverage_second_level_' + $index}}.facilities"
                type="number"
                min="0"
                ng-model="cov.facilities">
              <div ng-messages="vm.form['coverage_second_level_' + $index + '.facilities'].$error">
                <div ng-message="required">
                  <translate>This is required.</translate>
                </div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_second_level_' + $index + '.facilities'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <md-input-container class="number" flex="20">
              <label>
                <translate># Clients</translate>
              </label>
              <input
                name="{{'coverage_second_level_' + $index}}.clients"
                type="number"
                min="0"
                ng-model="cov.clients">
              <div ng-messages="vm.form['coverage_second_level_' + $index + '.clients'].$error">
                <div ng-message="required">
                  <translate>This is required.</translate>
                </div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_second_level_' + $index + '.clients'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <div class="add-more-item" flex="40">
              <md-button class="md-warn" aria-label="Remove"
                         ng-show="vm.showRemove($index, vm.project.coverage_second_level)"
                         ng-click="vm.removeChild($index, 'coverage_second_level')">
                <md-icon><i class="material-icons">&#xE15B;</i></md-icon>
                <translate>Remove</translate>
              </md-button>
              <md-button class="md-primary" aria-label="Add more"
                         ng-show="vm.showAddMore($index, vm.project.coverage_second_level)"
                         ng-click="vm.addChild('coverage_second_level')">
                <md-icon><i class="material-icons">&#xE145;</i></md-icon>
                <translate>Add more</translate>
              </md-button>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div ng-show="vm.project.coverageType === 2" class="md-block extra-margin">
      <h6 class="subtitle first"><i class="material-icons">&#xE153;</i>
        <translate>National level deployment</translate>
      </h6>

      <div class="input-group">
        <div layout="row">
          <md-input-container class="number" flex="20">
            <label>
              <translate># Health Workers</translate>
            </label>
            <input type="number"
                   min="0"
                   name="national_level_deployment.health_workers"
                   ng-required="vm.isNationalLevelCoverageRequired()"
                   ng-model="vm.project.national_level_deployment.health_workers">
            <div ng-messages="vm.form['national_level_deployment.health_workers'].$error">
              <div ng-message="required">
                <translate>This is required.</translate>
              </div>
              <div ng-message="custom">
                <div ng-repeat="message in vm.form['national_level_deployment.health_workers'].customError">
                  {{message}}
                </div>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="number" flex="20">
            <label>
              <translate># Facilities</translate>
            </label>
            <input type="number"
                   min="0"
                   name="national_level_deployment.facilities"
                   ng-required="vm.isNationalLevelCoverageRequired()"
                   ng-model="vm.project.national_level_deployment.facilities">
            <div ng-messages="vm.form['national_level_deployment.facilities'].$error">
              <div ng-message="required">
                <translate>This is required.</translate>
              </div>
              <div ng-message="custom">
                <div ng-repeat="message in vm.form['national_level_deployment.facilities'].customError">
                  {{message}}
                </div>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="number" flex="20">
            <label>
              <translate># Clients</translate>
            </label>
            <input type="number"
                   min="0"
                   name="national_level_deployment.clients"
                   ng-required="vm.isNationalLevelCoverageRequired()"
                   ng-model="vm.project.national_level_deployment.clients">
            <div ng-messages="vm.form['national_level_deployment.clients'].$error">
              <div ng-message="required">
                <translate>This is required.</translate>
              </div>
              <div ng-message="custom">
                <div ng-repeat="message in vm.form['national_level_deployment.clients'].customError">
                  {{message}}
                </div>
              </div>
            </div>
          </md-input-container>
          <div flex="40"></div>
        </div>
      </div>
    </div>


    <h6 class="required extra-margin">
      <translate>Has the government financially invested in the project?</translate>
    </h6>

    <div class="md-block extra-margin">
      <div layout="column">
        <md-radio-group ng-model="vm.project.government_investor" name="government_investor" md-no-ink ng-required="vm.activateValidation" class="md-primary" layout="column">
          <md-radio-button ng-value="0" aria-label="government-investor-no">
            <translate>No, they have not yet contributed</translate>
          </md-radio-button>
          <md-radio-button ng-value="1" aria-label="government-investor-yes-1">
            <translate>Yes, they are contributing in-kind people or time</translate>
          </md-radio-button>
          <md-radio-button ng-value="2" aria-label="government-investor-yes-2">
            <translate>Yes, there is a financial contribution through MOH budget</translate>
          </md-radio-button>
        </md-radio-group>
        <div class="radio-error-messages">
          <div ng-messages="vm.form.government_investor.$error">
            <div ng-message="required">
              <translate>This is required.</translate>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h6>
      <translate>Implementing partners</translate>
    </h6>

    <md-input-container class="error-placeholder">
      <input  name="implementing_partners" ng-model="vm.hiddenFields" aria-label="hidden">
      <div ng-messages="vm.form.implementing_partners.$error">
        <div ng-message="custom">
          <div ng-repeat="message in vm.form.implementing_partners.customError">
            {{message}}
          </div>
        </div>
      </div>
    </md-input-container>

    <div layout="row" ng-repeat="partner in vm.project.implementing_partners" ng-class="{last: $last}" class="no-float">
      <md-input-container md-no-float flex="50">
        <input ng-model="partner.value"
               placeholder="{{'Partner\'s name' | translate }}"
               md-maxlength="64">
      </md-input-container>
      <div class="add-more-item">
        <md-button class="md-warn" aria-label="Remove"
                   ng-show="vm.showRemove($index, vm.project.implementing_partners)"
                   ng-click="vm.removeChild($index, 'implementing_partners')">
          <md-icon><i class="material-icons">&#xE15B;</i></md-icon>
          <translate>Remove</translate>
        </md-button>
        <md-button class="md-primary" aria-label="Add more"
                   ng-show="vm.showAddMore($index, vm.project.implementing_partners)"
                   ng-click="vm.addChild('implementing_partners')">
          <md-icon><i class="material-icons">&#xE145;</i></md-icon>
          <translate>Add more</translate>
        </md-button>
      </div>
    </div>

    <h6 class="required">
      <translate>Donors (Add one at least)</translate>
    </h6>

    <md-input-container class="error-placeholder">
      <input  name="donors" ng-model="vm.hiddenFields" aria-label="hidden">
      <div ng-messages="vm.form.donors.$error">
        <div ng-message="custom">
          <div ng-repeat="message in vm.form.donors.customError">
            {{message}}
          </div>
        </div>
      </div>
    </md-input-container>

    <div layout="row" ng-repeat="donor in vm.project.donors" ng-class="{last: $last}" class="no-float">
      <md-input-container md-no-float flex="50">
        <input ng-model="donor.value"
               placeholder="{{'Donor\'s name' | translate }}"
               md-maxlength="64" ng-required="vm.activateValidation" name="{{'donor_' + $index}}">
        <div ng-messages="vm.form['donor_' + $index].$error">
          <div ng-message="required">
            <translate>This is required.</translate>
          </div>
          <div ng-message="md-maxlength">
            <translate>This field has to be less than 64 characters long.</translate>
          </div>
        </div>
      </md-input-container>

      <div class="add-more-item">
        <md-button class="md-warn" aria-label="Remove"
                   ng-show="vm.showRemove($index, vm.project.donors)"
                   ng-click="vm.removeChild($index, 'donors')">
          <md-icon><i class="material-icons">&#xE15B;</i></md-icon>
          <translate>Remove</translate>
        </md-button>
        <md-button class="md-primary" aria-label="Add more"
                   ng-show="vm.showAddMore($index, vm.project.donors)"
                   ng-click="vm.addChild('donors')">
          <md-icon><i class="material-icons">&#xE145;</i></md-icon>
          <translate>Add more</translate>
        </md-button>
      </div>
    </div>
  </div>
</div>
