<div class="project-section section-strategy" md-whiteframe="2">
  <div class="section-title md-title">
    2. Implementation overview
    <span class="toggler" ng-click="vm.collapse()"><i class="material-icons">&#xE313;</i></span>
  </div>

  <div class="section-wrapper">
    <h6 class="first required">Add one or more Software and related Digital Health Interventions (DHI):</h6>

    <div class="software-dhi input-group" ng-repeat="platform in vm.project.platforms">
      <div layout="row">
        <md-input-container flex="33">
          <label>Software (select from list)</label>
          <md-select ng-model="platform.name" md-on-close="vm.platformSelected(platform)" name="{{'platforms_'+ $index + '.name' }}" required >
            <md-option ng-value="plat" ng-repeat="plat in platform.available">
              {{plat}}
            </md-option>
          </md-select>
          <div ng-messages="vm.form['platforms_' + $index + '.name'].$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="custom">
              <div ng-repeat="message in vm.form['platforms_' + $index + '.name'].customError">
                {{message}}
              </div>
            </div>
          </div>
        </md-input-container>

        <md-input-container flex="33" ng-if="platform.name === 'Other'">
          <label>Specify software name</label>
          <input ng-model="platform.custom" md-maxlength="120" name="platform_custom"
                 ng-required="true">
          <div ng-messages="vm.form.platform_custom.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <div class="add-more-item" flex="33">
          <div layout="row" layout-align="start end">
            <md-button class="md-primary" aria-label="Add more"
                       ng-show="vm.showAddMore($index, vm.project.platforms)"
                       ng-click="vm.addChild('platforms')">
              <md-icon><i class="material-icons">&#xE145;</i></md-icon> Add more
            </md-button>
            <md-button class="md-warn" aria-label="Remove"
                       ng-show="vm.showRemove($index, vm.project.platforms)"
                       ng-click="vm.removeChild($index, 'platforms')">
              <md-icon><i class="material-icons">&#xE15B;</i></md-icon> Remove
            </md-button>
          </div>
        </div>
      </div>

      <dialog-multi-selector
        ng-show="platform.name"
        selection="platform.strategies"
        button-name="Digital Health Interventions"
        is-required="true"
        show-title="true"
        elements="vm.structure.strategies"
        collection-name="strategies"
        name="'platforms_'+ $index + '.strategies'"
        form-element="vm.form['platforms_'+ $index + '.strategies']"
        dialog-name="platform.name">
      </dialog-multi-selector>
    </div>
  </div>

  <div class="section-wrapper">

    <div class="essential md-block">
      <h6>Health focus area(s). Select all that apply</h6>
      <dialog-multi-selector
        selection="vm.project.health_focus_areas"
        button-name="Health focus area"
        elements="vm.health_focus_areas"
        name="'health_focus_areas'"
        form-element="vm.form.health_focus_areas"
        collection-name="health_focus_areas">
      </dialog-multi-selector>
    </div>

    <div layout="row" class="extra-margin-double">
      <md-input-container flex>
        <label>What are the Health System Challenges (HSC) your project addresses?</label>
        <md-select ng-model="vm.project.hsc_challenges" md-select-separator="empty" name="hsc" required multiple>
          <md-optgroup label="{{hsc.name}}" ng-repeat="hsc in vm.structure.hsc_challenges">
            <md-option value="{{challenge}}" ng-repeat="challenge in hsc.challenges">
              {{challenge}}
            </md-option>
          </md-optgroup>
        </md-select>
        <div ng-messages="vm.form.hsc.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>

    <div layout="row" class="first extra-margin">
      <md-input-container flex>
        <label>What part(s) of the Health Information System (HIS) does this project support?</label>
        <md-select ng-model="vm.project.his_bucket" md-select-separator="empty" name="his" required multiple>
          <md-option value="{{his}}" ng-repeat="his in vm.structure.his_bucket">
            {{his}}
          </md-option>
        </md-select>
        <div ng-messages="vm.form.his.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>

    <h6 class="extra-margin required">What kind of coverage does your project have?</h6>

    <div layout="row" class="extra-margin">
      <div layout="column">
        <md-radio-group ng-model="vm.project.coverageType" name="coverageType" md-no-ink ng-required="true" class="md-primary" layout="row">
          <md-radio-button ng-value="1" aria-label="coverage-type-yes">
            Sub-national
          </md-radio-button>
          <md-radio-button ng-value="2" aria-label="coverage-type-no">
            National
          </md-radio-button>
        </md-radio-group>
        <div class="radio-error-messages">
          <div ng-messages="vm.form.coverageType.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="vm.project.coverageType === 1">
      <h6 class="subtitle"><i class="material-icons">&#xE567;</i> District level deployment</h6>

      <div class="input-group" ng-repeat="cov in vm.project.coverage">
        <div layout="column">
          <div layout="row">
            <md-input-container class="district" flex="50">
              <label>District</label>
              <md-select ng-model="cov.district" name="{{'coverage_' + $index}}" ng-required="vm.coverageType === 1">
                <md-option value="{{district}}" ng-repeat="district in cov.available">
                  {{district}}
                </md-option>
                <md-option md-option-empty ng-hide="vm.districtList.length"> Select a country </md-option>
              </md-select>
              <div ng-messages="vm.form['coverage_' + $index].$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_' + $index].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <div flex="50"></div>
          </div>
          <div layout="row">
            <md-input-container class="number" flex="20">
              <label># Health Workers</label>
              <input ng-required="vm.coverageType === 1" name="{{'coverage_' + $index}}.health_workers"
                     type="number" min="0" ng-model="cov.health_workers" >
              <div ng-messages="vm.form['coverage_' + $index + '.health_workers'].$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_' + $index + '.health_workers'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <md-input-container class="number" flex="20">
              <label># Facilities</label>
              <input ng-required="vm.coverageType === 1" name="{{'coverage_' + $index}}.facilities"
                     type="number" min="0" ng-model="cov.facilities">
              <div ng-messages="vm.form['coverage_' + $index + '.facilities'].$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_' + $index + '.facilities'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <md-input-container class="number" flex="20">
              <label># Clients</label>
              <input ng-required="vm.coverageType === 1" name="{{'coverage_' + $index}}.clients"
                     type="number" min="0" ng-model="cov.clients">
              <div ng-messages="vm.form['coverage_' + $index + '.clients'].$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="custom">
                  <div ng-repeat="message in vm.form['coverage_' + $index + '.clients'].customError">
                    {{message}}
                  </div>
                </div>
              </div>
            </md-input-container>
            <div class="add-more-item" flex="40">
              <md-button class="md-warn" aria-label="Remove"
                         ng-show="vm.showRemove($index, vm.project.coverage)"
                         ng-click="vm.removeChild($index, 'coverage')">
                <md-icon><i class="material-icons">&#xE15B;</i></md-icon> Remove
              </md-button>
              <md-button class="md-primary" aria-label="Add more"
                         ng-show="vm.showAddMore($index, vm.project.coverage)"
                         ng-click="vm.addChild('coverage')">
                <md-icon><i class="material-icons">&#xE145;</i></md-icon> Add more
              </md-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="vm.project.coverageType === 2">
      <h6 class="subtitle first"><i class="material-icons">&#xE153;</i> National level deployment</h6>

      <div class="input-group last">
        <div layout="row">
          <md-input-container class="number" flex="20">
            <label># Health Workers</label>
            <input type="number"
                   min="0"
                   name="national_level_deployment.health_workers"
                   ng-required="vm.coverageType === 2"
                   ng-model="vm.project.national_level_deployment.health_workers">
            <div ng-messages="vm.form['national_level_deployment.health_workers'].$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="custom">
                <div ng-repeat="message in vm.form['national_level_deployment.health_workers'].customError">
                  {{message}}
                </div>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="number" flex="20">
            <label># Facilities</label>
            <input type="number"
                   min="0"
                   name="national_level_deployment.facilities"
                   ng-required="vm.coverageType === 2"
                   ng-model="vm.project.national_level_deployment.facilities">
            <div ng-messages="vm.form['national_level_deployment.facilities'].$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="custom">
                <div ng-repeat="message in vm.form['national_level_deployment.facilities'].customError">
                  {{message}}
                </div>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="number" flex="20">
            <label># Clients</label>
            <input type="number"
                   min="0"
                   name="national_level_deployment.clients"
                   ng-required="vm.coverageType === 2"
                   ng-model="vm.project.national_level_deployment.clients">
            <div ng-messages="vm.form['national_level_deployment.clients'].$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="custom">
                <div ng-repeat="message in vm.form['national_level_deployment.clients'].customError">
                  {{message}}
                </div>
              </div>
            </div>
          </md-input-container>
          <div flex="40"></div>
        </div>
      </div>

    </div>

    <h6 class="required extra-margin">Has the government approved the project?</h6>

    <div layout="row" class="extra-margin">
      <div layout="column">
        <md-radio-group ng-model="vm.project.government_approved" name="government_approved" md-no-ink ng-required="true" class="md-primary" layout="row">
          <md-radio-button ng-value="true" aria-label="government-approved-yes">
            Yes
          </md-radio-button>
          <md-radio-button ng-value="false" aria-label="government-approved-no">
            No
          </md-radio-button>
        </md-radio-group>
        <div class="radio-error-messages">
          <div ng-messages="vm.form.government_approved.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </div>
      </div>
    </div>

    <h6 class="required extra-margin">Has the government financially invested in the project?</h6>

    <div layout="row" class="extra-margin">
      <div layout="column">
        <md-radio-group ng-model="vm.project.government_investor" name="government_investor" md-no-ink ng-required="true" class="md-primary" layout="column">
          <md-radio-button ng-value="0" aria-label="government-investor-no">
            No, they have not yet contributed
          </md-radio-button>
          <md-radio-button ng-value="1" aria-label="government-investor-yes-1">
            Yes, they are contributing in-kind people or time
          </md-radio-button>
          <md-radio-button ng-value="2" aria-label="government-investor-yes-2">
            Yes, there is a financial contribution through MOH budget
          </md-radio-button>
        </md-radio-group>
        <div class="radio-error-messages">
          <div ng-messages="vm.form.government_investor.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </div>
      </div>
    </div>

    <h6>Implementing partners</h6>

    <md-input-container class="error-placeholder">
      <input  name="implementing_partners" ng-model="vm.hiddenFields" aria-label="hidden">
      <div ng-messages="vm.form.implementing_partners.$error">
        <div ng-message="custom">
          <div ng-repeat="message in vm.form.implementing_partners.customError">
            {{message}}
          </div>
        </div>
      </div>
    </md-input-container>

    <div layout="row" ng-repeat="partner in vm.project.implementing_partners" ng-class="{last: $last}" class="no-float">
      <md-input-container md-no-float flex="50">
        <input ng-model="partner.value" placeholder="Partner's name" md-maxlength="64">
      </md-input-container>
      <div class="add-more-item" flex>
        <md-button class="md-warn" aria-label="Remove"
                   ng-show="vm.showRemove($index, vm.project.implementing_partners)"
                   ng-click="vm.removeChild($index, 'implementing_partners')">
          <md-icon><i class="material-icons">&#xE15B;</i></md-icon> Remove
        </md-button>
        <md-button class="md-primary" aria-label="Add more"
                   ng-show="vm.showAddMore($index, vm.project.implementing_partners)"
                   ng-click="vm.addChild('implementing_partners')">
          <md-icon><i class="material-icons">&#xE145;</i></md-icon> Add more
        </md-button>
      </div>
    </div>

    <h6 class="required">Donors (Add one at least)</h6>

    <md-input-container class="error-placeholder">
      <input  name="donors" ng-model="vm.hiddenFields" aria-label="hidden">
      <div ng-messages="vm.form.donors.$error">
        <div ng-message="custom">
          <div ng-repeat="message in vm.form.donors.customError">
            {{message}}
          </div>
        </div>
      </div>
    </md-input-container>

    <div layout="row" ng-repeat="donor in vm.project.donors" ng-class="{last: $last}" class="no-float">
      <md-input-container md-no-float flex="50">
        <input ng-model="donor.value" placeholder="Donor's name" md-maxlength="64" required name="{{'donor_' + $index}}">
        <div ng-messages="vm.form['donor_' + $index].$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">This field has to be less than 64 characters long.</div>
        </div>
      </md-input-container>

      <div class="add-more-item" flex>
        <md-button class="md-warn" aria-label="Remove"
                   ng-show="vm.showRemove($index, vm.project.donors)"
                   ng-click="vm.removeChild($index, 'donors')">
          <md-icon><i class="material-icons">&#xE15B;</i></md-icon> Remove
        </md-button>
        <md-button class="md-primary" aria-label="Add more"
                   ng-show="vm.showAddMore($index, vm.project.donors)"
                   ng-click="vm.addChild('donors')">
          <md-icon><i class="material-icons">&#xE145;</i></md-icon> Add more
        </md-button>
      </div>
    </div>
  </div>
</div>
