@import '../../node_modules/angular-material/angular-material.css';

md-grid-tile {
  background: gray;

  &.empty {
    background: transparent;
  }
  &.sub {
    background:red;
  }

  &.activated {
    border: 1px solid greenyellow;
  }

  &.head {
    background: blue;
  }

  &.tail {
    background: yellow;
  }

  md-input-container {
    width:100%;
    position: absolute;
    top:0;
    left:0;
    vertical-align: top;
    margin:0;

    .md-select-value .md-text {
      display: block;
      word-break: break-all;
      word-wrap: break-word;
      width: 99%;
      float: left;
    }
  }

  .grid-selector {
    width:100%;
    height:100%
  }

  .selected {
    background: green;
  }
}

