@import '../../node_modules/angular-material/angular-material.css';

.hss-prototype {

  .text-center {
    text-align: center;
  }

  md-grid-list {
    background: white;
  }

  md-grid-tile {
    background: white;
    border-right: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    outline:none;

    .app-number {
      width: 3em;
      height: 3em;
      float: left;
      text-align: center;
      line-height: 3em;
      background: lightgray;
      border-radius: 40px;
    }

    .app-button {
      width: calc( 100% - 3em );
      float: left;
    }

    .wide {
      width:100%;
    }

    &.odd {
      background: #dddddd;
    }

    &.empty {
      background: transparent;
      border-right:0;
    }
    &.sub {
      border-bottom:0;
    }

    &.app-open {
      border-bottom: 0;
    }

    &.activated {
      border-left: 1px solid #7CB342;
      border-right: 1px solid #7CB342;

      &.child {
        background: #7CB342;
        border-right: 1px solid #cbcbcb;
        border-bottom: 1px solid #cbcbcb;
      }

      &.mother {
        background: #7CB342;
        border-right: 1px solid #cbcbcb;
        border-bottom: 1px solid #cbcbcb;
      }
    }

    &.header-line {
      background: lightgray;
    }

    &.taxonomy {
      border-bottom:0;
    }

    .md-button-override {
      text-transform: none;
      font-size:10px;
      text-align: left;
      white-space: normal;
      line-height: 10px;
    }

    md-input-container {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      vertical-align: top;
      margin: 0;

      .md-select-value .md-text {
        display: block;
        word-break: break-all;
        word-wrap: break-word;
        width: 99%;
        float: left;
      }
    }

    .grid-selector {
      width: 100%;
      height: 100%
    }

    .selected {
      background: green;
    }
  }

}