<div class="md-padding hss-prototype">
    <h1 class="md-display-3 text-center">My digital strategy to improve RNMNCH outcomes </h1>
    <h6 class="md-subhead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit
        . Donec eros lacus, posuere sed elit egestas, dapibus egestas nulla. Suspendisse non tellus tellus.</h6>
    <md-button ng-click="vm.startIntro()">Run the Intro</md-button>
    <md-grid-list md-whiteframe="2" md-cols="11" md-gutter="0px" md-row-height="4em">

        <md-grid-tile ng-repeat="tile in vm.zeroRow" ng-class="tile.className" md-colspan="{{tile.colSpan}}" md-rowspan="{{tile.rowSpan}}">
            {{tile.content}}
        </md-grid-tile>

        <md-grid-tile class="intro_edit_mode" md-colspan="2" md-rowspan="3" >
            <md-switch ng-model="vm.editMode" aria-label="EditMode" class="md-primary">
                Edit Enabled: {{vm.editMode}}
            </md-switch>
        </md-grid-tile>

        <md-grid-tile ng-repeat="tile in vm.motherRow" ng-class="vm.classGenerator(tile, $first)" md-colspan="{{tile.colSpan}}"  md-rowspan="{{tile.rowSpan}}" ng-click="tile.clickHandler(tile)">
            {{tile.content}}
        </md-grid-tile>

        <md-grid-tile ng-repeat="tile in vm.childRow" ng-class="vm.classGenerator(tile)" md-colspan="{{tile.colSpan}}" md-rowspan="{{tile.rowSpan}}" ng-click="tile.clickHandler(tile)">
            {{tile.content}}
        </md-grid-tile>

        <md-grid-tile md-colspan="9" md-rowspan="1" class="header-line">RMNCH Essential Interventions</md-grid-tile>
        <md-grid-tile md-colspan="2" md-rowspan="1"></md-grid-tile>

        <md-grid-tile md-colspan="{{vm.intervertionLogoColumn.colSpan}}" md-rowspan="{{vm.intervertionLogoColumn.rowSpan}}" > </md-grid-tile>

        <md-grid-tile ng-repeat="tile in vm.interventionRow" md-colspan="{{tile.colSpan}}" md-rowspan="{{tile.rowSpan}}" ng-class="vm.classGenerator(tile)">
            <div ng-if="tile.activated">
                <md-list flex ng-if="!tile.isInput || !vm.editMode">
                    <md-list-item class="md-1-line" ng-repeat="item in tile.content">
                        <div class="md-list-item-text" layout="column">
                            <p>{{item}}</p>
                        </div>
                    </md-list-item>
                </md-list>
                <md-input-container ng-if="tile.isInput && vm.editMode">
                    <md-select ng-model="tile.content" aria-label="intervention-option" multiple="true">
                        <md-option ng-repeat="option in tile.selectValues" value="{{option}}">
                            {{option}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-grid-tile>

        <md-grid-tile md-colspan="2" md-rowspan="5" layout-padding class="intro_constraints">
            <div layout="{{vm.editMode ? 'column' : 'row'}}" layout-wrap flex>
                <div ng-repeat="constraint in vm.constraintsToggle">
                    <div flex="100" ng-if="vm.editMode">
                        <md-checkbox ng-model="constraint.toggled" class="md-primary" ng-change="vm.constraintChanged(constraint)">
                            {{ constraint.name }}
                        </md-checkbox>
                    </div>
                    <div flex="33" ng-if="!vm.editMode">
                        <md-button class="md-fab md-mini md-primary" ng-disabled="!constraint.toggled" >
                            <md-icon class="material-icons">
                                {{ constraint.icon }}
                            </md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-grid-tile>

        <md-grid-tile class="header-line" md-colspan="9" md-rowspan="1">
            common and mHealth ict application
        </md-grid-tile>

        <md-grid-tile ng-repeat="tile in vm.applicationRow" md-colspan="{{tile.colSpan}}" ng-class="vm.classGenerator(tile)" md-rowspan="{{tile.rowSpan}}" ng-if="!tile.disabled">
            <div ng-if="tile.isHeader" class="wide">
                <div class="app-number" ng-class="tile.classGenerator(tile)">{{tile.appLabel}}</div>
                <div class="app-button">
                    <md-button class="md-button-override"  ng-click="vm.enableSubApp(tile)">
                        <span>{{tile.content}}</span>
                        <md-icon class="material-icons" ng-show="tile.subApplications.length > 0 ">keyboard_arrow_down</md-icon>
                    </md-button>
                </div>
            </div>

            <div ng-if="tile.isInput && tile.activated" class="grid-selector" ng-class="tile.status" ng-click="vm.clickHandler(tile)" >
                <div ng-if="vm.editMode && tile.isDefined">
                    <div class="app-number white-number">{{tile.appLabel}}</div>
                    <md-input-container  md-no-float class="" >
                        <input aria-label="tile content" ng-model="tile.content" ng-keydown="vm.inputHandler(tile, $event)">
                    </md-input-container>
                </div>
                <div ng-if="!vm.editMode && tile.content">
                    <div class="app-number white-number">{{tile.appLabel}}</div>
                    <div class="app-text" >{{tile.content}}</div>
                </div>
            </div>
            <div ng-if="tile.isSelect && tile.rowEnabled">
                <div ng-if="!vm.editMode">
                    <div ng-repeat="tax in tile.content">
                        {{tax}}
                    </div>
                </div>
                <div ng-if="vm.editMode" >
                    <md-input-container >
                        <md-select ng-model="tile.content" aria-label="taxonomy-option" multiple="true">
                            <md-option ng-repeat="option in vm.availableConstraints" value="{{option}}">
                                {{option}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>
    <div layout-padding md-whiteframe="1" flex layout="row">
        <div flex="33" >
            <span class="md-subhead">Project Scale</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                . Donec eros lacus, posuere sed elit egestas, dapibus egestas nulla. Suspendisse non tellus tellus.</p>
        </div>
        <div flex="33" layout="row" layout-wrap>
            <span flex="100" class="md-subhead">Project Partners</span>
            <div flex="20" class="partner-logo-canvas" ng-repeat="n in [1,2,3]"></div>
        </div>
        <div flex="33" layout="row" layout-wrap>
            <span flex="100" class="md-subhead">Project Progress</span>
            <img flex="20" src="images/circle_progress.svg" />
        </div>
    </div>
</div>