<span flex="100" class="md-subhead">Project Partners</span>

<p ng-if="!vm.logos.length">There is no Project partner logo uploaded yet...</p>

<div class="partnerscontainer">

	<div
		ng-repeat="logo in vm.logos track by $index"
		ng-if="vm.logos.length"
		class="partneritem">

		<img ng-src="{{logo}}" ng-class="{'deletable': vm.editMode}" ng-click="vm.delLogo(logo)">

	</div>
	<div
		ng-if="vm.editMode"
		class="partneritem"
		ng-click="vm.addLogoDialog()">

		<p id="uploadmodalanchor">Click here to add new logo!</p>

	</div>



</div>
