projectpartners {

	width: 100%;

	.partnerscontainer {

		display: flex;
		flex-wrap: wrap;

		.partner {

			.logoimg {

				height: 100px;
				width: auto;

				i {
					font-size: 100px;
					align: center;
					opacity: 0.4;
					color: green;
				}

				#file-input {
					display: none;
				}
			}
		}
	}
}
