<div flex="100">
	<h4>Project Partners</h4>
</div>

<div class="partnerscontainer">

	<div
		ng-repeat="logo in vm.logos track by $index"
		class="partner"
		ng-if="vm.logos.length">

		<img
			class="logoimg"
			ng-src="{{logo}}">


    <md-button class="md-icon-button" aria-label="Remove logo">
        <md-icon class="material-icons md-warn logo-remove" ng-if="vm.editMode"
        ng-click="vm.delLogo(logo)">delete_forever</md-icon>
    </md-button>
	</div>

	<div
		class="add-partner"
		ng-hide="!vm.editMode">

		<div
			class="file-upload"
			ng-click="vm.addLogo()">

			<label for="file-input">
				<md-button class="md-black wide">Upload logo</md-button>
				<input type="file" id="file-input" onchange="fileChange()">
			</label>
		</div>

		<span class="file-upload-info md-small">
			File format: jpeg, gif, png<br>
			Max.file size: 2MB
		</span>

	</div>
</div>
