<div layout="column" class="new-edit-project" layout-align="start center" ng-class="vm.state.params.editMode" >
  <div class="page-title" >
    <h1 class="md-display-1 text-center" ng-hide="vm.editMode">Add New Digital Health Project</h1>
    <h1 class="md-display-1 text-center"  ng-show="vm.editMode">Edit Project Info</h1>
    <h6 class="md-subhead text-center" ng-show="vm.editMode">You are viewing the
      <span class="draft-bit">Draft</span>
      <span class="published-bit">Published</span> version of the project</h6>
  </div>

  <!--<div layout="row" layout-sm="column" layout-align="space-around" ng-show="!vm.dataLoaded">-->
    <!--<md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>-->
  <!--</div>-->

  <div class="project-form-wrapper md-block">
    <form name="vm.form" ng-submit="vm.save($event)" layout="row" id="npf" novalidate>
      <div class="main-section" layout="column">

        <general-overview
          id="general-overview"
          form="vm.form"
          project="vm.project"
          structure="vm.structure"
          team="vm.team"
          viewers="vm.viewers"
          activate-validation="vm.activateValidation"
          ng-if="!vm.readOnlyMode"
          users="vm.users">
        </general-overview>

        <read-only-general-overview
          id="general-overview"
          form="vm.form"
          project="vm.project"
          structure="vm.structure"
          team="vm.team"
          viewers="vm.viewers"
          activate-validation="vm.activateValidation"
          ng-if="vm.readOnlyMode"
          users="vm.users">
        </read-only-general-overview>


        <implementation-overview
          id="implementation-overview"
          form="vm.form"
          project="vm.project"
          activate-validation="vm.activateValidation"
          ng-if="!vm.readOnlyMode"
          structure="vm.structure">
        </implementation-overview>

        <read-only-implementation-overview
          id="implementation-overview"
          form="vm.form"
          project="vm.project"
          ng-if="vm.readOnlyMode"
          activate-validation="vm.activateValidation"
          structure="vm.structure">
        </read-only-implementation-overview>


        <technology
          id="technology"
          form="vm.form"
          project="vm.project"
          activate-validation="vm.activateValidation"
          ng-if="!vm.readOnlyMode"
          structure="vm.structure">
        </technology>

        <read-only-technology
          id="technology"
          form="vm.form"
          project="vm.project"
          activate-validation="vm.activateValidation"
          ng-if="vm.readOnlyMode"
          structure="vm.structure">
        </read-only-technology>


        <interoperability
          id="interoperability"
          form="vm.form"
          project="vm.project"
          activate-validation="vm.activateValidation"
          ng-if="!vm.readOnlyMode"
          structure="vm.structure">
        </interoperability>

        <read-only-interoperability
          id="interoperability"
          form="vm.form"
          project="vm.project"
          activate-validation="vm.activateValidation"
          ng-if="vm.readOnlyMode"
          structure="vm.structure">
        </read-only-interoperability>


        <country-fields
          ng-show="vm.countryFields && vm.countryFields.length > 0"
          id="country-fields"
          form="vm.form"
          project="vm.project"
          activate-validation="vm.activateValidation"
          ng-if="!vm.readOnlyMode"
          country-fields="vm.countryFields">
        </country-fields>

        <read-only-country-fields
          ng-show="vm.countryFields && vm.countryFields.length > 0"
          id="country-fields"
          form="vm.form"
          project="vm.project"
          activate-validation="vm.activateValidation"
          ng-if="vm.readOnlyMode"
          country-fields="vm.countryFields">
        </read-only-country-fields>

      </div>
      <div class="navigation-area" layout="column">
        <navigation
          read-only-mode="vm.readOnlyMode"
          project="vm.project"
          viewers="vm.viewers"
          team="vm.team"
          country-fields="vm.countryFields"
          show-country-fields="vm.countryFields && vm.countryFields.length > 0"
        ></navigation>
      </div>
    </form>
  </div>

  <disclaimer></disclaimer>
</div>
