<div class="login-wrapper" layout="column" layout-align="start center" ng-style="vm.style">
    <div class="page-title">
        <h1 class="md-display-1 text-center">Login</h1>
        <!-- <h6>Subtitle if needed</h6> -->
    </div>

    <div md-whiteframe="2">
        <md-content layout="column">
            <form layout="column" name="vm.loginForm" ng-submit="vm.login()" novalidate>
                <md-input-container>
                    <label>Email address</label>
                    <input ng-required="true" name="username" ng-model="vm.user.username" type="email" ng-change="vm.handleCustomError('username')" />
                    <div ng-messages="vm.loginForm.username.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="email">This field must be a valid email.</div>
                        <div ng-message="custom" ng-repeat="error in vm.loginForm.username.customError">{{error}} </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-required="true" name="password" ng-model="vm.user.password" type="password" ng-change="vm.handleCustomError('password')"/>
                    <div ng-messages="vm.loginForm.password.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="custom" ng-repeat="error in vm.loginForm.password.customError">{{error}} </div>
                    </div>
                </md-input-container>

                <p class="global-error">
                    <span ng-repeat="error in vm.loginForm.non_field_errors"> {{error}}</span>
                </p>

                <div layout="row" layout-align="start">
                    <div flex=auto>
                        <md-button class="md-gray md-small" ui-sref="reset">
                            Forgot password?
                        </md-button>
                    </div>
                    <div flex=grow layout-align="end">
                        <md-button type="submit" class="md-raised md-primary">
                            Login
                        </md-button>
                    </div>
                </div>
            </form>
        </md-content>
    </div>

    <disclaimer></disclaimer>
</div>
