@import '../../variables';
@import '../../mixins';

login {

  md-content {
    padding: 40px;
    min-width: 400px;
    max-width: 400px;
  }

  .layout-row {
    margin: 18px 0 18px;

    .md-button {
      margin: 0;
    }
    .md-primary {
      float: right;
    }
  }

  .disclaimer {
    margin-bottom: 50px;
    max-width: 640px;
  }
}
