<div layout="column" layout-align="start center" ng-style="vm.style" >
  <div class="page-title">
    <h1 class="md-display-1 text-center">Login</h1>
    <!-- <h6>Subtitle if needed</h6> -->
  </div>

    <div md-whiteframe="2">
        <md-content layout="column">
            <md-input-container>
               <label>Email address</label>
               <input ng-model="vm.user.username" type=text />
            </md-input-container>
            <md-input-container>
               <label>Password</label>
               <input ng-model="vm.user.password" type="password"/>
            </md-input-container>
            <div layout="row" layout-align="start">
              <div flex=auto>
                <md-button class="md-gray md-small">
                    Forgot password?
                </md-button>
              </div>
              <div flex=grow layout-align="end">
                <md-button class="md-raised md-primary" ng-click="vm.login()">
                    Login
                </md-button>
              </div>
            </div>
        </md-content>
    </div>
    <footer class="disclaimer">
      <b>Disclaimer:</b> All reasonable precautions have been taken by the World Health Organization to verify the information contained in this publication. However, the published material is being distributed without warranty of any kind, either expressed or implied. The responsibility for the interpretation and use of the material lies with the reader. In no event shall the World Health Organization be liable for damages arising from its use.
    </footer>
</div>
