<div id="pdf-export">

    <div class="header">
        <div class="page-header">
            <img src="{{vm.logo}}" width="163" height="22" alt="Digital Health Atlas">
        </div>

        <div class="page-subheader">
            <div class="country">
                <!--<img src="{{vm.countryFlag}}" width="auto" height="18" alt="  {{vm.country.name}}">-->
                {{vm.country.name}}
            </div>
            <div class="date">List exported on {{vm.exportDate}}</div>
        </div>
    </div>

    <table class="project" ng-repeat="project in vm.projectList track by $index">
        <tbody>
        <tr>
            <td colspan="6" class="tbl-header">
                {{$index + 1}}. {{project.name}}
            </td>
        </tr>

        <tr class="data-sm">
            <td>
                <h6>Date of ###</h6>
                <span>{{project.implementation_dates}}</span>
            </td>
            <td>
                <h6>Organisation Name</h6>
                <span>{{project.organisation_name}}</span>
            </td>
            <td>
                <h6>Donors</h6>
                <span>{{project.donors.join(', ')}}</span>
            </td>
            <td>
                <h6>Implementing partners</h6>
                <span>{{project.implementing_partners.join(', ')}}</span>
            </td>
            <td>
                <h6>Health Focus Area</h6>
                <span>{{project.health_focus_areas.join(', ')}}</span>
            </td>
            <td>
                <h6>Point of contact</h6>
                <span>
            {{project.contact_name}}<br>
              {{project.contact_email}}
            </span>
            </td>
        </tr>

        <tr class="data-lg">
            <td colspan="3">
                <h6>Overview of digital health implementation</h6>
                <span>{{project.implementation_overview}}</span>
            </td>
            <td colspan="3">
                <h6>Geographical coverage</h6>
                <span>{{project.geographic_scope}}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<button ng-click="vm.makePDF()">Searchable PDF</button>
<button ng-click="vm.makePrettyPDF()">Pretty PDF</button>
