<md-grid-list
    md-cols="11"
    md-gutter="0px"
    md-row-height="51px"
    class="interventions-component">

    <md-grid-tile
        md-colspan="9"
        md-rowspan="1" >
        <div class="header" layout="row" layout-align="start center">
            <h2 class="md-title text-uppercase">RMNCH Essential Interventions</h2>
        </div>
    </md-grid-tile>

    <md-grid-tile
        md-colspan="2"
        md-rowspan="{{vm.interventionsRowSpan.size + 1}}"
        class="constraints">
        <constraints resize-callback="vm.resizeRow"></constraints>
    </md-grid-tile>

    <md-grid-tile
        md-colspan="2"
        md-rowspan="{{vm.interventionsRowSpan.size}}"
        <!-- This is empty! -->
    </md-grid-tile>

    <md-grid-tile
        md-colspan="{{tile.colSpan}}"
        md-rowspan="{{tile.rowSpan}}"
        ng-repeat="tile in vm.interventionRow"
        class="intervention">

        <div ng-class="tile.classGenerator(tile)">
            <div ng-if="tile.activated">
                <md-list flex ng-if="!vm.editMode">
                    <md-list-item class="md-1-line" ng-repeat="item in tile.content">
                        <div class="md-list-item-text md-small" layout="column">
                            {{item}}
                        </div>
                    </md-list-item>
                </md-list>
                <ssmenu
                    ng-if="vm.editMode"
                    ng-model="tile.content"
                    options="tile.selectValues"
                    aria-label="intervention-option"
                    multiple="true"
                    data-placeholder="Select item(s)"
                    md-container-class="small"
                    replace-comma="true"
                    searchable="true"
                    class="small multiline">
                </ssmenu>
            </div>
        </div>
    </md-grid-tile>

</md-grid-list>
