<md-grid-list
        md-cols="11"
        md-gutter="0px"
        md-row-height="51px"
        class="interventions-component"
        md-on-layout="vm.layoutDone()"
>

    <md-grid-tile
            md-colspan="9"
            md-rowspan="1" >
        <div class="header age-range" layout="row" layout-align="start center">
            <h2 class="md-title text-uppercase">Target Population</h2>
        </div>
    </md-grid-tile>



    <md-grid-tile
            md-colspan="2"
            md-rowspan="{{(vm.interventionsRowSpan.size + vm.targetPopulationRowSpan.size + 2)}}"
            class="constraints">
        <constraints
                structure="vm.structure"
                data="vm.data"
                service="vm.service"
                resize-callback="vm.resizeInterventionsRow"></constraints>
    </md-grid-tile>

    <md-grid-tile
            md-colspan="2"
            md-rowspan="{{vm.targetPopulationRowSpan.size}}">
        <!-- This is empty! -->
    </md-grid-tile>


    <md-grid-tile
            md-colspan="{{tile.colSpan}}"
            md-rowspan="{{tile.rowSpan}}"
            ng-repeat="tile in vm.specialPopulationRow"
            class="intervention">

        <div ng-class="tile.classGenerator(tile)">
            <div ng-if="tile.activated">
                <md-list flex ng-if="!vm.editMode">
                    <md-list-item class="md-1-line" ng-repeat="item in tile.content track by $index">
                        <div class="md-list-item-text md-small" layout="column">
                            {{item}}
                        </div>
                    </md-list-item>
                </md-list>
                <ssmenu
                        ng-if="vm.editMode"
                        ng-model="tile.content"
                        options="tile.selectValues"
                        sub-options="item"
                        sub-header="name"
                        aria-label="intervention-option"
                        multiple="true"
                        data-placeholder="Add new"
                        md-container-class="small"
                        replace-comma="true"
                        searchable="true"
                        class="small multiline"
                        on-close-callback="tile.saveSpecialPopulations"
                >
                </ssmenu>
            </div>
        </div>
    </md-grid-tile>


    <md-grid-tile
            md-colspan="9"
            md-rowspan="1" >
        <div class="header interventions" layout="row" layout-align="start center">
            <h2 class="md-title text-uppercase">Essential Health  Interventions</h2>
        </div>
    </md-grid-tile>



    <md-grid-tile
            md-colspan="2"
            md-rowspan="{{vm.interventionsRowSpan.size}}" >
    <!-- This is empty! -->
    </md-grid-tile>

    <md-grid-tile
            md-colspan="{{tile.colSpan}}"
            md-rowspan="{{tile.rowSpan}}"
            ng-repeat="tile in vm.interventionRow"
            class="intervention">

        <div ng-class="tile.classGenerator(tile)">
            <div ng-if="tile.activated">
                <md-list flex ng-if="!vm.editMode">
                    <md-list-item class="md-1-line" ng-repeat="item in tile.content track by $index">
                        <div class="md-list-item-text md-small" layout="column">
                            {{item}}
                        </div>
                    </md-list-item>
                </md-list>
                <ssmenu
                        ng-if="vm.editMode"
                        ng-model="tile.content"
                        options="tile.selectValues"
                        aria-label="intervention-option"
                        multiple="true"
                        data-placeholder="Add new"
                        md-container-class="small"
                        replace-comma="true"
                        searchable="true"
                        class="small multiline"
                        on-close-callback="tile.saveInterventions">
                </ssmenu>
            </div>
        </div>
    </md-grid-tile>

</md-grid-list>
