@import '../../variables';
@import '../../mixins';

interventions {

  .odd {
    background: #FAFAFA;
  }

  .header {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;

    h2 {
      z-index: 10;
      padding-left: 40px;
    }

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #EEEEEE url('./images/asset-bg-who.svg') no-repeat -10px -9px;
      opacity: .2;
    }
  }

  .intervention {
    width: 100%;
    height: 100%;

    md-list-item {
      padding: 5px;
      min-height: auto;
    }

    md-input-container {
      margin: 5px;
      padding: 0;
      width: calc(100% - 10px);

      md-select-value {
        span {
          display: block;
          width: calc(100% - 15px);
        }
      }
    }

  }
}
