@import '../../variables';
@import '../../mixins';

/* TOP NAVIGATION BAR
   ============================= */

.main-toolbar {
  z-index: 1000;
  min-height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  box-shadow: $whiteframe-shadow-4dp;

  @media only screen and (max-width: $page-min-width) {
    width: 100% !important;
  }

  &.toolbar-global {
    background-color: $color-white;

    .md-toolbar-tools {
      padding-right: 12px;

      @media only screen and (max-width: 1180px) {
        .md-button {
          &:not(.app-title):not(.landing-link) > span {
            display: none;
          }
        }
      }
    }
  }

  .md-toolbar-tools {
    max-height: 48px;
    height: 48px;
    font-size: $body-font-size-base;

    .md-button {
      margin-left: 12px;
      min-width: 10px !important;

      &.view-selector {
        margin-right: 12px;
      }

      &.landing-link {
        margin-right: 12px;
      }

      .material-icons {
        transform: translateY(-1px);
      }
    }

    .add-new-project {
      display: block;
      margin-right: 18px !important;

      > span {
        display: inline-block !important;
      }
    }
  }

  .app-title {
    display: inline-block;
    margin: 0 24px 0 0 !important;
    padding: 4px 0;
    min-height: 28px;
    height: 28px;

    > span {
      display: inline-block;
      min-width: 165px;
      height: 24px;
      background: red url("images/dha-logo.svg") left center no-repeat;
      text-indent: -999em;

      @include text-hide();
    }
  }

  searchbar {
    padding-right: 0;
  }

}
