<md-toolbar class="main-toolbar toolbar-global">
  <div class="md-toolbar-tools">

    <div>
      <md-button
        ui-sref="landing"
        aria-label="Digital Health Atlas"
        class="app-title"
        md-no-ink
        flex="noshrink">
        <span class="logo">
          <translate>Digital Health Atlas</translate>
        </span>
      </md-button>
    </div>

    <div>
      <md-button aria-label="Dashboard"
                 title="Dashboard"
                 class="view-selector"
                 ui-sref="dashboard"
                 ng-show="vm.profileValid"
                 md-no-ink>
        <md-icon class="material-icons">apps</md-icon>
        <translate>Dashboard</translate>
      </md-button>
    </div>

    <div>
      <md-button aria-label="My Projects"
                 title="My Projects"
                 class="view-selector"
                 ui-sref="my-projects"
                 ng-show="vm.profileValid"
                 md-no-ink>
        <md-icon class="material-icons ">toc</md-icon>
        <translate>My Projects</translate>
      </md-button>
    </div>

    <div>
      <md-button aria-label="Planning and Guidance"
                 title="Planning and Guidance"
                 class="view-selector"
                 ui-sref="cms"
                 ng-show="vm.profileValid"
                 md-no-ink>
        <md-icon class="material-icons ">import_contacts</md-icon>
        <translate>Planning &amp; Guidance</translate>
      </md-button>
    </div>

    <thematic
      axis="vm.axis"
      domain="vm.domain"
      ng-show="vm.profileValid"
      buttontitle="{{'MAPS Toolkit' | translate}}"
      buttonclass="md-primary"
      buttonicon="help_outline"
      buttontext="{{'Toolkit' | translate}}">
    </thematic>

    <div flex></div>

    <div class="language-badge" ng-show="vm.userLanguage">
      <div class="country-flag" style="{{'background-image: url(' + vm.userLanguage.flag +')'}}">
      </div>
    </div>

    <div>
      <searchbar compact-mode="true" ng-if="vm.profileValid"></searchbar>
    </div>

    <div>
      <md-button class="landing-link"
                 ui-sref-active="active"
                 ui-sref="login"
                 aria-label="Login"
                 ng-show="vm.currentState !== 'login' && !vm.token"
                 md-no-ink>
        <translate>Login</translate>
      </md-button>
    </div>

    <div>
      <md-button class="landing-link"
                 ui-sref-active="active"
                 ui-sref="signup"
                 aria-label="Singup"
                 ng-show="vm.currentState !== 'signup' && !vm.token"
                 md-no-ink >
        <translate>Sign Up</translate>
      </md-button>
    </div>

    <md-menu md-position-mode="target-right target" ng-if="vm.token">
      <md-button class="md-icon-button" aria-label="User" ng-click="vm.openMenu($mdOpenMenu, $event)" md-no-ink>
        <md-icon md-menu-origin class="material-icons ">person</md-icon>
      </md-button>

      <md-menu-content class="user-menu" width="4">
        <md-menu-item>
          <div class="user-name">
            <md-icon class="material-icons" md-menu-align-target>account_circle</md-icon>
            <span ng-hide ="vm.profile.name">{{vm.profile.email}}</span>
            <span ng-show ="vm.profile.name">{{vm.profile.name}}</span>
          </div>
        </md-menu-item>
        <md-menu-item>
          <div class="user-role">
            <md-icon class="material-icons" md-menu-align-target>verified_user</md-icon>
            <span>
              <translate>Role: {{vm.writeUserRole()}}</translate>
            </span>
          </div>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ui-sref="editProfile">
            <md-icon class="material-icons"><i class="material-icons">settings</i></md-icon>
            <translate>Edit my Profile</translate>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="vm.logout()">
            <md-icon class="material-icons">exit_to_app</md-icon>
            <translate>Logout</translate>
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <div ng-show="vm.profile.country">
        <span class="label">
          <translate>Country</translate>
        </span>
          <md-menu-item>
            <div class="user-lang" layout="row" layout-align="start center">
            <span class="country-flag">
                <img ng-src="{{vm.profile.country.flag}}" alt="{{vm.profile.country.prettyName}}">
            </span>
              <span class="country-label">
              {{vm.profile.country.prettyName}}
            </span>
            </div>
          </md-menu-item>
        </div>
        <span class="label">
          <translate>Site Language</translate>
        </span>
        <md-menu-item>
          <div class="user-lang" layout="row" layout-align="start center">
            <span class="country-flag">
                <img ng-src="{{vm.userLanguage.flag}}" alt="{{vm.userLanguage.name}}">
            </span>
            <span class="country-label">
              {{vm.userLanguage.name}}
            </span>
          </div>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <div>
      <md-button class="add-new-project" ui-sref="newProject"
                 aria-label="Add new project"
                 ng-show="vm.profileValid"
                 md-no-ink>
        <md-icon class="material-icons">add</md-icon>
        <translate>New Project</translate>
      </md-button>
    </div>

  </div>
</md-toolbar>
