// Angular Material's mixins
@import "../node_modules/angular-material-source/src/core/style/variables";

// WHO MAPS specific variables
$color-primary:          #283593;
$color-accent:           #FF8F00;
$color-primary-muted:    #BEC2DE;

$color-page-background:  #EDF3F7;

$color-black:            #000000;
$color-gray:             #757575;
$color-gray-light:       #9D9D9D;
$color-gray-lighter:     #E0E0E0;
$color-gray-lightest:    #F5F5F5;
$color-white:            #FFFFFF;

$text-primary:           #212121;
$text-secondary:         #757575;
$text-disabled:          #9D9D9D;

$color-red:              #F44336;
$color-green:            #7CB342;
$color-blue:             #039BE5;

$color-axis1:            #6A1B9A;
$color-axis2:            #D84315;
$color-axis3:            #0097A7;
$color-axis4:            #FBC02D;
$color-axis5:            #558B2F;
$color-axis6:            #5D4037;

$button-padding-wide: 0 rem(1.600) !default;
