<div md-whiteframe="2" class="comment" ng-class="{'expanded': vm.expanded}" layout="row" layout-align="start start">
  <div class="avatar-img">
    <span ng-hide="vm.item.avatar" class="no-avatar"></span>
    <img ng-show="vm.item.avatar" ng-src="{{vm.item.avatar}}" alt="avatar">
  </div>
  <div class="excerpt">
    <h3 class="md-title">{{vm.comment.username}}</h3>
    <div class="comment-info">
      <small class="time">
        {{vm.prettifyDate(vm.comment)}}
        <span>|</span>
        <!-- visible if user is able to edit -->
        <md-button class="edit-button" md-no-ink ng-click="">
          <md-icon>create</md-icon> Edit
        </md-button>
        <md-button class="edit-button" md-no-ink ng-click="">
          <md-icon>clear</md-icon> Delete
        </md-button>
        <span>|</span>
        <!-- / -->
        <cms-report-button item="vm.comment"></cms-report-button>
      </small>
    </div>
    <div class="comment-text">
      <span class="comment-text-wrapper">{{vm.comment.text}}</span>
      <span ng-click="vm.readMore()" ng-show="vm.comment.text.length > 100" class="read-more">
        <span ng-hide="vm.expanded"><span>... </span>Read more</span>
        <span ng-show="vm.expanded">Read less</span>
      </span>
    </div>
  </div>

</div>
