@import '../../variables';
@import '../../mixins';


.section-country-fields {
  margin-bottom: 0;
  padding-bottom: 20px;

  .section-wrapper {
    margin-top: 20px;
  }

  .generic-container {
    width: 100%;

    > div {
      margin-bottom: 40px;
    }
  }

  .number-field {
    // width: 33%;
  }

  .yesno-field {
    label {
      display: block;
      margin: 0 0 10px;
      padding: 10px 0 0 2px;
      font-size: 12px;
      font-weight: 500;
    }

    md-radio-group {
      margin-top: 25px;
      margin-bottom: 20px;
    }
  }

  .multi-selection-field {
    md-input-container {
      margin-top: 0;
    }
  }

  md-select {
    &[multiple] {
      .md-select-value {
        .md-select-icon {
          height: 100%;

          &::after {
            top: calc(100% - 20px);
          }
        }

        > span {
          display: block;
          min-width: auto;
          max-width: 100%;
          white-space: normal;

          .md-text {
            position: relative;
            box-sizing: border-box;
            display: block;
            width: 100%;
            padding-top: 17px;
            padding-bottom: 3px;
            padding-left: 26px;
            @include text-truncate();

            &:before {
              position: absolute;
              top: 18px;
              left: 0;
              content: "done";
              font-family: 'Material Icons';
              font-weight: normal;
              font-style: normal;
              font-size: 18px;
              line-height: 1;
              letter-spacing: normal;
              text-transform: none;
              display: inline-block;
              white-space: nowrap;
              word-wrap: normal;
              direction: ltr;
              -webkit-font-feature-settings: 'liga';
              -webkit-font-smoothing: antialiased;
            }
          }
        }
      }
    }
  }
}
