<div layout="row" layout-sm="column" layout-align="space-around" ng-show="!vm.dataLoaded">
    <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
</div>

<div  layout="column" layout-fill ng-if="vm.dataLoaded" >
<div layout="row">
    <img ng-src="{{vm.axisPicture}}" />
    <span> {{vm.axis.axis}}</span>
    <span>Scorecard</span>
</div>

<div layout="column" flex="100" layout-fill layout-padding>
    <div ng-repeat="domain in vm.data">
        <h4>{{domain[0].domain}}</h4>
        <div ng-repeat="question in domain[0].questions">
            <span>{{question.question_sum}}/{{question.question_max}}</span>
        </div>
    </div>
</div>
</div>
