<div class="wrapper-preset">
    <div layout="row" laxout-align="start start">

        <div class="content-preset" flex="40">

          <h4 class="md-title">{{vm.footerTitle}}</h4>

          <p>{{vm.footerText}}</p>

        </div>

        <div class="content-logos" flex="60">
            <h4 class="md-title">Country Partners</h4>

            <div class="partnerscontainer">
                <div
                    ng-repeat="logo in vm.partners track by $index | limitTo:8 "
                    class="partner"
                    ng-if="vm.partners.length">

                      <span class="logoimg" ng-style="vm.computeLogoStyle(logo)"></span>
                </div>
            </div>
        </div>

    </div>
</div>
