<div class="wrapper-preset">
    <div layout="row" laxout-align="start start">

        <div class="content-preset" flex="30">
            <h4 class="md-title">{{vm.footerTitle}}</h4>
            <p>{{vm.permanentFooter}}</p>
            <p>{{vm.footerText}}</p>
        </div>

        <div class="content-logos" flex="60" flex-offset="10">
            <!-- TODO -->
            <!-- first block is static, the second is from the backend/js? -->

            <div class="partnerscontainer">
                <h4 class="md-title">Global support to DHA</h4>
                <!-- TODO -->
                <!-- This logic should be moved to the next 'partnerscointer' -->
                <!-- <div
                    ng-repeat="logo in vm.partners track by $index | limitTo:4 "
                    class="partner"
                    ng-if="vm.partners.length">

                      <span class="logoimg" style="background-image: url({{logo}})"></span>
                </div> -->
                <div class="partner">
                    <span class="logoimg" style="background-image: url('/static/partners/who-logo.png')"></span>
                </div>
                <div class="partner">
                    <span class="logoimg" style="background-image: url('/static/partners/logo-hrp-new-cropped.png')"></span>
                </div>
                <div class="partner">
                    <span class="logoimg" style="background-image: url('/static/partners/logo-path-color.png')"></span>
                </div>
                <div class="partner">
                    <span class="logoimg" style="background-image: url('/static/partners/logo-digital_square.png')"></span>
                </div>
            </div>

            <!-- TODO -->
            <!-- Hide this when it's empty! -->
            <div class="partnerscontainer hidden">
                <h4 class="md-title">In-country support to DHA</h4>
                <div class="partner">
                    <span class="logoimg" style="background-image: url()"></span>
                </div>
            </div>
        </div>

    </div>
</div>
