@import '../../variables';
@import '../../mixins';

.wrapper-preset {
  max-width: $page-max-width;
  margin: 100px auto 0;
  background-color: $color-white;

  > div {
    padding: 50px 70px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: $text-primary;
  }
}

.content-preset {}
.content-logos {}

country-partners {

	.partnerscontainer {
    @include clearfix();

		.partner {
      box-sizing: border-box;
      float: left;
      // Partner logo placholder size
      width: 140px;
      height: 60px;
      //
      margin: 0 50px 20px 0;
      // background-color: $color-gray-lightest;

			.logoimg {
        float: left;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
			}
		}
  }

  + disclaimer {
    footer {
      max-width: $page-max-width;
      margin: 0 auto;
      background-color: $color-gray-lightest !important;
    }
  }

}
