@import '../../variables';
@import '../../mixins';

.wrapper-preset {
  width: 100%;
  background-color: $color-white;

  > div {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 50px 50px;
  }

  h4 {
    font-weight: 400;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: $text-secondary;
  }
}

.content-preset {
  padding-right: 100px;
}

country-partners {

	.partnerscontainer {
    @include clearfix();

		.partner {
      box-sizing: border-box;
      float: left;
      width: 20%;
      margin: 5px 25px 20px 0;
      // background-color: $color-gray-lightest;

      figure {
        float: left;
        position: relative;
        display: inline-block;
        margin: 0;
        width: 100%;
        height: 70px;
      }

			.logoimg {
        display: block;
				width: auto;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
			}
		}
  }
}
