<md-dialog aria-label="add-new-content">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>Add new content modal</h3>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon  aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <trix-component value="vm.newContent"></trix-component>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button  ng-click="vm.cancel()">
      cancel
    </md-button>
    <span flex></span>
    <md-button ng-click="vm.submit()">
     submit
    </md-button>

  </md-dialog-actions>
</md-dialog>